[2021-02-04 01:19] toddysm opened #509 "Enable notifications for ACR Tasks"
**What is the problem you're trying to solve**
When a task fails, I would like to be notified so I can take appropriate actions.

**Describe the solution you'd like**
The following two functionalities will give maximum flexibility:
- Send a message (EventGrid)
- Call a webhook

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-02-04 01:21] toddysm commented on #493
This feature is not in limited preview. Details on https://aka.ms/acr/connected-registry

[2021-02-04 07:56] tomkerkhove commented on #509
💘 for Event Grid!

[2021-02-23 22:24] acerock opened #511 "acr build task fails with error during hcsshim::System::Start: context deadline exceeded"
az acr build --platform windows occasionally fail with "error during hcsshim::System::Start: context deadline exceeded"

After using acr build task with high stability since summer 2020 we have experience instability and increasing failure rates since mid January 2021. Every 10th build or so seam to fail with the context deadline exceeded message.

The docker file and build context itself is rathe

[2021-02-23 22:42] northtyphoon commented on #511
@acrokat for "context deadline exceeded" error, it's due to a windows container image issue. Windows team has released the fix at 2/9/2021 and updated all supported images listed in https://hub.docker.com/_/microsoft-windows-servercore . Can you please make sure your own `servercore:ltsc2019` base image (the one used in your Dockerfile) has been rebuilt from `mcr.microsoft.com/windows/servercore:l

[2021-02-24 00:03] northtyphoon commented on #263
Windows team has released the fix at 2/9/2021 and updated all supported images listed in https://hub.docker.com/_/microsoft-windows-servercore. If you build against these image directly, you should see the improvement. If you build from your own base image, please make sure you rebuild your base image using the latest windows images.

[2021-02-24 00:03] #263 closed

[2021-02-24 18:09] jabbera commented on #338
Anything you can share on this?

[2021-02-24 18:24] jomeier commented on #338
Come on Microsoft: Listen to your customers. We need that feature.

[2021-02-24 19:56] acerock commented on #511
Thanks @northtyphoon
We have double-checked that we uses the very latest base image for Windows. As we have a weekly refresh of servercore base image we started to use the very latest 14th of February.

Microsoft Windows [Version 10.0.17763.1757]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\app>systeminfo

Host Name:                 136D30222967
OS Name:                   Microsoft
OS

[2021-02-24 22:29] SteveLasker commented on #338
Hi @joneier and @jabbera,
We share your concern and don't want you to feel we're ignoring you.

This is a fairly complex and large feature. We initially launched [ACR Tokens](https://aka.ms/acr/tokens) with scope maps to provide repo level permissions. We were about to add AAD support but got clear feedback we can't force a single owner of the whole registry to manage permissions for multiple team

[2021-03-03 20:19] mhtonysantaferra commented on #360
My company just ran into this specific issue.  The Private Endpoints which setup a specific IP address that should be what the DNS that gets setup inside an AKS cluster should resolve to the cluster IP.

The fact that it doesn't allow this to work is a failure since we cannot authenticate against the ACR with this causes us to force public access to the ACR and force our AKS to have to connect to

[2021-03-04 17:13] mmhealey1 opened #518 "Increase the number of firewall IP address ranges allowed"
I am trying to add the IP ranges for Microsoft hosted build agents (see - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#to-identify-the-possible-ip-ranges-for-microsoft-hosted-agents) so that I can get them to push to my azure container registry. The problem is that I hit a limit of 100 IP addresses that I am able to add. I need to add 1000s in o

[2021-03-04 20:14] bbgobie opened #519 "Deleting tag does not delete layers that aren't used by other images"
**Describe the bug**
Deleting specific images does not delete layers associated with the image even if they are not used by any other image.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a unique Dockerfile and push it.
`FROM alpine
RUN echo foo > file`
`docker build . -t <registry>/repo:tag`
2. Push the image
`docker push registry/repo:tag`
3. Delete that specific image.
`az acr rep

[2021-03-05 00:51] SteveLasker commented on #451
Sorry to hear folks have hit these issues.
The move to managed identities is goaled at simplifying the configuration of nodes, and their auth to registries, and other resources.
Can folks confirm the above versions have solved their issues with auth to ACR?

[2021-03-05 05:46] rajivml commented on #451
yeah with v1.17 upgrade, we no longer see these issues

[2021-03-05 09:06] mkstephenson opened #520 "Retention policy deletes retagged images"
**Describe the bug**
With the retention policy enabled, any manifests which are completely untagged and then re-tagged are still deleted, resulting in the case that images are still listed in the registry but the underlying manifest is no longer available.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the retention policy on the registry
2. Upload an image to the registry with one t

[2021-03-05 14:17] SteveLasker commented on #451
Thanks for the confirmation. Apologies to those impacted.

[2021-03-05 14:17] #451 closed

[2021-03-05 18:22] snobu opened #521 "Default build image missing some important stuff"
I'd like to build a container image from a Python project. This Python project needs to build a wheel for its grpc dependency. That needs GCC. It's missing in the ACR worker.

[code]

For Ubuntu the missing package would be `build-essential`.

Can i still use ACR Build Tasks in this case?

[2021-03-05 18:44] northtyphoon commented on #521
@snobu the error indicated gcc was not available in your docker image. You need to make sure the base image used in your Dockerfile has included the "build-essential". If not, your Dockerfile should include corresponding step to install the missing tool.

[2021-03-05 20:43] snobu commented on #521
I had some very flawed assertions on how all this works. I feel pretty silly now. Sure, changing the base image works and i have now successfully built my image with `az acr build`. Thanks for jumping in so quickly.

[2021-03-05 20:43] #521 closed

[2021-03-09 19:43] hkuadithya commented on #518
@yugangw-msft can you chime in on this?

[2021-03-09 21:08] SteveLasker commented on #518
Hi folks,
When adding IP ranges to firewalls, you should always ask, what is operating on those IPs? What am I letting into my network and/or resource? The ACR firewall rules are meant as an exception, not a full firewall product.

Consider this: The IP ranges of the hosted agents represent your build agents, but they also may represent your competitor or evil doers.  They represent all possible b

[2021-03-10 10:35] mmhealey1 commented on #518
Also, as an FYI - DevOps don't want to make their service part of the Trusted Services. See - https://developercommunity.visualstudio.com/t/AzureDevops-dont-considerate-as-Micros/1189404?space=21&q=trusted%20service

[2021-03-10 10:54] avtakkar commented on #506
Hi @corrupt-code, would you please create a support ticket for further assistance?
https://azure.microsoft.com/en-us/support/create-ticket/

[2021-03-10 14:15] SteveLasker commented on #518
Sorry. It’s frustrating to get bounced around. I believe they would say the dedicated agents are their VNet solution. Or, eventually, GutHub private instances.
Have you taken a look at ACR Task Agent Pools?  https://aka.ms/acr/tasks/agentpool

[2021-03-10 16:36] alexandru-bostan opened #522 "Quarantine Preview - Pull based on digest"
**Describe the bug**
It is possible to pull a quarantined image by its digest even if the entity performing the pull doesn't have AcrQuarantineReader/AcrQuarantineWriter permissions

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Quarantine policy on a Container Registry (done via ARM template)
2. Create a Service Principal and grant it "AcrPush" role on ACR
3. Docker login to ACR as

[2021-03-11 07:05] avtakkar commented on #522
Hi @alexandru-bostan , when you push the image and then try to pull it without deleting, the docker client will not pull anything from the registry but use the locally cached image. When you delete your local image, the pull is blocked by the ACR server because the operation is unauthorized.

[2021-03-11 10:01] jmalkiew opened #523 "Allow ACR to use Customer Managed Key based encryption from Key Vault with private endpoint"
We'd like to be able to encrypt ACR (accessed via private endpoint) with Customer Managed Key (from Key Vault accessed via private endpoint).

[2021-03-11 16:22] yugangw-msft commented on #523
Before we implement one of the options, the workaround is to use a temporary public key vault and then key rotate to the target  vault:
    1. Access via private endpoint through user assigned identity
    2. Support encrypt exist registry

[2021-03-11 20:43] kevin-tong-msft commented on #519
It is not a bug. Two concepts to clarify when you delete a manifest (image)

**layer blob cleanup**
It could take up to 7 days for background service to clean up any layer with zero reference count (i.e., layer not being used by any other images). That's why you may see "Layer already exists .." when you push the same image again.
Note: ACR maintains some internal data structures so "layer blob cl

[2021-03-11 20:47] #519 closed

[2021-03-12 07:49] alexandru-bostan commented on #522
Hi @avtakkar,

Thanks for clarifying things, I now understand what happened!

[2021-03-12 07:49] #522 closed

[2021-03-15 14:54] awakecoding commented on #381
@mangalorereshmi can you clarify what are the requirements for having anonymous pull support? It's not so clear which kind of subscription is required, or if this is limited to a specific ACR SKU. I'm looking for *public* registry that supports OCI artifacts for public distribution. ACR would fit the bill because it supports OCI Artifacts, but being able to make the registry public would be a hard

[2021-03-15 19:50] jmalkiew opened #524 "Allow to deploy images to AKS virtual-node (ACI) from ACR deployed into VNET"
**What is the problem you're trying to solve**
We'd like to be able to deploy containers to AKS virtual node (https://docs.microsoft.com/en-us/azure/aks/virtual-nodes) from an ACR that is deployed into VNET (private endpoint & Firewall enabled).
Currently that's not possible as AKS fails to create a pod due to "HTTP response status code 409 error code "RegistryErrorResponse" it receives from ACR.

[2021-03-15 20:20] SteveLasker commented on #524
Assigning to @macolso as an ACI request.

[2021-03-16 08:18] AswinPM commented on #124
Hey, this worked when I provided ACR pull role not the contributor role.

[2021-03-16 14:32] francois-gsk opened #525 "az acr login error after password change"
After every Azure password modification, `az login` is fine, but `az acr login` fails.

When I run `az acr check-health -n xxxxxx --yes`, it's the same error:

[code]

Usually I have to wait up to 2 days before I can login to my `acr`

[2021-03-16 18:24] estebanreyl commented on #525
Hi @francois-gsk , could you please create a support ticket for further assistance and better tracking?
https://azure.microsoft.com/en-us/support/create-ticket/

As a tip in the meanwhile consider trying this using the Azure cloud shell, we've seen this sort of error on network configuration issues before and its worth trying to see if there is a difference when accessing from there.

[2021-03-16 19:47] infbase opened #526 "Calling acr import from acr task"
I would like to know if/how an image import can be called in an acr task.

A use case for this is:
- 2 acr instances
- acr A (non-production acr) has an image based on mcr.microsoft.com/dotnet/runtime:3.1 and a task with baseImageTrigger enabled
- acr import is used to promote this image from acr A to acr B (production acr)
- the image in acr B should be kept up-to-date but using a predefined sche

[2021-03-16 19:57] northtyphoon commented on #526
if you use [multi-step](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-multi-step) yaml file to define you task, you can create a [user or system assigned managed identity on the task](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-authentication-managed-identity) and assign the identity to access acr B, after that, you can ru

[2021-03-16 20:04] infbase opened #527 "Trigger pod updates in AKS when an ACR task trigger updates an image"
**What is the problem you're trying to solve**
After an ACR task trigger updates an image, the running pods in AKS with that image should also be updated. Without that happening, we can end up in a scenario where we have critical vulnerabilities exposed in an AKS cluster even after they have been patched in ACR.

**Describe the solution you'd like**
When an AKS (or Arc for k8s) cluster has GitOps

[2021-03-17 04:23] ankurkhemani commented on #520
@mkstephenson Do you have an ACR with geo-replication enabled? We are looking into this, will provide an update soon.

[2021-03-17 06:48] mkstephenson commented on #520
Currently no, this is not being replicated anywhere

[2021-03-17 07:14] francois-gsk commented on #525
@estebanreyl Done!

[2021-03-17 09:10] #526 closed

[2021-03-17 15:11] infbase opened #528 "Get task git-access-token from Key Vault"
**What is the problem you're trying to solve**
The lifecycle of a git-access-token configured in a task's source triggers may have a different lifecycle than that of the task. This means that sooner or later, that token may expire and need to be renewed, for instance. If a single token is used in multiple tasks, this forces updating each individual task, possibly days after the token has expired.

[2021-03-17 19:48] ankurkhemani commented on #520
@mkstephenson We have identified this as a bug on our end due to a change that can prevent invalidating the purge after the retag. Our team will work on a fix and rollout asap.

For now, we recommend disabling the policy until the fix is rolled out. Please let us know if there's a particular image you need recovered. Or, you can simply push the image again after disabling the policy (and final ret

[2021-03-18 17:27] sam-cogan opened #529 "Find all manifests associated with a tag"
**What is the problem you're trying to solve**
As far as I can tell there is no way to find all manifests associated with a particular tag when looking at a multi-platform image using Azure CLI or PowerShell. The portal seems to manage to do it, but looking at the data that the CLI returns the only manifest that has a tag associated with it is the top level one, if you need to find the digest for

[2021-03-24 00:52] #384 closed

[2021-03-24 08:16] mkstephenson commented on #520
@ankurkhemani thanks, we currently don't have any which need recovering. Over which channels you be announcing that the bugfix has been rolled out?

[2021-03-24 21:21] ankurkhemani commented on #520
@mkstephenson We will provide you an update here.

[2021-03-25 12:21] #323 closed

[2021-03-25 12:21] slawekww commented on #323
I do not expect this feature anymore.

[2021-03-25 17:53] northtyphoon commented on #511
@acerock for the cli error issue, we released a fix in 2.21.0. Can you upgrade to the latest azure cli and try? Please let me know if you still run into the issue.

[2021-03-30 22:40] sajayantony commented on #509
/cc @mnltejaswini - The cross cloud publishing scenario become so much more easier if we had task integration as a publisher and subscriber.

[2021-03-31 04:54] jabbera opened #531 "Connected Registry"
Care to share whatever black magic this is:-) https://docs.microsoft.com/en-us/cli/azure/acr/connected-registry?view=azure-cli-latest

Is this a solution to the auth issue wrt owning repositories?

[2021-03-31 05:30] avtakkar commented on #531
A description of connected-registry is here: https://github.com/Azure/acr/blob/main/docs/preview/connected-registry/intro-connected-registry.md

[2021-03-31 17:01] TravisEz13 opened #532 "Add support for building on Windows versions AFTER 2004"
**What is the problem you're trying to solve**

I want to be able to build docker images for 20H2.

**Describe the solution you'd like**

I want to be able use ACR build/tasks to build 20H2 docker images

**Additional context**

https://github.com/PowerShell/PowerShell-Docker/pull/523

Currently it fails with:

[code]

[2021-04-01 03:47] jabbera commented on #531
Thanks!

[2021-04-01 03:47] #531 closed

[2021-04-01 07:41] GrumpyMeow commented on #532
+1
Same here!
Building a custom image FROM "windows/servercore:20H2" gives this error:
`no matching manifest for windows/amd64 10.0.19041 in the manifest list entries`

[2021-04-05 19:34] SteveLasker commented on #527
Hi folks,
Have you looked at: https://aka.ms/acr/webhooks
There's more details here: [Working with ACR Geo-replication notifications](https://stevelasker.blog/2018/01/29/working-with-acr-geo-replication-notifications/)

[2021-04-06 17:27] NHLeo opened #533 "CONNECTIVITY_CHALLENGE_ERROR for container registry with private endpoint"
I have created an Azure Container Registry that is accessible only via a private endpoint.

- ACR:  <redacted>
- Private endpoint: <redacted>
- Private DNS zone: <redacted>
- Virtual networks linked to the private DNS zone:

When accessing the ACR from a VM on one of the linked vnets (<redacted>).  The following behavior is observed:
1) resolve-dnsname <redacted>.azurecr.io works from PowerShell a

[2021-04-06 21:52] yugangw-msft commented on #533
@NHLeo, our service log shows the request was rejected due to public access disabled. Could you please cross check whether the 2 vnets are peered together? And when you run "nslookup" does the private ip matches the ip of the network interface resource created with the private endpoint

[2021-04-07 00:05] yugangw-msft commented on #533
@NHLeo, meanwhile please open a support ticket to avoid disclosing your registry details in public site

[2021-04-07 13:44] NHLeo commented on #533
VNet peering was the answer.  Most/all of the documentation that I found had the private endpoint and the VM that was accessing it on the same vnet.  So, the virtual network links and vnet peering were never mentioned.  https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link

[2021-04-07 15:58] NHLeo commented on #533
Issue can be closed.

[2021-04-07 15:58] #533 closed

[2021-04-15 22:43] dlepow commented on #494
Please close this issue as the limitation is currently documented. Thank you!

[2021-04-20 12:16] jabbera opened #536 "acr import --force to replace tag doesn't work replace tag"
**Describe the bug**
Running: az acr import -n registry --source registry.azurecr.io/jupyter/minimal-notebook:20210420.7 -t minimal-notebook:preview --force

When the preview tag already exists doesn't actually replace the preview tag.

**Expected behavior**
Preview tag should be updated to point to new manifest

[2021-04-20 21:55] iamjasonp commented on #536
@yugangw-msft could you please help take a look?

[2021-04-21 14:00] #511 closed

[2021-04-21 22:25] yugangw-msft commented on #536
@jabbera, I am not able to reproduce this issue. How did you verify the tag was not replaced? Like using CLI `az acr repository show-tags -n registry --repository minimal-notebook --detail`?

[2021-04-22 00:02] jabbera commented on #536
I used the portal and looked at the last update date/sha on the tag in the repository.

[2021-04-22 12:51] jabbera commented on #536
What also might be a bit unusual: my use case is overwriting a tag on the same repository I'm sourcing from. IE in my example I'm just trying to overwrite the existing preview tag with the manifest from the same repository.

[2021-04-22 19:12] yugangw-msft commented on #536
@jabbera, thanks for the detail, I assume `tag and docker re-push` isn't an option for you, so you are looking at `import`
CC @nathana1

[2021-04-22 19:19] jabbera commented on #536
@yugangw-msft  That's what I'm doing as a workaround but the image is are 6+ GB

[2021-04-23 03:30] Wwwsylvia commented on #536
Hi @jabbera, I tried the same operation in my registry but was not able to reproduce this issue. Here is my test:
[code]

Did I miss something? Could you double check your manifests?

[2021-04-23 16:00] jabbera commented on #536
Sigh... I should really learn how to spell. Many many apologies.

[2021-04-23 16:00] #536 closed

[2021-04-26 16:18] clarkezone commented on #224
@northtyphoon how do you get the password for the service principal to use your example above?

[2021-04-27 14:09] MattiasAng commented on #499
@SteveLasker Do you have any update on this?

[2021-04-28 14:20] pedro948 commented on #345
Still not working for me.

[2021-04-28 21:58] SteveLasker commented on #345
@ccompy can you help with app services configuration?

[2021-04-29 11:37] Wwwsylvia opened #537 "Unable to import some images from releases-docker.jfrog.io"
**Describe the bug**
Image import from `releases-docker.jfrog.io` is stuck at running state and never finish

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
Image import succeed or fail with explicit error message

**Screenshots**
![image](https://user-images.githubusercontent.com/8113721/116544691-0bfc5300-a922-11eb-9242-bed69ce72a47.png)

[2021-04-30 16:02] ctienshi commented on #448
@mangalorereshmi @Wwwsylvia Can I please know when this feature will be implemented ?

[2021-04-30 16:18] yugangw-msft commented on #508
this is fixed and rolled out

[2021-04-30 16:18] #508 closed

[2021-04-30 16:19] yugangw-msft commented on #343
This was supposed to be addressed. Right now no abnormal latency was reported by our CI

[2021-04-30 16:19] #343 closed

[2021-05-06 05:58] #427 closed

[2021-05-06 18:21] Pierre-Alexandre35 commented on #509
Hello guys, have you been able to add this feature? Our team is facing the same problem, we would like to get a notification when  a task fails

[2021-05-11 06:22] Wwwsylvia commented on #448
Hi @ctienshi , we have implemented the storage used metric and will roll out it soon.

[2021-05-13 08:24] MatthiasWinzeler commented on #351
After running these builds for a while, we noticed that exporting the docker image took a lot of time, even if cached; we filed a support request with microsoft and got the following instructions, which fixes the issue.

The current way to use caches is:

acr_build.yml
[code]

invocation:
[code]

[2021-05-13 10:24] #351 closed

[2021-05-16 15:00] klingac commented on #459
Any update on this?

[2021-05-16 21:40] yugangw-msft commented on #520
Fix was rolled out

[2021-05-16 21:40] #520 closed

[2021-05-16 21:43] yugangw-msft commented on #422
Closing due to no response.

[2021-05-16 21:43] #422 closed

[2021-05-16 21:44] yugangw-msft commented on #324
data endpoint was released:

https://azure.microsoft.com/en-us/updates/azure-container-registry-dedicated-data-endpoints-now-in-preview/

[2021-05-16 21:44] #324 closed

[2021-05-27 08:58] ayanibr opened #547 "Feature: Any pushed docker image to ACR is signed automatically"
Is this a BUG REPORT or FEATURE REQUEST?:
FEATURE

What happened?:
At the moment, to have signed images in the registry, the set of manual steps are required using cli or using pipeline yaml to sign and push docker images.

What we expect:
It would be nice to have an option to sign images automatically which are pushed to ACR.

Instead of using cli or yaml pipeline, the option to configure the ACR

[2021-05-31 18:07] sumanraja opened #548 "Enable a feature so user can list images based on last pulling date"
**What is the problem you're trying to solve**
We wanted to delete all the images with layers which are stale on acr and not in use.

**Describe the solution you'd like**
We would like to free up some spaces from acr and looking for a functionality so we get get list of images which are not pulled from ACR in a given time period(e.g. 60 days)

**Additional context**
If this functionality can be ac

[2021-06-01 17:40] btardif commented on #345
@SteveLas you can assign this to me here is the current state:

I have a doc update coming up shortly that cover this cross subscription scenario
We have UX updates that will add support for cross sub ACR in the next quarter.

[2021-06-01 17:44] SteveLasker commented on #345
Excellent, thanks @btardif

[2021-06-01 17:46] SteveLasker commented on #345
@btardif, is there an App Service repo of issues we can transfer this to?
Folks still find this, even if closed. It would be great to transfer to App Service and activate until resolved.

[2021-06-01 17:47] btardif commented on #345
We don't track App Service issues on GitHub, next best thing would be our [uservoice](https://feedback.azure.com/forums/169385-web-apps)

but since folks are coming here that's why I wanted to use it for updates.

[2021-06-02 21:40] gtam opened #549 "az acr import sits in Running state"
**Describe the bug**
Running the import job against a GCP Artifact Registry with service account keys described here https://cloud.google.com/artifact-registry/docs/docker/authentication#json-key.  The password pass into the command is base64 encoded password (~4000 characters long).  The import job remains in Running state.  Appending --debug repeats a HTTP 202 status message indicating the impor

[2021-06-03 00:51] northtyphoon commented on #549
@gtam, it looks the issue is the source registry you tried to import image from didn't support Range headers in HTTP requests.

[2021-06-08 15:07] robLesniak opened #551 "combain acr task with acr import to import images with --schedule flag"
Hi
I was wondering if there is a way to combine both `acr task` with `acr import` statement. Basically i am trying to periodically importing latest distroless image to my ACR. The --schedule flag is feature of `acr task` but it would perfectly fit to `acr import`.
I have noticed that task create also have flag --cmd and i was trying to put import here to invoke it daily, but i think it's not desig

[2021-06-08 16:45] sajayantony commented on #551
Have your tried creating a managed identity and giving it import permissions. This will automatically use the Managed identity to login to AZ and can also run the az acr import under that identity.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-authentication-managed-identity

/cc @shahzzzam

[2021-06-08 18:41] sajayantony commented on #551
Here is a full sample to setup an hourly import for java non-root distroless

## Create the multi-step acb.yaml
This can be used to create the task.

[code]

## Create task with managed identity

[code]

## Provide permisssions to the invoke import

[code]

## Test the task and check the image

[code]

[2021-06-09 11:53] robLesniak commented on #551
@sajayantony
It works like a charm! Huge thanks!

[2021-06-09 11:53] #551 closed

[2021-06-10 08:20] GrumpyMeow commented on #532
Still no news? :-(

[2021-06-10 10:20] ezYakaEagle442 opened #553 "Support for Teleport on ARO"
Support for Teleport on ARO + OCP on-prem

**Additional context**
see
- #418
- [https://github.com/Azure/OpenShift/issues/228](https://github.com/Azure/OpenShift/issues/228)

@SteveLasker

[2021-06-14 09:55] sosenist commented on #448
Hello @mangalorereshmi @Wwwsylvia, do we have any update on when it's going to roll out? Also, if you implemented this feature, could you provide me with documentation on how to configure it properly?

[2021-06-14 16:43] scp-mb commented on #418
To provide a real world use case, currently we are using AKS to spin up new containers running Azure DevOps agents to handle CI/CD jobs, which teardown after each completed job. Only two agent containers are running 24/7 to meet immediate demand with the rest spun up on demand as the agent pool queue increases.

Currently, that means we're using auto scaling to spin up additional VM nodes as load

[2021-06-15 01:58] Wwwsylvia commented on #448
Hi @ctienshi @sosenist , the storage used metric has been rolled out. Please refer to this doc - [Monitor Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/monitor-service), and please let us know if you find anything unclear.
The repository-level metric is not supported yet.

[2021-06-18 10:20] alexdegroot commented on #338
There are multiple items now on the Uservoice:

https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/40006789-allow-token-scope-to-be-at-the-namespace-level
https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/41247682-allow-wildcard-in-scopemap-repository-namespace-co

I know the need is there, especially when you look from multi-team development

[2021-06-24 09:27] alexdegroot commented on #338
@SteveLasker do you expect this will be on the roadmap for 2021H2?

[2021-06-25 02:14] SteveLasker commented on #338
We’re finalizing the plan for the next 6 months. @mangalorereshmi for details.

[2021-06-29 17:47] MadCat33 commented on #338
Our organization is also waiting for this feature to be implemented.

[2021-07-01 15:36] dominik-lekse commented on #549
The documentation of GCP Artifact Registry tells "Artifact Registry does not support Docker chunked uploads. Some container image tools support uploading large container images with either chunked uploads or a single monolithic upload. You must use monolithic uploads when you push container images to Artifact Registry." (https://cloud.google.com/artifact-registry/docs/reference/docker-api). Beyond

[2021-07-08 12:14] Monishguru commented on #547
@ayanibr With Azure DevOps Pipeline, when trying to push the image with the sign, we get the following error. Have you ever came across this, if yes can you please let us know what exactly is missing ...we have initialized the repo with a delegate key and we are able to see all the keys when we do a trust inspect...any help would be appreciated

##[error]time="2021-06-29T10:07:28Z" level=error msg

[2021-07-09 05:04] Pragneshn opened #557 "Expansion layer issue"
For my image(centos image ) **./expansion-check.sh** give status 409 expanding layers continuously. what should i do ?

[2021-07-09 17:27] estebanreyl commented on #557
That most likely indicates you hit an issue on our backend decompression service which is preventing the image from decompressing and thus it appears as stuck (it will do retries with a backoff time so it will be in that state for a while). To identify your particular case we would need the acr name. We do currently have a couple of limitations that would cause this : 1. A layer within the image i

[2021-07-13 04:51] eugenecg commented on #532
Hi any news on this issue?

[2021-07-13 16:10] GrumpyMeow commented on #532
Recently it still didn’t work

[2021-07-18 23:52] kumarunkulawardene commented on #181
I tried the sample you gave and it works;
az acr import --name xxxxxxx.azurecr.io --source mcr.microsoft.com/windows/servercore:ltsc2016 -t import-test/servercore:ltsc2016

But I'm getting error when I try to copy image from one of my other acr repos which allows anonymous access. I can pull from the source ACR and push to target ACR without no issues. But using the same account when I try to impo

[2021-07-19 00:01] kumarunkulawardene opened #559 "Error when trying to copy image from one acr to another"
Error when trying to copy image from one acr to another

**To Reproduce**
Steps to reproduce the behavior:
1. az Login
2. az acr login --name XXXXXX.azurecr.io
3. az acr import --name XXXXXX.azurecr.io --source YYYYYY.azurecr.io/xxxxxx:v7.9 -t xxxxxx:v7.9

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help e

[2021-07-20 23:48] northtyphoon commented on #559
@kumarunkulawardene if you still encounter the issue, can you please open an support ticket https://aka.ms/acr/support/create-ticket? For the authorization failure you mentioned, we are unable to provide the support in public github forum as it's specific to your private registry resource which can include sensitive information.

[2021-07-20 23:50] northtyphoon commented on #557
@Pragneshn if you still encounter the issue, can you please open a support ticket https://aka.ms/acr/support/create-ticket?

[2021-07-21 00:03] northtyphoon opened #561 "Lock image: provide a solution to block updating an image but still allow deleting it"
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-image-lock

Current ACR provide two lock mode,

1. write-enabled: block both update and delete
2. delete-enabled: allow update but block delete only

There is no solution to block update but allow delete

[2021-07-27 07:59] digeler opened #562 "C# Sdk cannot find a way to enable Zone Redundancy on Acr"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Looking at the method to create container registry in c# :
IRegistriesOperations
am not able to see how to create the acr with zone redundancy enabled.
This are the properties i see :
  Sku sku,
      string location = null,
      string id = null,
      string name = null,

[2021-07-30 15:57] nsadula opened #563 "Unable to connect to ACR when connected to ATT network"
**Describe the bug**
A clear and concise description of what the bug is.

Unable to login to the ACR that is on the ATT subscription connected to a ATT network though enabled all the network can access the ACR.

![image](https://user-images.githubusercontent.com/53452205/127679167-b408c3d1-6557-4737-961f-fc9740023098.png)

**To Reproduce**
Steps to reproduce the behavior:
1. docker login <acr_name

[2021-07-30 16:47] sajayantony commented on #563
@nsadula please open a support case through the portal so that the issue can be handled compliantly without disclosing details on a public GitHub thread.

[2021-08-04 06:49] shizhMSFT commented on #562
The SDK is currently based on API version `2019-12-01-preview`. However, the availability zone is supported since API version `2020-11-01-preview`.

@luisdlp Do we have a plan to upgrade the dotnet SDK against the latest API version.

[2021-08-04 09:42] shizhMSFT commented on #561
Basically, it is an archive mode.

[2021-08-05 06:28] shizhMSFT commented on #562
@digeler We are planning to publish a GA API this semester and will update all SDKs accordingly.

[2021-08-05 12:32] roestzwiee commented on #459
Any updates on this?

I wonder if it is possible to execute the import on a schedule. Will it properly resolve updates?

[2021-08-06 07:11] shizhMSFT commented on #549
Thanks for bringing this up to our attention.  Due to security concerns, this is a scenario we currently do not support since we rely on range headers.  Our team will discuss and investigate how can we improve Azure interoperability story with GCP in a way that is reliable and secure.

[2021-08-10 10:57] AntonioNaranjo1 commented on #338
any new? is a necessary feature, we need it in our organization

[2021-08-12 12:03] infbase opened #566 "Task failed to set docker credentials for external registry"
**Describe the bug**
Using ACR tasks to build image where the dockerfile references a base image in another private ACR.
When the task runs the credentials for the other ACR are not loaded:

[code]

**To Reproduce**
[code]

**Expected behavior**
The task should successfully load the additional credentials.

**Additional context**
The other ACR is in another tenant, if that's relevant.

[2021-08-12 18:53] savaradh commented on #566
Hi @infbase,

When adding a task credential with keyvault url, you need to give access to the keyvault for the Task's identity. Can you please confirm if that is done already?

If not, please do the following steps to update the keyvault policy.

`
principalID=$(az acr task show \
  --name <task_name> --registry <registry_name> \
  --query identity.principalId --output tsv)

az keyvault set-policy

[2021-08-13 17:31] infbase commented on #566
Hi @savaradh,

Yes, a user-assigned managed identity is used to retrieve those secrets.
Also:

- If we pass the values instead of the AKV URLs we get the same error.
- Using a multistep task with the following code successfully connects to the other registry:

[code]

[2021-08-13 20:18] infbase opened #567 "build step on multistep task fails when cache:enabled and base image in private ACR"
**Describe the bug**
On a multistep task, when cache:enabled is set on a build step and base image is in a private ACR, task fails when fetching base image digest.

[code]

If `az acr task credential add` is used to persist login credentials for the other private ACR, behavior is the same as [issue #566](https://github.com/Azure/acr/issues/566)

**To Reproduce**
Steps to reproduce the behavior:

M

[2021-08-16 10:21] tgossler opened #568 "Updated cert for custom domain not taken from key vault"
**Describe the bug**
We are in the private preview for the custom domain feature for ACR (see here: https://github.com/Azure/acr/tree/main/docs/custom-domain) and are using it successfully for about one year. Now, the certificate has expired and we need to update it. So, we have ordered a new certificate and uploaded it according to the manual in PEM format as a new version into the Key Vault. Not

[2021-08-16 12:37] avtakkar commented on #568
@tgossler , please open a [support request](https://azure.microsoft.com/support/create-ticket/) and we can assist you further after you provide your certificate's key vault identifier. Automatic certificate rotation is now supported in private preview.
FYI - @sajayantony

[2021-08-16 15:03] tgossler commented on #568
Ok, thanks. I have done that. Would be good to add this information to the documentation page.
Why is this feature in "private preview" for such a long time?

[2021-08-16 16:49] toddysm commented on #568
Just to clarify, automatic cert rotation is NOT supported yet. To update the certificate, you can open a support ticket.

[2021-08-16 18:33] toddysm commented on #568
@dlepow Can we update the documentation with the process for updating the certificate? During Private Preview this is done manually and customers need to open a Support Request and provide the secret identifier for the new certificate for the update to happen.

[2021-08-16 22:16] toddysm commented on #568
@tgossler I followed up internally and your subscription will be enabled for automatic cert rotation (you can ignore my previous comment). From now on, the update should happen automatically if you upload the cert to the same Key Vault location. If there are any issues going forward, please don't hesitate to submit a support request or contact us.

[2021-08-16 22:16] #568 closed

[2021-08-17 07:15] savaradh commented on #566
We identified this to be an issue with the latest version of Azure Cli. We will do a hotfix on the next version soon. Meanwhile if you are stuck, I suggest you to go back on the AZ Version. I recommend version 2.25.0 or 2.23.0

[2021-08-18 10:20] KalanaDananjaya commented on #367
I faced the same issue. @yugangw-msft's answer resolved the issue https://github.com/Azure/acr/issues/367#issuecomment-614232197

[2021-08-19 07:03] panepintog opened #570 "Azure ACR notary authentication"
Hello,

I am creating an ACR task with the following  YAML definition:

[code]
[code]

I get the following error when running the task `Error: error contacting notary server: unauthorized: authentication required, visit https://aka.ms/acr/authorization for more information`

If I remove the variable ` - DOCKER_CONTENT_TRUST_SERVER=https://{{.Run.Registry}}:443` and it all works as expected

My obj

[2021-08-19 07:49] northtyphoon commented on #570
Prerequisite

	1. Enable Content Trust on the registry.

	az acr config content-trust update --name $REGISTRY_NAME --status enabled

	2. Create a service principal and assign acrpush and AcrImageSigner role.

	REGISTRY_ID=$(az acr show --name $REGISTRY_NAME --query id --output tsv)
	SP_PASSWD=$(az ad sp create-for-rbac --name http://$SP_NAME --scopes $REGISTRY_ID --role acrpush --query password --

[2021-08-19 15:48] infbase opened #571 "Running a task with az acr import results in access denied but docker pull/tag/push works"
**Describe the bug**
When running a task to copy an image between 2 private ACRs using "az acr import" we get access denied on the destination ACR, which is also the one running the task. If instead of "az acr import" the task uses a sequence of docker pull/tag/push commands, the copy is successful.

**To Reproduce**

*Task definition using az acr import*
[code]

*Output with az acr import*

[code

[2021-08-20 13:48] Mahesh-MSFT commented on #412
@SteveLasker - is there any further update on this? it's been more than 6 months now :-)

also, is token support for SPs and MIs also impacting release of assigning RBAC permissions using "User principals" to ACR?

thanks!

[2021-08-23 08:30] BenjaminHerbert commented on #247
@SteveLasker I just stumbled upon this issue and checked the uservoice link, these do not work anymore... :cry:

(Source: https://support.microsoft.com/en-us/office/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a)

Could you tell the preferred way to submit feedback for ACR? Do you know if the old content is somehow migrated or just "gone"?

[2021-08-23 17:33] adewaleo commented on #571
@infbase you might need to ensure trusted services are enabled:

Please see the important note here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images

https://docs.microsoft.com/en-us/azure/container-registry/allow-access-trusted-services#trusted-services

cc: @nathana1 @northtyphoon

[2021-08-25 09:50] huzefaqubbawala commented on #418
Hi Steve,

Currently we are using ACI to launch the containers on the fly to do some long running operations. ACI is great technology it allows us to run our workload in serverless fashion.

The only pain area is the pull time of the image. We use azure container registry and are in the same region then also it takes whopping 120 seconds for 1.8GB image to start.

Can we please get an update on wh

[2021-08-30 18:31] #385 closed

[2021-08-31 08:33] darkweb-123 commented on #390
Any Updates on this ?

[2021-09-01 06:03] Wwwsylvia commented on #567
@northtyphoon Can Tasks folks take a look at this?

[2021-09-01 20:10] JayyTurakhia opened #573 "Make --filter a global parameter"
**What is the problem you're trying to solve**
 - **--filter** if added to _az acr repository show-tags --filter ".test-image"_ can be used to separate container images based on regex
 - **--filter** if added to _az acr repository list --filter ".my-awesome-image"_ can be used to separate repos based on regex

**Note** - This param is already implemented in az acr purge as documented [here](https:

[2021-09-02 23:28] sajayantony commented on #559
Closing for now. We can re-open if this is an ongoing issue.

[2021-09-02 23:28] #559 closed

[2021-09-02 23:30] sajayantony commented on #500
@toddysm - Given that we haven't been able to get to this issue, should we close this as something we don't think that will be addressed.

[2021-09-03 09:32] Wwwsylvia commented on #573
Hello @JayyTurakhia , thanks for the feature request!
We would like to understand the E2E scenario your are interested in - What would you do with the filtered repositories/tags?

[2021-09-03 13:54] JayyTurakhia commented on #573
@Wwwsylvia

Sure. We tag some containers as "rc" meaning release candidates. It would be great to be able to list fetch these with a regex rather than having a filtering logic on client side.

Another use is to list containers having semver master. This could be again done via regex by filtering those having Major.Minor.Version as opposed to Major.Minor.Version-feature

At times, we also want to l

[2021-09-06 07:48] Wwwsylvia commented on #573
Thanks @JayyTurakhia for the information.
@toddysm This is a feature request. Do we want to support `--filter` parameter in `az acr` commands?

[2021-09-06 12:50] shana commented on #338
+10 on namespace support, please. If every time someone wants to push a new image all the scopes need to be updated and an admin has to get involved, it's a huge pain. Same for external CI tokens that act on multiple repos: the system-generated AcrPull scope doesn't have metadata/read on it, so if CI needs more than just content/read, it now suddenly needs full admin permissions on the registry.

[2021-09-08 14:20] JasonDonnelly opened #574 "ACR Import Manifests that are not Tagged"
I'm running ACR Import Tasks to move manifests from one ACR to another.   This works fine for manifests that have a tag, but how can I import manifests that do not have a tag?

My devs have been re-using tags such as 'Develop' which is leaving untagged manifests in our repo's, but they're concerned that they they might need them and don't want to lose them in the migration etc...

[code]

[2021-09-08 20:05] xuto2 opened #575 "Monitoring of geo-replication progress of ACR images"
**What is the problem you're trying to solve**
We recently enabled the geo-replication for our ACR registry, but we found no way in Azure Monitor to automatically monitor/query the replication status of a particular image. The webhook provided by ACR can be used for notifications to third party but not Azure monitor itself.

**Describe the solution you'd like**
I'd like to see an entry for each ge

[2021-09-08 20:09] xuto2 commented on #575
Or, is there any other third party service(such as SignalFX) that would provide this level of monitoring?

[2021-09-10 08:45] infbase commented on #571
Hi @adewaleo,

Thanks for the remark. These ACRs are not network restricted so I believe that doesn't apply.

[2021-09-10 11:25] phatcher commented on #500
@sajayantony Not to be funny but what else are you working on - if you don't want to do it, give me a way that I can contribute a fix!

This sort of stuff is basic for an enterprise grade system.

[2021-09-13 12:59] vivekunni commented on #575
Yes, even we have a geo-replication registry but don't find a placeholder to monitor the replication status in Azure portal.

[2021-09-13 13:35] Pragneshn commented on #557
@northtyphoon solved thanks for support microsoft team

[2021-09-15 19:08] iamjasonp commented on #575
Hi folks - thank you for the feature request!

At the moment we don't expose replication status of any individual image; indeed, it's not particularly easy to figure out the state of replication the registry. As such, I've put the feature request to make it easier to find out replication status into our feature backlog for triage and prioritization

.

For reference - for new replications, should

[2021-09-15 19:08] Mint-6263 commented on #575
:blush:

[2021-09-16 09:54] kubragogebakan opened #576 "ACR with Custom Domain - CloudFlare DNS"
Hello to everyone,

Our senario:
We want to use Azure Container Registry with our custom domain. Now, our domain records are located on the CloudFlare DNS.

Steps:
To use ACR with custom domain, just have been done these following steps:
1- Created ACR with premium SKU. Data endpoint & system assigned identity were enabled on ACR.
2- DNS record created as CNAME record on CloudFlare
For example: my

[2021-09-16 12:58] fuglede commented on #73
For anyone else coming across this thread, [here are the docs](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-retention-policy) for `acr purge`, describing how to purge untagged images.

As far as I can tell, the functionality is rather dangerous to use, though, and in all of my runs, it would remove _ALL_ images, not just the untagged ones, even though `--untagged` w

[2021-09-16 13:07] fuglede opened #577 "purge --untagged removes tagged images"
Mirror of this issue: https://github.com/MicrosoftDocs/azure-docs/issues/81172

**Describe the bug**
If I use `acr purge --untagged`, tagged images are removed.

**To Reproduce**
I ran
[code]

in a cloud shell.

Much to my surprise, this did not only remove untagged images (those whose tag is None) in that repository but removed ALL images in the repository. This seems like a huge issue.

**Expect

[2021-09-16 16:15] sajayantony commented on #577
@toddysm should we consider deprecating this flag or renaming it. It’s a breaking change so need to do this more carefully. Gil might be able to provide some feedback on this.

[2021-09-21 07:50] GrumpyMeow commented on #532
I find it quite unfortunate that there's no news on this subject. It feels like ACR is lagging behind and will become end-of-life.
[code]

[2021-09-22 06:33] GrumpyMeow commented on #532
@SteveLasker what can we expect?
 20h2? Ltsc2022?

What is the expected time period?
Week? Weeks? Month? Months?

looking forward to the updates…

[2021-09-22 08:37] lordpansar commented on #264
Any progress here? Something like this could really help me out. I'd like to be able to set a rule like e.g: Allow a maximum of 5 images in a repository. If a sixth image is added, delete the oldest one.

[2021-09-22 08:49] themegaphoenix commented on #264
[code]

[2021-09-22 14:02] moewill commented on #264
Not that I am aware of and I also have moved on at this point, implementing a custom script.
________________________________
From: themegaphoenix ***@***.***>
Sent: Wednesday, September 22, 2021 4:49 AM
To: Azure/acr ***@***.***>
Cc: Maurice williams ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/acr] delete all images in Azure Container Registry except the last two (#264)

Any progress h

[2021-09-22 19:49] northtyphoon commented on #532
@GrumpyMeow the rollout will reach out worldwide by the end of next week. It will bring up the support for all windows versions including the latest ltsc2022. If you have registry in westcentralus/southcentralus/westus, you can already try it today.

[2021-09-22 19:56] sajayantony commented on #169
As I understand this feature request is to see manifests in the portal. I'm adding @toddysm @SteveLasker  and @mangalorereshmi  since this needs to be prioritized. I would also track this as another issue since this one is about the CLI.

[2021-09-22 21:07] themegaphoenix commented on #264
please see my reply above

[2021-09-23 08:43] laurawentbb commented on #492
Is there already a solution? Thanks in advance

[2021-09-23 16:03] toddysm commented on #492
@laurawentbb We have started working on the implementation of the soft-delete feature for repositories but the current ETA for release is mid 2022. For now, if you need to restore images deleted in the last 30 days, you can submit a support request and we can do that for you. Images deleted more than 30 days ago are not restorable thoug.

[2021-09-27 16:38] toddysm commented on #264
@themegaphoenix We are investing in an auto-purge capability that will allow you to define the purge policy based on various criteria including keeping certain number of images. Unfortunately, though because of other priorities we had to de-prioritize that work and now the ETA is mid 2022. We do not have plans to enhance the current `purge` command with additional capabilities before that. Your op

[2021-09-28 15:08] HighWatersDev opened #580 "A way to apply acr purge task to all repos"
Hi,

I understand that `--filter` option only supports regex for tags. Is there a way to apply a filter across all repositories with a wildcard (*) or so?

[2021-09-29 03:17] northtyphoon commented on #532
We have completed the rollout to support ws2022.

[2021-09-29 03:17] #532 closed

[2021-10-01 21:25] StingyJack commented on #169
@sajayantony - I dont need to see _manifests_ i want to see image sizes. If you want to track this in a separate issue thats up to you but users should be shown this info if their usage and billing is going to be affected by it.

[2021-10-02 01:15] xuto2 commented on #575
Thanks @iamjasonp ! A similar question - what is the recommended way to monitor which replicate of image is serving the image pull request?

[2021-10-13 13:53] michaelgrossopt commented on #338
This is also a major pain point for our team.  We're building a mult-tenant platform and would like to namespace folders/repositories (and ideally apply permissions using a service principal and AAD) that allow arbitrary image names (bonus points if it can be an arbitrary folder structure as well).

[2021-10-21 17:59] devigned opened #582 "ACR w/ anonymous pull sometimes fails with 401 using buildx push"
**Describe the bug**
When using an anonymous pull enabled ACR and using buildx with the output type of registry (to push images to ACR), sometimes the image push fails with a 401. This behavior was observed in [cloud-provider-azure(#855)](https://github.com/kubernetes-sigs/cloud-provider-azure/pull/855).

This link show a failing example of [cloud-provider-azure(#855)](https://github.com/kubernete

[2021-10-28 01:17] SteveLasker opened #583 "az acr repository show-manifests should include oras artifactType"
**What is the problem you're trying to solve**
When using `az acr repository show-manifests -n wabbitnetworks  --repository net-monitor -o json`, the current list shows generic manifests
[code]
**Describe the solution you'd like**
To support the oras artifact manifest, and the new artifactType, it would be helpful to know which manifest types are used, and which ones represent a signature, an SBOM

[2021-11-05 11:31] akazakou-incomm commented on #204
That feature was requested 2 years ago. Any updates on it?

[2021-11-07 15:12] ngohuytrieu commented on #351
How do you solve it? where do you put `--cache: "enabled"` ?

[2021-11-08 03:57] kn6405 commented on #380
Any updates on this feature? I saw above it said development in fall of 2021 and we just reached fall. Hoping someone is working on this or will be picking it up soon. An application I'm working on now could really use this level of RBAC permissions in ACR right now. I'm really hoping for early 2022.

[2021-11-08 13:05] mot256 commented on #338
Also, looking namespace level scopes
I believe user voice links (mentioned above) have changed to
https://feedback.azure.com/d365community/idea/07782a68-0d25-ec11-b6e6-000d3a4f0858
and
https://feedback.azure.com/d365community/idea/12782a68-0d25-ec11-b6e6-000d3a4f0858

[2021-11-17 15:18] ggirard07 commented on #345
@btardif Is this released?
The documentation I was pointed by support [is this one](https://github.com/Azure/app-service-linux-docs/blob/master/HowTo/use_user-assigned_managed_identities.md), which states this is not currently supported.

[2021-11-25 13:30] steinarox commented on #448
@Wwwsylvia Do you have any updates for splitting the storage metric per repository (and/or helm charts)

[2021-11-26 02:41] Wwwsylvia commented on #448
@steinarox That is not planned for now. /cc @mangalorereshmi

[2021-12-03 15:24] grstreten commented on #494
Is there a likely indication of when a future resolution could be expected, or somewhere this information could be found? Otherwise will keep an eye out. Thanks

[2021-12-03 18:28] SteveLasker commented on #494
While I appreciate this is an Azure holistic limitation, this is a WebApp limitation, not specific to ACR.
Adding @jeffhollan

[2021-12-03 18:33] grstreten commented on #494
@SteveLasker makes sense, though I notice it also prevents DevOps from working properly. So does this fall into the web app 'basket'?

[2021-12-03 18:43] jeffhollan commented on #494
And good news for web apps is this capability should be rolled out / is completing rollout now: https://azure.github.io/AppService/2021/07/03/Linux-container-from-ACR-with-private-endpoint.html

[2021-12-03 18:44] SteveLasker commented on #494
It falls in the bucket of any service that doesn't yet support private vnets (private link).
If you put a resource in a private network and block external access, then is it the resources issue that others can't get access to it, because it's in a private vnet? :)

[2021-12-06 00:52] yashali commented on #401
@adrianstevens @SteveLasker any update on this?
@lolon88 were you able to find anything?

[2021-12-08 22:01] nfsouzaj commented on #499
Hi,
I would like to know what is the status of this?
It is shameful for Microsoft that this feature is in preview since 2017 and still doesn't work!
Feels like the only way is to totally give up on ACR.

[2021-12-08 22:34] SteveLasker commented on #499
Hi @nfsouzaj,
Apologies to hear your frustration. We would really like to complete quarantine and ship it as a GA-level feature. We are prioritizing the work in the spring. The reasoning for the delay was around prioritization of capabilities that were either blocking, supportability or reliability features. For instance, shipping [acr connected registry](https://aka.ms/acr/connected-registry) for

[2021-12-09 20:11] jake-billings opened #588 "Uploading images to geo-replicated ACRs can cause intermittent MANIFEST_BLOB_UNKNOWN (due to DNS bouncing)"
**Describe the bug**
I run an automated script that uploads eight images to ACR in parallel. Since any failure in any upload causes my entire script to fail, the ~10% failure rate here results in a >60% failure rate for my script.

The bug appears to be the following:

During an image upload to a geo-replicated ACR, DNS will sometimes resolve to `chinaeast2` and will sometimes resolve to `chinanor

[2021-12-09 20:16] jake-billings commented on #588
Also, if anyone else stumbles across this issue, it can be mitigated by either ensuring DNS queries for ACRs resolve deterministically to the same IP each time OR by disabling geo-replication for an ACR

[2021-12-10 15:00] Pavkum007 opened #590 "Convert existing region to ZoneRedundant"
**What is the problem you're trying to solve**
When there is no replication enabled, customers would need high availability for their exiting ACRs.

**Describe the solution you'd like**
Ability to enable Zone redundancy for a home region of ACR.

[2021-12-13 13:46] fgheysels opened #591 "How to get the sync-status of connected registry instances"
We're using the connected-registry feature to synchronize on-prem container -registries that are installed on vessels with the 'master' Azure Container Registry.

It would be nice if we could have an indication of the sync-status of our connected-registry instance so that we know which instances are completely in-sync with the master ACR and which are not yet completely synchronized.

[2021-12-15 16:46] kumarg25 opened #592 "Images are not locked consistently in ACR repository"
**What is the problem you're trying to solve**
The registry has geo-replication enabled. The image was initially pushed to eastus2 and later replicated to other regions. When the customer manually checked the metadata from the terminal, it pulled the metadata from southeastasia.

When the image and updated metadata were replicated from eastus2 to southeastasia, the log showed a _potential racing p

[2021-12-17 07:06] rajivkumarmishra opened #593 "I am not able to find a way how can i set and get owner of ACR image"
**What is the problem you're trying to solve**
We are managing a central azure container registry which is holding around 350 repository. Each repositories are having good amount of image. Now because of Log4J issue, we are trying to inform all image owner to take care of their repositories images. Because there is no owner name associated with images/repo, we are not able to find who they are and

[2021-12-18 09:01] fschmied commented on #418
@SteveLasker Can you maybe give us an update on the status of Project Teleport? On the Internet, I can only find [your blog post from 2019](https://stevelasker.blog/2019/10/29/azure-container-registry-teleportation/). On [the Project Teleport readme page](https://github.com/Azure/acr/blob/main/docs/teleport/README.md), I can see you're currently in "Preview 2", which focuses on [AKS](https://githu

[2021-12-20 18:56] sajayantony commented on #593
@rajivkumarmishra - Has your team considered using labels in the docker files.
For e.g. `LABEL org.opencontainers.image.authors="SvenDowideit@home.org.au"`

These can be inspected in the config. You would need some tooling to inpect the config and identitify these labels but they travel with the image and you can even check them on the running nodes.

[2021-12-20 19:01] sajayantony commented on #592
We are following up internally to see if/when we can prioritize this.

[2021-12-20 19:12] sajayantony commented on #576
@kubragogebakan - Since custom domains is a private preview feature and these are hard to support through GH issues, as there are customer details involved, hope you can follow up as a Azure support case.

Closing this issue since the support channel is the recommended communication path here.

[2021-12-20 19:12] #576 closed

[2021-12-21 19:26] sajayantony commented on #566
Closing this for now. Please reopen if this is still a problem. @infbase

[2021-12-21 19:26] #566 closed

[2021-12-21 19:28] sajayantony commented on #529
@SteveLasker @toddysm - Currently the challenge is that we must iterate through all tags in the registry and there is no API that can return all the tags for a manifest since the manifest details currently limit the number of tags.
Basically, I see this as an ask for a paginated API of tags on a manifest. /cc @northtyphoon

[2021-12-21 19:34] sajayantony commented on #549
Closing this since there is no plan to fix this at this point.

[2021-12-21 19:34] #549 closed

[2021-12-21 19:46] sajayantony commented on #561
@northtyphoon - should we close this since there is no plan to fix this issue. Changing the behavior of the write flag is a breaking change. @shizhMSFT's suggestion of archive sounds like an option. Azure storage does have an `archive status`

[2021-12-21 20:15] shahzzzam commented on #204
https://github.com/Azure/acr/blob/main/docs/tasks/buildx/build_with_cache_2.yaml

[2021-12-24 22:07] toddysm commented on #591
Hi @fgheysels, we do have the functionality deployed on the cloud side. However, we are still working on providing updates to the CLI that will make it easy to set up notifications for certain repositories.

One additional prerequisite for setting up notifications is to upgrade the connected registry module to version 0.6.0.

Until the CLI is available, there is a workaround that will require you

[2021-12-29 15:15] Chams91 opened #594 "Failed image pull from private ACR"
**Describe the bug**
When using a private ACR (with a private endpoint and private DNS resolution), AKS clusters attached to the ACR (acrPull role assignement is assigned) are unable to pull images. DNS resolution works and registry can be resolved internally both from cluster and other azure resources where peering  and network links are established. When pulling an image from the registry to the

[2022-01-07 20:26] northtyphoon commented on #594
@Chams91 it looks like a connectivity issue in your cluster network that prevents the request reaching https://d*****.azurecr.io private endpoint. Since you could pull the image from another machine through the same private endpoint, it confirmed ACR was able to serve the request. You can open a support ticket and share your network topology so the support team can help you troubleshoot the networ

[2022-01-07 20:26] #594 closed

[2022-01-11 04:58] mainred commented on #582
`docker login -u ${AZURE_CLIENT_ID} -p ${AZURE_CLIENT_SECRET} ${REGISTRY}` before `docker buildx build --push` can work as a workaround.

[2022-01-11 06:48] mainred commented on #582
Thanks for the investigation from @northtyphoon, here is my copy and paste of his reply:

The above conditions will run into a corner case and hit a buildkit bug (https://github.com/moby/buildkit/blob/ffe2301031c8f8bfb8d5fc5034e5e509c5624913/session/auth/authprovider/authprovider.go#L91)
az acr login saves a token credential in credential store. The client is supposed to follow oauth2 protocol (Oa

[2022-01-11 18:57] Dylan-Prins opened #596 "Can't add token in ARM template"
**Describe the bug**
When adding a token in ARM I cannot generate a password, but when generating a token password in the portal the ARM template will delete it.

**Expected behavior**
The ARM template to leave the passwords alone or be able to generate token passwords in ARM.

[2022-01-21 21:08] dpurge opened #597 "Docker push does not create tags in ACR"
**Describe the bug**

I have a private container registry and testing pushing and pulling images.
After `docker push` I see my image in the registry, but it does not have any tags.
I cannot pull that image because tag is missing.

**To Reproduce**

Steps to reproduce the behavior:

1. Start with newly created ACR, I will call it xxx
2. `az login`
3. `az acr login --name xxx`
4. `docker pull mcr.mi

[2022-01-21 21:18] northtyphoon commented on #597
@dpurge can you check if you have enabled `quarantine` on your registry? https://github.com/Azure/acr/blob/main/docs/preview/quarantine/readme.md

[2022-01-21 21:52] dpurge commented on #597
Thank you very much @northtyphoon , this is very helpful.

Indeed, `az acr show -n xxx` tells me that `quarantine` is enabled on my registry:

[code]

Sorry for opening a bug for this, I could not explain this behavior.

[2022-01-21 22:05] #597 closed

[2022-01-24 16:12] DietmarReply commented on #367
I have the same issue and adding sudo does not solve the issue for me.

Any other solutions?

[2022-01-27 08:46] ustrum commented on #494
Given the explicit mention to ACI being unable to contact ACR through private endpoint was removed from [the warning](https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/container-registry-scanning-limitation.md), is it because it is expected to work now, or is there any expectancy on it to be working any time soon?

[2022-01-28 15:19] skhilliard opened #598 "Action recommended: Review how you pull container images from Docker Hub"
Regarding this notification: Review your environments that may be affected by Docker Hub rate limiting before 30 June 2022

Does this apply to Azure DevOp builds also?  For example, we have this build step set up...

![image](https://user-images.githubusercontent.com/23263471/151572579-103eb4b7-035f-4274-8f7f-30555c1b96eb.png)

...the referenced dockerfile has the following...

![image](https://us

[2022-01-28 16:03] SteveLasker commented on #598
Hi folks,
If your build was from a dedicated agent pool, running on Azure, this applies to you.
Microsoft had partnered with Docker to give time for people to transition to authenticated accounts or consume the images they depend upon into environments you manage. This "safety net" will end June 30, 2022. We wanted to provide time for users to either authenticate with docker hub, and/or promote th

[2022-02-01 02:51] jsheetzati opened #599 "Pull through caching"
**What is the problem you're trying to solve**
With Docker licensing and rate limiting changes, we are interested in using our ACR instance to mirror our base images. The current solution seems to be manually importing base images into ACR and creating an ACR task to pull in base image updates.

**Describe the solution you'd like**
Ability to use ACR as a pull through cache similar to what was add

[2022-02-02 15:42] dubitor opened #600 "Grant `metadata/read` permission to `_repositories_pull` scope map"
**What is the problem you're trying to solve**
I'm using an ACR as a helm registry. When I run `helm dependency update` I get a 401: could not retrieve list of tags. However, running `helm pull` to get the chart in question works fine.

I believe this is because tags are metadata, and my AD identity is assigned `_repositories_pull` permission which only has `content/read` and not `metadata/read`.

[2022-02-04 07:49] Korijn commented on #598
Question: does this affect AKS deployments? As in, will creation of a new AKS cluster cause many Docker Hub pulls? Should I be worried that AKS cluster creation will fail?

[2022-02-04 17:04] palma21 commented on #598
No, AKS doesn't use docker hub at all. Just MCR and internal mirrors.

[2022-02-11 11:52] dhanesh012 commented on #412
any update about the GA timeline please?

[2022-02-18 06:58] gianlucagravina opened #602 "Issue with ACR build task. tag not accepted when "--" is present"
**Describe the bug**
Running an acr build task with a tag like "myreg/myimage:v1--alpha" throws an error

**To Reproduce**
Steps to reproduce the behavior:
1. create an acr resource (myreg)
2. use a simple docker file
3. execute az acr build -t myimage:v1--alpha -r myreg .

**Expected behavior**
the image is built and pushed in acr repo

**Screenshots**
![image](https://user-images.githubuserconte

[2022-02-18 17:08] skhilliard commented on #598
Assuming that we have a Docker Hub account, is there some way to use a personal access token in the docker Dev Ops task (as shown above) to use that so that the FROM node:14-slim pull won't be anonymous?  Or is the only way to get around this to pull that image to an Azure Container registry?

[2022-02-18 22:12] juliusl commented on #602
Thanks for reporting this issue. I will work on a fix

[2022-02-18 23:00] juliusl commented on #602
Ok I think I've found the issue, I wrote a fix and will begin testing. Should be live in the next two weeks if there are no interruptions

[2022-02-21 12:06] gianlucagravina opened #603 "Issue with ACR Build with private endpoint and private registry."
**Describe the bug**
When trying to execute an acr build task with a private repository and a private endpoint, the build task still tries to go through public internet.

**To Reproduce**
Steps to reproduce the behavior:
1. Create ACR with private Endpoint and Private registry
2. Create a vm in the vm that could reach and use the private endpoint.
3. try to execute an ACR build from the VM

**Expe

[2022-02-23 00:58] jaysterp commented on #603
@gianlucagravina In order for the `az acr build` command to connect to the ACR through private endpoint, you must use a dedicated agent pool.  For more information on agent pool, please reference [Run an ACR task on a dedicated agent pool](https://docs.microsoft.com/azure/container-registry/tasks-agent-pools). Per the documentation, an agent pool provides:

**Virtual network support** - Assign an

[2022-02-23 01:11] gianlucagravina commented on #603
Hi @jaysterp ,

thanks for the prompt reply.

As far as I understood az acr build is not in preview, but the agentpools are still in preview. Other than that the agentpools are not available in every region (not in Southeastasia for sure).
Does it mean we just have to wait for the agentpool feature to be in GA and in southeastasia region? is there any public expected timeline for this feature ?

[2022-02-23 01:53] gianlucagravina opened #604 "ACR Security Scan in CI/CD events triggered"
**What is the problem you're trying to solve**
I would like to have a way to react, in my CI/CD pipeline, to security issues found in ACR

**Describe the solution you'd like**
It would be useful having a webhook in ACR as we have for other events to be able to trigger when a scan in ACR is completed after push. I found a solution that use a polling of  5 minutes, that solution, unfortunately doesn

[2022-02-23 02:51] jaysterp commented on #603
Hi @gianlucagravina. For customers using `az acr build` in regions where agent pool is not available, we recommend them to add the regional ACR IPs to the firewall rule. Please reference [Allow access by IP address range](https://docs.microsoft.com/azure/container-registry/container-registry-firewall-access-rules#allow-access-by-ip-address-range).

Another option is to enable Trusted Services on y

[2022-02-23 05:16] gianlucagravina commented on #603
Hi @jaysterp, thanks again.

The IP open is the solution we have right now, but we do really want to leverage a full private environment with NO publi access enabled, if possible, in the future.

I am looking at the acr task solution you mentioned, the whole process for the Managed Identity is quite clear to me, what is not clear is how to pass the context to the task executor. The quick task comp

[2022-02-23 20:49] jaysterp commented on #603
Hi @gianlucagravina,

The task resource supports fetching build contexts from private git repositories, including those hosted on Azure DevOps and GitHub. Please see this tutorial for more details [Tutorial: Automate container image builds in the cloud when you commit source code](https://docs.microsoft.com/azure/container-registry/container-registry-tutorial-build-task).

You can also upload the

[2022-02-24 09:50] Wwwsylvia commented on #604
@gianlucagravina Does this help? https://github.com/Azure/acr/tree/main/docs/preview/quarantine#image-pushed-webhook-notification
Once the image passed the scan, a Image Pushed webhook will triggered.

[2022-02-24 12:59] gianlucagravina commented on #604
This seems to be a good way to solve our problem. I will check this out. Thanks a lot for the super quick response!

[2022-03-01 08:55] Wwwsylvia commented on #604
@gianlucagravina We don't have a public schedule yet, but we are trying to prioritize it.
Please see https://github.com/Azure/acr/issues/499#issuecomment-989282061.

[2022-03-04 08:02] v-sagoll opened #605 "Action Needed? Docker Hub rate limiting before 30 June 2022"
We have a App Service which uses Azure Container Registry to pull images. We use Admin user of Container Registry to connect with App Service.

We got a mail from Microsoft azure saying "On 24 August 2020, Docker announced that they would implement rate limiting of container pull requests from Docker Hub for anonymous requests." with Subject line "Action recommended: Review how you pull container

[2022-03-04 17:57] SteveLasker commented on #605
Nope, you're good to go as you have your dependencies on ACR, which operates within Azure.
I would suggest moving off the Admin credentials to managed identities, but that's unrelated to the Docker Hub issue.

I am confused by the comment:

If that's a question, then you're not making anonymous calls to ACR as you are providing credentials.
Steve

[2022-03-07 05:14] v-sagoll commented on #605
Thank You a lot for your response, it helped us understand the request and close it.

[2022-03-07 05:14] #605 closed

[2022-03-07 12:43] Bhaskar1312 commented on #271
I am using the following  command/script in a pipeline
`
az acr run \
          -r myregistry \
          --timeout 7200 \
          --cmd "acr purge --dry-run --filter myorg/mycontainer:^((?!release).)*$ --ago 180d --untagged" \
           /dev/null
`
I initially used `^(?:(?!release).)*$` and tried by putting quotes around it to delete images with tags that dont contain `release`. The regex is f

[2022-03-07 14:29] Bhaskar1312 opened #606 "Negative Look ahead regex for inverse match of images with tags containing `release` is not working"
**Describe the bug**
When attempting to execute the purge command in pipeline, it gives `commandError: unable to correctly parse filter flag`

**To Reproduce**
Steps to reproduce the behavior:
1.  create a image with tag that ends in `release` suffix
2.  Run the command with registry and image `az acr run -r myregistry --timeout 7200 --cmd "acr purge --dry-run --filter myorg/mycontainer:^((?!relea

[2022-03-10 03:29] juliusl commented on #606
golang's regexp engine doesn't natively support backtracking functions (lookahead/behind) because they want to guarantee constant time evaluation. I put up a PR just now to address this.

[2022-03-10 12:44] Bhaskar1312 commented on #606
If one want to gurantee linear time evaluation, inverse match (--inverse-filter) might be a good idea

[2022-03-16 16:44] thoefkens commented on #476
I have the same issue importing az acr import -n xxx --source docker.io/library/rabittmq:3.9.13-management-alpine -t xxx/xxx:3.9.13-management-alpine
I am getting the exact same pull error.. tried with docker.io/rabittmq but that does not work either. Any suggestions @karatedog

[2022-03-17 00:37] SteveLasker commented on #476
Hi @thoefkens, have you tried assigning contributor rights to the identity used for the import?

[2022-03-18 00:38] dlepow commented on #494
#assign: @tejaswikolli-web

[2022-03-18 00:39] dlepow commented on #494
#reassign: @tejaswikolli-web

[2022-03-28 17:13] northtyphoon commented on #494
Please follow https://docs.microsoft.com/en-us/azure/container-instances/using-azure-container-registry-mi if you want to deploy images from ACR with private endpoint to ACI.

[2022-03-30 12:54] mracfa opened #608 "az acr task run does not return exit code 1 if the task run fails"
**Describe the bug**
Not sure if it's a bug or by design and the expected behavior, but whenever we run an "az acr task" we always get exit code 0 on our command, regardless if the tasks fail or not.

I do understand that the command is successful, however, since the task fails, it should exit with the same return code.

Example:

![image](https://user-images.githubusercontent.com/52406590/1608383

[2022-03-30 16:30] andyrobbins opened #609 "How to use the ACR-scoped managed identity?"
I'm trying to figure out in which context I can authenticate as the ACR-scoped system- or user-assigned managed identity.

I can use the Azure portal or the az binary to create and view the managed identity, as documented here: https://docs.microsoft.com/en-us/cli/azure/acr/identity?view=azure-cli-latest

For example, I can see the principal ID of the identity with this command:

[code]

But I can

[2022-04-01 16:56] k-byun commented on #426
works for me

[2022-04-03 22:39] andrasg opened #610 "Multi-architecture build reuses previous architecture"
**Describe the bug**

I am using a multi-architecture YAML file to build my container.

Here's the YAML:
[code]

Upon run, it seems that the 2nd build task always reuses the output cache of the first build, even though the build is for a different platform. If I'm just using one build task, the images are properly built using the right platform.

[code]
Inspect will show:
[code]

**To Reproduce**

[2022-04-03 22:54] andrasg commented on #610
Output with `--no-cache`. Note that the 2nd build task's output also references the platform of the 1st build task (`linux/arm64/v8` used instead `linux/arm/v7` as requested in the 2nd build command in YAML).

[code]
YAML used:
[code]

[2022-04-07 15:11] northtyphoon commented on #608
OK. I checked the code today and realized the following cli code doesn't pass the right raise_on_error option.

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acr/task.py#L918

[2022-04-07 17:39] northtyphoon commented on #608
https://github.com/Azure/azure-cli/pull/21983

[2022-04-07 21:17] msebrenes opened #612 "Images tagged with an ending period ('.') cannot be untagged"
**Describe the bug**
After pushing an image with a period the image cannot be untagged neither from the CLI nor the Azure Portal

**To Reproduce**
Steps to reproduce the behavior:
1. Push an image to ACR with the following structure: <repository>:<tag>.
2. Try to untag the image from CLI or Azure Portal
3. Tag keeps showing in the repository

**Expected behavior**
After removing the tag it should

[2022-04-10 20:28] northtyphoon commented on #610
Can you try add a step to remove the base image?

[code]

[2022-04-11 08:18] andrasg commented on #610
I got it to work using `buildx`:

[code]

[2022-04-11 08:18] #610 closed

[2022-04-19 01:04] #606 closed

[2022-04-19 20:38] juliusl commented on #606
@Bhaskar1312 This fix has been merged into main, I'll update when it's been deployed to tasks.

[2022-04-19 20:46] juliusl commented on #609
In the context of az-cli you would first,

`az login --identity --username <principal-Id>`

and then

`az acr login --name <registry-name>`

and then you should be able to docker pull/push.

Does that answer you question?

[2022-04-19 20:51] juliusl commented on #612
We've investigated this issue and we're working on a fix.

[2022-04-19 21:09] andyrobbins commented on #609
Yes it does @juliusl! Thank you! :)

[2022-04-19 21:09] #609 closed

[2022-04-19 23:27] juliusl commented on #600
So `_repositories_pull` scope_map is locked down to `content/read` because if a token with that permission leaked then the advisory wouldn't be able to enumerate the registry. In most cases container runtimes just need to pull/run the image so that's what that built-in is meant for.

You should be able to create a new scope_map with `content/read`, `metadata/read`. Not sure why you're getting that

[2022-04-20 20:27] juliusl commented on #596
Hey there, so I took a look into this. Not generating the token is by design, and the ARM template will only delete it if you try to redeploy, without adding the credential object that you've generated to the template.

After you generate the password in the portal, if you go to "Export template" under Automation, the resource for tokens should have filled out "credentials", so for example for a p

[2022-04-22 00:58] juliusl commented on #602
@gianlucagravina  So I've tested this recently and looks like I'm able to push images with '--', let me know if there are any other issues and I can reopen the issue.

[2022-04-22 00:58] #602 closed

[2022-04-27 20:56] k-byun commented on #426
@Mohid-A : You need to import one by one.  But you can build a quick script to iterate over all the images as well if you want to automate.

[2022-04-28 04:26] Mohid-A commented on #426
Thank you. I am also interested to know if import supports the options "--top" and  "--orderby time_desc" , for instance, to import the recent 10 tags from the repo. This will be useful if migrating a repo with high number of tags.

[2022-05-01 02:07] deryann commented on #247
@toddysm
Do we have this feature?
I still cannot find this UI in azure portal.

[2022-05-02 17:43] romanzdk opened #618 "ACR connection to private Artifactory"

[2022-05-03 10:34] magnus-longva-bouvet opened #613 "az acr task run fails if Dockerfile is in .dockerignore"
**Describe the bug**
If `Dockerfile` is included in `.dockerignore`, the `build` step in an ACR task run fails.

**To Reproduce**
This is my task definition. It's called `radix-image-builder-no-push-default-dockerfile`.
[code]
[This is the repository](https://github.com/magnus-longva-bouvet/radix-mini-app/tree/6a0260353f09fbd1ccbe38e3f41197bc5ea72afa) for my source code. The link points to a parti

[2022-05-03 20:36] anthony-hopkins opened #614 "CONNECTIVITY_CHALLENGE_ERROR"
**Describe the bug**
Currently unable to log into azure ACR services using the Azure CLI. within WSL2 or Powershell. This has happened at the same time I am unable to see the repositories from the web interface for Azure. I can see the repositories as expected when using Azure CLI on the Azure web portal. I should note that this was working as of yesterday with no changes on my end whatsoever.

I

[2022-05-04 16:47] #614 closed

[2022-05-04 16:47] anthony-hopkins commented on #614
This was an issue downstream in our Palo Alto firewall. Non-Azure issue so closing as resolved.

[2022-05-05 00:42] huanwu commented on #613
This is by design. You used the .dockerignore to exclude the Dockerfile.

[2022-05-05 06:16] magnus-longva-bouvet commented on #613
`az acr build` does not exhibit this behaviour. The docs for vanilla Docker engine explicitly state that the image can be built even if you exclude the Dockerfile from the build context.

https://docs.docker.com/engine/reference/builder/#dockerignore-file

[2022-05-05 17:07] Mohid-A commented on #426
I am currently working on it, i will update here otherwise

[2022-05-05 17:22] northtyphoon commented on #613
@magnus-longva-bouvet  thanks for the suggestion. Unfortunately, we don't have plan to change the filter behavior for `ac acr task run`. For your case, we suggest you remove Dockerfile from the .dockerignore. Thanks again for your suggestion.

[2022-05-06 11:41] oleterno-equinor commented on #613
@northtyphoon Could you take a look at the code please. This is like the issue where the `acr task run` command did not pass the `--no-format` option ([#21983](https://github.com/Azure/azure-cli/pull/21983)).

The `acr build` command uses the `upload_source_code` function where it passes 8 parameters; the last two being `docker_file_path` and `docker_file_in_tar` ([line 72](https://github.com/Azur

[2022-05-12 18:07] lazydino opened #615 "ACR build using docker-compose file?"
Does ACR Build support building container images via docker-compose file?

[2022-05-16 06:46] oleterno-equinor commented on #613
@northtyphoon Could you please take a look at my comment? https://github.com/Azure/acr/issues/613#issuecomment-1119527542

[2022-05-16 16:05] northtyphoon commented on #613
@magnus-longva-bouvet so you basically need a way to overwrite the .dockerignore rule as a middle man?
@oleterno-equinor, `acr build` command knows what dockerfile to include as it is passed in command-line option. `acr task run` doesn't have the information.

[2022-05-17 00:58] northtyphoon commented on #608
the latest cli should have the fix

[2022-05-17 00:58] #608 closed

[2022-05-18 04:52] ringerc commented on #247
@deryann Doesn't look like it, based on output from `az acr repository show`

[2022-05-18 08:21] magnus-longva-bouvet commented on #613
@northtyphoon I would prefer to not override the .dockerignore of my platform users. The best option would be if the `az acr task run` could send the `Dockerfile` (and the `.dockerignore` file itself, for that matter) to the backend build engine regardless of the content in `.dockerignore`.

Imagine this `.dockerignore` file
[code]

and this `Dockerfile`
[code]

The desired behavior is that this p

[2022-05-18 12:12] PeterBennink commented on #380
Any update on this?

[2022-05-19 04:25] logamanig commented on #599
It would be much better to support multiple public registries, including major ones ghcr.io, quay.io, docker.io and gcr.io as Images from these major registries needs to be imported to private registry for image scanning and firewall restriction reasons

[2022-05-19 09:03] cvs79 opened #616 "Repository or Registry wide tag immutability"
**What is the problem you're trying to solve**
I want to be able to prevent image tags from being overwritten. Currently you can disable writing on a repository or specific tag. However, to prevent people from forgetting to do that on an image tag level I would rather have immutability as a feature on registry or at least repository level.

**Describe the solution you'd like**
Deploy an ACR and en

[2022-05-19 16:37] northtyphoon commented on #616
@cvs79 ACR allows lock on repository. Is it what you are looking for?

Use the [az acr repository update](https://docs.microsoft.com/en-us/cli/azure/acr/repository#az_acr_repository_update) command to set repository attributes so you can:

**Lock an image version, or an entire repository**

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-image-lock#lock-a-repository

[2022-05-20 07:04] cvs79 commented on #616
I want to have repository immutability. So, I don't want to disable writes all together on a repository but rather having a setting that doesnt allow it.

Off course I can build something with a webhook / eventgrid that disables write for a specific tag after a new tag is pushed but it would be nice if it was out of the box functionality instead of needing to build a solution for that

[2022-05-22 15:38] davidkarlsen commented on #380
That sound exactly what we're after. But still there is just talk for over two years. This is a feature you'll have in ECR with AWS from day one.

[2022-05-23 12:47] BenH-Puregym commented on #446
I'm not sure why you closed this, the request was to get metrics on the storage usage **per repo**. The link you've sent is just a feature asking for the usage of the whole reg and doesn't seem to be available still. When will this metric be available?

[2022-05-23 15:55] denisw opened #617 ""az acr import" from Docker Hub stuck in Running state"
**Describe the bug**

Since today (May 23, 2022), any attempt to import a container image with `az acr import` hangs forever in the `Running` state. An import with the same registry, image tags, and credentials worked perfectly on the Friday before.

**To Reproduce**

[code]

**Expected behavior**

The import finishes and succeeds in a timely manner.

**Any relevant environment information**

Trie

[2022-05-24 01:44] northtyphoon commented on #617
@denisw thanks for the reporting the issue and sorry for the inconvenience. We have mitigated an issue that caused image import performance degradation in West Europe. Please check it again if you still run into the issue. Going forward, you can open the opportunity ticket in Azure to escalate such issue.

[2022-05-24 09:37] uttarwar-yogesh opened #619 "An error occurred: CONNECTIVITY_CHALLENGE_ERROR"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. An error occurred: CONNECTIVITY_CHALLENGE_ERROR
2. ACR
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Any relevant environment information**
 - OS: [

[2022-05-24 09:38] uttarwar-yogesh commented on #619
Docker daemon status: available
Docker version: 'Docker version 20.10.14, build 87a90dc, platform linux/amd64'
Docker pull of 'mcr.microsoft.com/mcr/hello-world:latest' : OK
Azure CLI version: 2.37.0
DNS lookup to pdmcontainer.azurecr.io at IP 10.22.124.13 : OK
An error occurred: CONNECTIVITY_CHALLENGE_ERROR
Registry 'name.azurecr.io' did not issue a challenge.

Please refer to https://aka.ms/acr/

[2022-05-24 21:45] pbm commented on #289
Can we get this basic tag function?   It is really a hack to have to reimport an image that is already up there just to set a tag.  Tagging is a *basic* function of an ACR.

[2022-05-24 22:31] juliusl commented on #618
@romanzdk Hello, is it possible to import these images to ACR ?

You can try to use this command https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-import to import those dependencies into your registry first.

[2022-05-25 07:39] romanzdk commented on #618
Hi,

I need to import python libraries from the Artifactory on AWS - not docker images :/

[2022-05-25 20:44] juliusl commented on #618
@romanzdk You can import images from any container registry,

Actually, I think you can add credentials for Artifactory with this,

https://docs.microsoft.com/en-us/cli/azure/acr/task/credential?view=azure-cli-latest#az-acr-task-credential-add

[2022-05-27 21:06] ksaye opened #620 "Azure Connected Registry: Error "The SSL connection could not be established" in Nested Edge"
**Describe the bug**
When using Connected Registry with Azure IoT Edge in a nested hierarchy with the IoTEdgeAPIProxy, a child Connected-Registry does not 'trust' the parent registry SSL cert.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a nested Hierarchy for IoT Edge where the child (Level4) does not have access to the internet, but the parent (Level5) does
3. Successfully deploy

[2022-05-28 15:44] nlasok1 opened #621 "ACR task fails on empty triggers array in ARM/Bicep template"
**Describe the bug**
ACR Task Run fail when ACR Task deployment is provided with empty triggers via ARM deployment.
[code]
If I open logs in the portal I can see something like "_Failed to get run logs for run ID cby._"

**To Reproduce**
Create bicep/ARM template with empty triggers section

[code]
**Expected behavior**
I would expect the ACR resource provider to handle such cases the same way as

[2022-05-31 17:08] #617 closed

[2022-06-01 04:15] aayjaychan opened #622 "Double quoted task version is ignored if deployed using API"
**Describe the bug**

When creating an ACR task using API, if `version` is quoted, it is ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a task with following content:

[code]

We use Terraform to deploy the task.  Terraform resource for the task:
[code]

2. Run the task

[code]

Log output:

[code]

**Expected behavior**

Specified version is used:

[code]

**Additional cont

[2022-06-02 21:12] mhous opened #623 "ACR deployment fails with zone redundancy enabled when using ARM/Bicep and deployment mode Complete"
**Describe the bug**
Attempted to deploy an ACR instance, with zone redundancy enabled and deployment mode Complete.  Activity logs for the deployment show many failed/successful events around Delete Replication, but deployment ultimately fails after an extended period.  In contrast, deployments work correctly and quickly with deployment mode Incremental, and deployment mode Complete does work wit

[2022-06-06 20:25] mumby0168 opened #624 "WebhookInvalidParameterValue - Azure container apps Deployment via Bicep"
I have detailed this issue here there is a full repository demoing the error and this happens for both admin credentials and managed identities, the latest example of the error show's managed identities being used.

See here -> https://github.com/microsoft/azure-container-apps/issues/238

The error message is below:

[code]

[2022-06-13 09:17] corwestermaniddink commented on #108
Any update on this?

[2022-06-13 09:17] corwestermaniddink commented on #108
@Hades32 Any update about this?

[2022-06-14 13:13] dilippanwar1 opened #625 "Set up AKS to pull from ACR in a different AD tenant without manual intervention"
**What is the problem you're trying to solve**
I am working to publishing a Azure Managed App which runs on AKS. This app will be deployed on customer's environment, however application images will be in Publisher's ACR repository. There seems to be no way for cross tenant ACR authentication with AKS

**Describe the solution you'd like**
I am looking for a way to authenticate AKS with ACR in an au

[2022-06-15 11:23] justinwells commented on #499
Hi ,

The end of 2022 H1 is nearly here - any news on this?
Many thanks

Justin

[2022-06-15 12:26] marc-mueller opened #626 "Docker pull with Docker Content Trust enabled and Token authentication fails with 401 error"
**Describe the bug**
We are currently using the token authentication to pull container images from ACR. The used token has "content/read" and "metadata/read" permissions set for the corresponding repositories. Pulling the images without docker content trust, just works fine. If we enable docker content trust and pull the image, the docker pull command fails with "you are not authorized to perform

[2022-06-17 07:34] romanzdk opened #627 "ACR build - IP address"
Until now we were building and pushing Docker image into ACR (that had public access enabled) using Microsoft-hosted DevOps agent and everything was perfect.

However, we need to make ACR accessible only from selected networks, so I thought I gather IP address of the current agent and add a firewall rule to the ACR. This approach works well for other Azure resources (e.g. KeyVault), however, for s

[2022-06-21 16:24] zzhan08 commented on #506
I have the same, any solution?

[2022-06-22 09:21] brightonk opened #628 "An error occurred: CONNECTIVITY_CHALLENGE_ERROR Registry '*****.azurecr.io' did not issue a challenge."
has anyone faced the issue. How did you resolve

== I used the below command. The output is below the command ==

$ az acr check-health -n ********Containers --yes
Docker daemon status: available
Docker version: 'Docker version 20.10.8, build 75249d8, platform linux/arm64'
Docker pull of 'mcr.microsoft.com/mcr/hello-world:latest' : OK
Azure CLI version: 2.37.0
DNS lookup to ********containers.azur

[2022-06-23 12:48] corwestermaniddink opened #630 "Is it possible to set the default docker buildx step time-out higher then 600 seconds?"
![image](https://user-images.githubusercontent.com/37871320/175300891-387eeb07-f2cc-4157-b5bc-77fd91761afb.png)

I'm building a multi-architectural (arm64 and amd64) docker image with buildx with a ACR quick-run. Unfortunately the time to build the arm64 (emulation done by QEMU on the ACR Build Agent) part is taking longer then 10min (one of the reasons we want todo this async by ACR).

Is there s

[2022-06-23 15:42] northtyphoon commented on #630
You can use the timeout property

- cmd: abc...
  timeout: 1800

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#task-step-properties

[2022-06-23 20:11] northtyphoon commented on #627
`az acr build` sends the build to Tasks. The actual build is running on a shared agent pool managed by Tasks. It's different from Microsoft-hosted DevOps agent. You can find the IPs for Tasks shared agent pool under AzureContainerRegistry Service Tag.

For example, if your registry is created in EastUS. The build will be scheduled in agent pool in EastUS. You can query the IPv4 range using the pow

[2022-06-23 20:11] #627 closed

[2022-06-24 07:37] corwestermaniddink commented on #630
[code]
Works 👍

Thanks!

[2022-06-24 07:38] #630 closed

[2022-06-24 14:46] hluckenbaugh commented on #628
I am having the same issue.

[2022-06-27 17:10] btardif commented on #345
@ggirard07 yes it's supported.

doc have also been expanded a bit:

https://github.com/Azure/app-service-linux-docs/tree/master/HowTo/Configure%20ACR%20with%20Managed%20Identities

[2022-07-01 00:35] Akshay04 opened #631 "Cannot delete ACR repo with tag count and manifest count 0"
We regularly cleanup our ACR repositories using az cli and we started getting errors deleting repositories:
"azure.cli.command_modules.acr._docker_utils.RegistryException: Error: repository name not known to registry. Correlation ID: 530afbd4-2a76-4a52-b70f-890dac6b46ce"

When I opened the acr on azure portal and tried to delete the problematic repositories, I got this error:
<img width="371" alt=

[2022-07-04 11:22] mkemmerz commented on #492
@toddysm We are looking forward to this feature. The Soft-Delete would improve the security a lot 👍

[2022-07-05 19:38] northtyphoon commented on #622
The fix has been deployed.

[2022-07-05 19:38] #622 closed

[2022-07-05 19:38] northtyphoon commented on #621
The fix has been deployed.

[2022-07-05 19:38] #621 closed

[2022-07-05 19:39] northtyphoon commented on #613
The fix has been released in cli 2.38.0. Thanks for the contribution.

[2022-07-08 03:26] jxnkwlp opened #632 "Import command response InvalidParameters, but no more details"
**Describe the bug**
import command response `Code: InvalidParameters` and message `Error copying blobs` , but no more error details .

**To Reproduce**
Steps to reproduce the behavior:
use command ` az acr import  --name xxx --source xxx/library/xxxx:1.0  --image xxx:1.0   -u xxx  -p xxx   --debug`

**Expected behavior**
Can be show more error details.

**Screenshots**
If applicable, add screensh

[2022-07-12 08:54] Petrichia commented on #626
Same issue

[2022-07-12 16:31] romanzdk opened #633 "ACI connection to private ACR"
We need to set ACR to be available only to selected networks (not public access).

However, when we set this, ACI is not able to pull image from the ACR.

How to solve this?

EDIT:
ACI says:
[code]

Is there any way how to find out that IP address so I can add it to the allowed IPs of the ACR? I mean any "normal" way to get the address, not manually looking into ACI logs.

[2022-07-13 23:06] sajayantony commented on #633
Please see if this works for you - https://docs.microsoft.com/en-us/azure/container-instances/using-azure-container-registry-mi#configure-registry-authentication

[2022-07-15 09:24] LudwigNel opened #634 "docker push unauthorized: authentication required even after successful login"
**Describe the bug**
I am experiencing an issue pushing an updated image to an Azure Container Registry.
I was able to do this yesterday but I now keep getting unauthorized: authentication required when running the docker push command in the Azure CLI

I have tried az login
az acr login
docker login as well

None of those seem to make a difference

**To Reproduce**
Steps to reproduce the behavior:

[2022-07-18 12:50] OlaNystein commented on #628
I have the exact same problem. It worked on friday, but error suddenly happened when trying to login to acr this monday.

[2022-07-22 18:37] mangalorereshmi commented on #434
ACR is now available in Brazil South East. Seehttps://azure.microsoft.com/en-us/updates/azure-container-registry-now-available-in-several-new-regions/

[2022-07-22 18:37] #434 closed

[2022-07-22 18:41] mangalorereshmi commented on #385
ACR is now available in Germany West Central. See https://azure.microsoft.com/en-us/updates/azure-container-registry-now-available-in-several-new-regions/

[2022-07-22 18:46] mangalorereshmi commented on #432
ACR is now available in Switzerland West. See https://azure.microsoft.com/en-us/updates/azure-container-registry-now-available-in-switzerland-west-region/

[2022-07-22 18:46] #432 closed

[2022-07-22 18:47] SteveLasker commented on #415
Public discussion captured here: https://github.com/AzureCR/specs/issues/1

[2022-07-24 19:59] fru125 commented on #499
bump

[2022-07-27 07:31] Wwwsylvia commented on #634
Hi @LudwigNel, could you help to confirm the following:
* What is the result of running `az acr check-health -n $registry --debug`?
* Have you recently made any changes to the permission of your account?
* Are you able to pull images from the same registry?

Could you check if this article helps? [Troubleshoot registry login](https://docs.microsoft.com/en-us/azure/container-registry/container-regi

[2022-07-29 07:44] #633 closed

[2022-07-29 07:58] Wwwsylvia commented on #632
Thanks @jxnkwlp for reporting this! We will review this experience and see if we can improve the error message.

[2022-08-02 19:54] jabbera commented on #338
Here is a similar ask: https://github.com/Azure/azure-cli/issues/11315

[2022-08-03 19:11] mehighlow opened #636 "ACR Import REST API: import job id"
**What is the problem you're trying to solve**
ACR import image REST returns only [2 responses](https://docs.microsoft.com/en-us/rest/api/containerregistry/registries/import-image?tabs=HTTP#response):

- 200 - OK
- 202 - Accepted

Lightweight images are being imported pretty fast(almost synchronously), returning 200 which is fine.
For 'heavy' images import responses with 202. To track if an image

[2022-08-05 11:17] williamcollin commented on #628
I'm having the same issue.

[2022-08-05 11:50] OlaNystein commented on #628
It fixed itself after a day, still don't know why the error occured

[2022-08-06 09:49] mloskot opened #638 "Run variable .Run.TaskName is not defined but documented"
**Describe the bug**

This section in the docs lists the `.Run.TaskName` varaible
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#run-variables
as you can see on this screenshot

![image](https://user-images.githubusercontent.com/80741/183243572-7f9cf6b2-8ef1-4b16-b5c6-c4fb787b6eff.png)

But the variable is not defined during task run.

Steps to re

[2022-08-06 11:00] mloskot commented on #395
@LMSSonos As @TBurda https://github.com/Azure/acr/issues/395#issuecomment-688744627 shows, combine `--set` with `--build-arg`, but you need to tweak your dockerfile to turn the `ARG` into `ENV`.

Here is complete example:

- `HelloWorld.yaml`

[code]

- `HelloWorld.dockerfile`

[code]

- Build and run

[code]

and the `*** Hello from image built from alpine:3 ***` line below is based on the values

[2022-08-08 14:16] seongkyu-lim commented on #367
I have the same issue and does not solve the issue by adding sudo..!
I used well with azure cli but situation has happend suddenly.

[2022-08-12 00:59] chriswue opened #639 "Cannot deploy scope-maps with bicep/arm when having more than one "folder" in the hierarchy"
**Describe the bug**
Bicep/arm deployment for this fails:

[code]

Fails with
[code]

However it works on the Azure CLI and the permissions and tokens attached work perfectly:

`az acr scope-map create --name myMap --registry my_container_registry --repository some/complex/repo content/read`

You can also do this through the Azure Portal and it works.

When writing a new API there is no valid excu

[2022-08-12 06:10] knoxi commented on #626
It's also a really important feature for us, which is not working as expected

Are there any news about an upcoming fix, maybe @Wwwsylvia or @northtyphoon?

[2022-08-12 08:23] krsche commented on #446
@mangalorereshmi Please reopen this as it was stated that it is not planned in #448 as stated by @Wwwsylvia

[2022-08-12 13:30] tomw1994991 opened #641 "Increase ACR Firewall CIDR range limit to 1000"
Hi,

When using Microsoft hosted DevOps agents for a pipeline, the public IP of the agent can be anything within the AzureCloud range for a region. For UK South, this is more than 100 CIDR ranges, which means it is currently not possible to allow all microsoft hosted DevOps agents connectivity via an ACR firewall with specified IP ranges as there is a limit of 100.

Some services (such as KeyVault

[2022-08-12 20:15] ankurkhemani commented on #426
Solution to this is documented here: https://docs.microsoft.com/en-us/azure/container-registry/manual-regional-move

[2022-08-19 12:50] Racv commented on #459
Hi I have the same issue..

I got this node public image imported into my private ACR as node:16-alpine.. and all my app image are referencing this internal base image.

Now if new updates are coming in public node image in docker hub will my copy base image get updated in my private  ACR automatically?

[2022-08-22 13:47] marouanabbessi commented on #628
I have the same exact problem, this has persisted for many days: I am trying to login to a private ACR through a private edpoint.

<img width="1264" alt="Screenshot 2022-08-22 at 15 45 46" src="https://user-images.githubusercontent.com/3102093/185936534-f25cb63c-e14d-4bb7-81aa-b9c2afc6875b.png">

[2022-08-23 21:59] stevenpedroza commented on #628
I have the same error

[2022-08-24 05:33] sajayantony commented on #628
Please open a support ticket through the portal and provide the details like region and the registry so that the issue can be routed and diagnosed.

[2022-08-24 08:19] stevenpedroza commented on #628
I found my solution, try to put the agent inside the same subnet as the private point. If you don't have it like that, you have to create a link between the networks.

You have to check that in ACR->Networking->Private Access->Private endpoint (We click on it)

We go to DNS configuration, and copy the private ip that has the FQDN, example myacrr312.privatelink.azurecr.io = IP:10.0.0.5.

Later in t

[2022-08-24 08:27] marouanabbessi commented on #628
I was accessing ACR through a user-assigned managed identity, it was working fine until all of the suddent , the registry no longer intitiate identity challenge which was failing the login, now I had to resort to enabling admin credentials (username and password) instead , so this does not seem to have a problem with the fact that it is accessed through a privare endpoint, verw eird situation with

[2022-08-25 14:08] alvispu commented on #338
@SteveLasker or anyone else - is there any updates and estimates around this?
Previous comments already explains the importance of this feature but a long time has passed in waiting.
Need to start looking on alternatives of ACR?

[2022-08-25 18:30] alex-aguero opened #642 "ACR Custom Domain Private Preview Access"
**What is the problem you're trying to solve**
This customer has been added to ACR Customer Domain private preview

**Describe the solution you'd like**
Work with customer over the private preview

**Additional context**
setup from page: acr/docs/custom-domain at main · Azure/acr (github.com), has been done effectively on registries ‘hmeuatdmcr’ and ‘hmedmcr’ container registries

Reference suppor

[2022-08-26 20:28] cegraybl commented on #639
@chriswue we can analyze the API for future changes, but can you elaborate more on the bug that you are hitting?
I'm currently deploying the following token via ARM and Bicep, but I cannot hit the issue that you are seeing.

`resource registries_graytokens_name_githubbug3 'Microsoft.ContainerRegistry/registries/scopeMaps@2022-02-01-preview' = {
  parent: registries_graytokens_name_resource
  name:

[2022-08-27 00:06] LefeWareSolutions opened #643 "Is the ACR 200 private endpoint limitation a hard technical limit on the service?"
Hello I am currently working with a very large organization who has requested a limit closer to 1000 private endpoints for the ACR.

They have over 700 clusters and wish to have a centralized container registry to pull common images such as NGINX, LinkerD etc. privately as opposed to going over the public internet. This way instead of doing a bunch of ugly and complicated peering, they can just es

[2022-08-27 01:22] sajayantony commented on #643
/cc @toddysm

[2022-08-29 21:26] toddysm commented on #643
There are certain technical limitations that we need to deal with for higher numbers. We consider 200 a safe limit that customer can use without any impact on their registries. Would you mind submitting an official support request for this.

[2022-08-29 23:37] terencet-dev opened #644 "Notary V2 COSE support"
Target launch: End of September

[2022-09-01 08:06] tetlika opened #645 "registry CONNECTIVITY_CHALLENGE_ERROR error"
**Describe the bug**
We are getting CONNECTIVITY_CHALLENGE_ERROR when doing `az acr check-health -n nimblecr`

**To Reproduce**
From any server we see this:
az acr check-health -n nimblecr
Docker daemon status: available
Docker version: Docker version 19.03.9, build 9d988398e7
This will pull the image mcr.microsoft.com/mcr/hello-world:latest. Proceed? (y/n): y
Docker pull of 'mcr.microsoft.com/mcr

[2022-09-01 15:03] haithamshahin333 commented on #204
Hi team, any updates on this capability to cache layers within a build? Would dedicated agents for task execution help with this?

[2022-09-07 22:06] alftio commented on #642
@terencet-dev We will appreciate your help.

[2022-09-07 22:22] alftio commented on #642
https://github.com/Azure/acr/tree/main/docs/custom-domain

[2022-09-15 15:52] jonathan-boudreau-work opened #646 "How to use the v2 rest api?"
**Describe the bug**
Documentation seems to be out of date or inaccurate when it comes to the authentication steps.

**To Reproduce**
Steps to reproduce the behavior:
1. Read [documentation](https://github.com/Azure/acr/blob/main/docs/AAD-OAuth.md)
2. Authenticate azure-cli
3. Look for `$HOME/.azure/accessTokens.json` file
4. it is not there

**Expected behavior**
Documentation is accurate and up

[2022-09-15 19:33] JXavierMSFT opened #647 "Registry with replication stuck in creating state"
**Describe the bug**
When users create a registry with replication enabled using terraform templates. The registry gets stuck in creating state.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a registry using terraform templates with replication enabled

**Expected behavior**
The registry should finish provisioning and allow users to store container artifacts.

If any information is

[2022-09-19 18:01] MSFTPM12 commented on #492
@mkemmerz @laurawentbb, Soft Delete for ACR is released for public preview. You can learn more about this solution @ aka.ms/acr/soft-delete.

[2022-09-20 18:33] saulobejo commented on #102
You didn't hear it from me:

[code]

[2022-09-22 00:52] chriswue commented on #639
@cegraybl sorry for the delay on this, will circle back to this soon-ish

[2022-09-22 14:45] joshuadmatthews opened #648 "How to create ACR tasks for Github Enterprise repo? "Missing required property 'SourceTriggerEvents'""
**Describe the bug**
I can't seem to figure out how to create ACR tasks for my GH Enterprise repo. ACR tasks doesn't support source event triggers with GH enterprise, which is fine as I trigger my tasks from workflows through AzureCLI, but the API won't allow me to create a task with no source event trigger. If I leave the array empty I get the error.

I am deploying my ACR tasks through Bicep wit

[2022-09-22 14:59] joshuadmatthews commented on #648
Figured out what I was doing wrong, needed to remove the entire source trigger. I thought that was the only place to provide my PAT but upon closer review of the API I found it can be provided under steps as well.

[2022-09-22 14:59] #648 closed

[2022-09-27 21:55] philip-young commented on #395
Hello. I am trying to set environment variables for a 'cmd' task that I am running from an ACR YAML I have built, but the environment variables are not making it through to the .NET application I am running in the container. I have had a lot of trouble finding the right way to do this in the documentation.. does this look right? I have tried a few other ways and they don't get accepted when I try

[2022-09-27 23:18] philip-young opened #649 "ACR Env variables -syntax and having trouble setting them in cmd of an ACR YAML file"
I am trying to set environment variables for a 'cmd' task that I am running from an ACR YAML I have created and am using an ACR task to run, but the environment variables are not making it through to the .NET 6 application I am running in the container. I have had a lot of trouble finding the right way to do this in the documentation.. does this look right? I have tried a few other ways and they d

[2022-09-27 23:30] northtyphoon commented on #649
Have you tried something like the following? https://learn.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#examples-task-step-properties

[code]

[2022-09-28 00:03] philip-young commented on #649
I gave that a try. The Task ran but when it got to the cmd part I got this error:
[code]

[2022-09-28 00:18] philip-young commented on #649
Ah, I was able to figure it out. I had a variable that had additional '=' in it (connection string , IE:  DefaultEndpointsProtocol=https;AccountName=xxx... which I think was throwing it off but to fix it all I had to do was add single quotes around the value and that made it work (see below). Thanks for your help @northtyphoon !!
[code]

[2022-09-28 00:18] #649 closed

[2022-09-29 12:44] BenoityipMSFT commented on #395
It works, why don't they put in the documentation, I have been looking for this for a whole day

[2022-09-29 12:48] BenoityipMSFT commented on #613
It took me a long time to find this issue. There is no documentation mentioning about this. I have to remove Dockerfile** in my dockerignore file, which is generated by Visual Studio 2022

[2022-10-10 22:12] sajayantony opened #651 "Roadmap: ACR Auth - Respond with www-authenticate header to the token endpoint upon a 401"
Currently an incorrect basic token responds as follows

[code]
As for other registries that support bearer, nudging the user to send the creds or authenticate with the bearer endpoint is desirable and ACR could return the Bearer header so that clients may follow that path.

This pattern is shown here -
https://github.com/dependabot/dependabot-core/issues/3689

[code]

[2022-10-11 08:49] Manbearpiet opened #652 "Azure REST API reference regarding scope maps"
**Describe the bug**
In Microsoft Learn/Docs the examples are defined in az cli, however we can't find documentation on the Azure REST Interface about scope maps at [Learn/Docs](https://learn.microsoft.com/en-us/rest/api/containerregistry/)

**Expected behavior**
A clear and concise description of what functionality REST offers regarding to scope maps and some examples.

[2022-10-11 12:18] Manbearpiet commented on #652
I did manage to dig up:
https://management.azure.com/subscriptions/c72a198b-214b-4356-bcd0-b5d8d1e523ff/resourceGroups/iamfalsified/providers/Microsoft.ContainerRegistry/registries/nosecrets4u/scopeMaps?api-version=2020-11-01-preview

I hope we can get some official docs soon though :)

[2022-10-13 09:33] wju-MSFT commented on #497
@northtyphoon Bin, the solution that I came up with is to update the `step` with `EncodedTaskStep` if we are only updating the value of an EncodedTask.
Will there be some scenario in which user created an encoded task, but later change to a FileTask and would like to change the values in the step?

[2022-10-13 12:33] byteknacker opened #653 "Make It Possible to Add ACR as a Native Helm 3 Repo with helm repo add"
**What is the problem you're trying to solve**
Right now, if you use Helm 3, you cannot add ACR as a native helm repo with "helm repo add my-acr-repo https://my-acr-repo.azurecr.io" as the URL is not exposed as a valid helm repo URL.

If you use the steps of what is suggested in this SO article: https://stackoverflow.com/questions/65993187/whats-the-index-url-for-helm-charts-added-to-acr, you stil

[2022-10-13 16:55] Spaanseh commented on #338
Do I see this correctly when I state that this would be a combination of AAD Workload Identity (receive an AAD Access Token) en token authentication (uses AAD Access Token as input) to then be able to get scope-limitation enabled?
If so; Ignite 2022 made clear AAD Workload Identity will become available starting this November, making the path towards scope-limited access viable.

[2022-10-13 18:48] dpaardenkooper commented on #412
We are really need this feature. More Enterprise companies are awaiting this feature

[2022-10-17 14:33] gangefors commented on #632
What are the root causes of this error? I am seeing this when I try to import an image from an external docker registry.

[2022-10-17 20:37] toddysm commented on #412
@dpaardenkooper and @dhanesh012 We are designing the feature at the moment and expect to have updates at the beginning of next year including tentative timelines.

[2022-10-18 01:02] tssgery commented on #599
Is there any update on this, it'd sure come in handy and solve some very large problems for me.

[2022-10-18 01:21] squillace commented on #599
Yes, @tssgery apologies on the slow delivery here. We had to work through some authentication issues as well as other challenges, but we are getting ready for preview by the end of January. We regret the delay, of course.

Do you have a scenario you can describe here? I'd love to ensure it'll be picked up by what we're doing here.

[2022-10-18 12:28] mmuffins commented on #599
Something that we want(ed) to do is a repository for container images that we can then pass on to other environments.

The idea was to create a single central acr used as repository for internal golden images, as well as cache for external container registries like dockerhub or mcr.
In addition to the central registry, each project/dev environment/etc. has an additional local registry that's confi

[2022-10-18 12:54] squillace commented on #599
This is, essentially, precisely one thing you'll get in late January, @mmuffins. You'll get other nice features as well. Keep an eye out for the announcement.

[2022-10-26 12:37] krokofant commented on #577
I'm using this command to remove untagged only
[code]

[2022-10-27 09:09] sebastus commented on #523
We also need this use case. I would cast my vote for option 2 above: encrypt existing registry.

[2022-11-02 22:30] mr-davidc commented on #289
I too think this would be a great feature to have

[2022-11-03 19:03] cwiederspan opened #654 "ACR Observability and Metrics: Expose last image pull timestamp (last image pull date) for purging scenarios"
It would be fantastic if the purge functionality would enable purging based on last pull date instead of modified date. This would allow users to purge images that have not been pulled in the last 90 days, as an example.

For advanced container approaches that regularly build/rebuild their environments, the last pulled date is a good indicator of images that have become stale and are no longer nee

[2022-11-07 19:44] edgreenberg-mri opened #655 "Unable to authenticate to container registry"
### This issue is a: (mark with an x)
- [ ] bug report -> please search issues before submitting
- [ ] documentation issue or request
- [ X] regression (a behavior that used to work and stopped in a new release)

### Issue description
A clear and concise description of the observed issue.
Unable to authenticate to container registry.

System: Centos 7

az version indicates:
[code]
After az login,

[2022-11-07 20:00] edgreenberg-mri commented on #655
Did some more reading and found ```az acr token delete```, but ```az acr token list``` returns an empty array, so I can't specify a token to delete.

[2022-11-08 11:20] daseth commented on #446
Please re-open this.

[2022-11-08 19:18] johnsonshi commented on #380
Hi @davidkarlsen,

We're working on GA'ing https://github.com/Azure/acr/issues/412 (Repository-Scoped Permissions using Tokens and Scope Maps). That feature needs to be GA'd first before the other feature first because of internal engineering dependencies.

We're aiming for a preview sometime around April to June next year (2023) for this feature (Namespace-level permissions including support for

[2022-11-08 19:31] johnsonshi commented on #412
Hi @dpaardenkooper and @dhanesh012,

Johnson here from the Azure Container Registry team.

We currently have frequent internal syncs on our side as we're marshalling the dev resources to GA this by March/April 2023.

As part of our GA efforts, we'll need to make some internal changes. The feature will not have any changes for GA. It will GA with the current set of features and capabilities that ar

[2022-11-08 19:39] johnsonshi commented on #338
Hi @Spaanseh, @jabbera, @alvispu, @mot256, @michaelgrossopt, @shana, @AntonioNaranjo1, @MadCat33, and @alexdegroot,

The timeline for namespace permissions (ability to scope permissions and tokens at the namespace level) will be Preview around June next year. This feature will also have AAD support, adding support to assign AAD roles at the namespace scope.

To help you understand our timeline, we

[2022-11-13 09:37] support-opticeo commented on #105
**Update - For Windows PowerShell:**

az acr manifest list-metadata myRegistry/myRepository --query "[?tags[0]==null].digest" -o tsv | %{ az acr repository delete -n acrofwe --image myRegistry/myRepository@$_ --yes }

[2022-11-14 16:01] danijam commented on #338
Thanks @johnsonshi for the update. I myself have just been recently planning out how could leverage ACR at scale as a part of our internal engineering platform. This feature will be a must otherwise we would need to somehow manage and marshal a separate ACR resource for each team and environment context. :(

[2022-11-15 18:54] terencet-dev opened #656 "Registry caching"
Registry Caching is an integrated way to cache public artifacts in your ACR instance, even if it's in a private network. This enables you to further secure your network (removing access to Docker Hub) and begin treating your artifacts in a secure manner.

[2022-11-16 22:32] Leonard-Wang-2000 opened #657 "E2E"
Testing

[2022-11-17 19:04] terencet-dev commented on #655
Hi @edgreenberg-mri, glad to hear that you got clarification from our Azure support system. Do not hesitate to reach out to us for additional questions/guidance. Thanks, and have a great day!
-TT

[2022-11-17 19:04] #655 closed

[2022-11-17 20:07] terencet-dev commented on #652
Hi @Manbearpiet,

Thanks for raising this to us. ACR Tokens and Scope Maps is still in Public Preview and are working towards adding additional documentation.

[2022-11-17 20:13] terencet-dev commented on #645
Hi @tetlika,

Have you opened a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team yet?

Thanks,
-TT

[2022-11-17 20:24] #643 closed

[2022-11-17 20:25] terencet-dev commented on #639
@chriswue, do you have any updates for this item or are we able to close this issue?

[2022-11-17 20:27] terencet-dev commented on #638
Hi @mloskot, apologies for the late response. Have you opened a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team yet?

[2022-11-17 20:28] terencet-dev commented on #634
Closing as this has been inactive for over three months. Please reopen this issue if you would like additional guidance.

[2022-11-17 20:28] #634 closed

[2022-11-17 20:33] terencet-dev commented on #631
Closing as this has been inactive for over three months. Please reopen this issue if you would like additional guidance.

[2022-11-17 20:33] #631 closed

[2022-11-17 20:35] terencet-dev commented on #628
Closing as this has been inactive for over two months. Please open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) for additional support/guidance. Thanks

[2022-11-17 20:35] #628 closed

[2022-11-17 20:37] terencet-dev commented on #626
Hi @marc-mueller, @Petrichia, @knoxi: Have you opened a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team yet?

[2022-11-17 20:38] terencet-dev commented on #624
Hi @mumby0168:  Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team for assistance.

[2022-11-17 20:38] #624 closed

[2022-11-17 20:39] terencet-dev commented on #623
Hi @mhous - Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team for assistance.

[2022-11-17 20:39] #623 closed

[2022-11-17 20:40] terencet-dev commented on #619
Hi @uttarwar-yogesh - Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team for assistance.

[2022-11-17 20:40] #619 closed

[2022-11-17 20:41] terencet-dev commented on #618
Closing as this has been inactive for over three months. Please reopen this issue if you would like additional guidance.

[2022-11-17 20:42] terencet-dev commented on #603
Closing as this has been inactive for over three months. Please reopen this issue if you would like additional guidance.

[2022-11-17 20:42] #603 closed

[2022-11-17 20:43] terencet-dev commented on #620
Hi @ksaye - Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team for assistance.

[2022-11-17 20:43] #620 closed

[2022-11-17 20:46] terencet-dev commented on #596
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) with our team for assistance.

[2022-11-17 20:46] #596 closed

[2022-11-17 20:49] mloskot commented on #638
No, I have not and I believe this issue tells it all.

[2022-11-17 20:50] terencet-dev commented on #588
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:50] #588 closed

[2022-11-17 20:51] terencet-dev commented on #582
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:51] terencet-dev commented on #580
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:51] #580 closed

[2022-11-17 20:52] terencet-dev commented on #577
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:52] #577 closed

[2022-11-17 20:52] terencet-dev commented on #571
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:52] #571 closed

[2022-11-17 20:53] terencet-dev commented on #570
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:53] #570 closed

[2022-11-17 20:53] terencet-dev commented on #567
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:53] #567 closed

[2022-11-17 20:53] terencet-dev commented on #563
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:53] #563 closed

[2022-11-17 20:53] terencet-dev commented on #557
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:53] #557 closed

[2022-11-17 20:53] terencet-dev commented on #547
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:53] #547 closed

[2022-11-17 20:54] terencet-dev commented on #537
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:54] #537 closed

[2022-11-17 20:55] terencet-dev commented on #497
Closing as this has been inactive. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:55] #497 closed

[2022-11-17 20:57] terencet-dev commented on #525
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:57] #525 closed

[2022-11-17 20:57] terencet-dev commented on #506
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:57] #506 closed

[2022-11-17 20:57] terencet-dev commented on #491
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:57] #491 closed

[2022-11-17 20:58] terencet-dev commented on #475
Closing as this has been inactive for over three months. Please reopen this issue if you would like additional guidance.

[2022-11-17 20:58] #475 closed

[2022-11-17 20:58] terencet-dev commented on #449
Closing as this has been inactive for over three months.

[2022-11-17 20:58] #449 closed

[2022-11-17 20:58] terencet-dev commented on #447
Closing as this has been inactive for over three months.

[2022-11-17 20:58] #447 closed

[2022-11-17 20:58] terencet-dev commented on #428
Closing as this has been inactive for over three months.

[2022-11-17 20:58] #428 closed

[2022-11-17 20:59] terencet-dev commented on #405
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:59] #405 closed

[2022-11-17 20:59] terencet-dev commented on #390
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:59] #390 closed

[2022-11-17 20:59] terencet-dev commented on #344
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:59] #344 closed

[2022-11-17 20:59] terencet-dev commented on #321
Closing as this has been inactive for over three months. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 20:59] #321 closed

[2022-11-17 21:13] terencet-dev commented on #582
Closing as this has been inactive for over three months. Please reopen this issue if you would like additional guidance.

This has been fixed.

[2022-11-17 21:13] #582 closed

[2022-11-17 21:16] terencet-dev commented on #313
This has been fixed

[2022-11-17 21:16] #313 closed

[2022-11-17 21:18] terencet-dev commented on #645
Closing as this has been inactive. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 21:18] #645 closed

[2022-11-17 21:19] terencet-dev commented on #646
Closing as this has been inactive. Please open a [support ticket](https://azure.microsoft.com/support/create-ticket/) with our team for assistance.

[2022-11-17 21:19] #646 closed

[2022-11-17 21:20] #657 closed

[2022-11-17 21:27] terencet-dev commented on #638
Please open a support ticket so our team can investigate this further.

[2022-11-18 05:35] pragnesh-ai commented on #557
Thanks

[2022-11-18 07:34] vasdee commented on #600
Apologies for the bump on this issue but I'm facing this right now. In my use case, I'm attempting to use the `_repositories_pull` scope map token within azure iotedge. It seems to require the metadata/read permission in order to serve containers at the edge for itself and any child edge devices.

Pull + metadata read would fit nicely in this scenario from a security point of view. Managing the ac

[2022-11-18 08:00] mloskot commented on #638
I have a different suggestion: why don't you assign this issue to someone in your team and, if that is really necessary, she can copy it to your internal ticketing system... I see no reason to repeat my work that I have already done and, I believe, I've done it quite well.

[2022-11-18 08:25] eliassal commented on #405
@terencet-dev, yes b ecause I am waiting for feedback from your team since May 25/2020

[2022-11-18 16:16] cwoz117 commented on #405
I am also waiting to hear the results of this...

[2022-11-21 00:14] chriswue commented on #639
@terencet-dev @cegraybl

Bicep:

[code]

Save it as `container-registry.bicep`

Run

    az deployment group create -g SOME-RESOURCE-GROUP --template-file container-registry.bicep

Output:

[code]

[2022-11-21 08:20] Wwwsylvia commented on #632
Hi @gangefors, the root causes vary. To further investigate, you may create a [support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) or send an email to [acrsup@microsoft.com](mailto:acrsup@microsoft.com), and we can check our internal logs if we have the registry name, repository name, and timestamp, etc.

[2022-11-21 16:15] #632 closed

[2022-11-22 20:39] #615 closed

[2022-11-25 07:25] mosabami commented on #380
@johnsonshi  first or second half of 2023 sounds like a whole year range. can we get something more specific? :)

[2022-11-28 21:46] AlonsoM45 commented on #204
I am also interested in this feature. Does anyone have any updates?