[2019-08-12 16:27] SteveLasker commented on #260
Hi Slawek,
Thanks for reaching out. While we haven't updated this project in a while, we've been working on standardizing the interactions. The challenge with the current implementations is every registry (acr, ecr, gcr, quay, docker hub, harbor) must implement custom APIs for general information. The OCI distribution project hadn't solidified a standard for things like repository, tag, searching

[2019-08-13 06:10] sajayantony commented on #256
@ni-reis  should we close this issue?

[2019-08-13 06:11] sajayantony commented on #238
@dreschner - Does @abigailbuckholdt 's solution work for you?

[2019-08-13 06:12] sajayantony commented on #237
@xenalite - were you able to make progress or should we keep this issue open?

[2019-08-13 07:10] hkuadithya commented on #256
@sajayantony yes, I forgot to close this issue. The PR related to this issue has been merged into Dev.

[2019-08-13 07:10] #256 closed

[2019-08-13 08:36] sajayantony commented on #214
The latency issue was diagnosed and a fix rolled out to all affected regions and not just to West Europe. We apologize for this inconvenience and are taking steps which will reduce our time to detection and mitigation. All operation latency are back within acceptable ranges.

[2019-08-13 16:12] xenalite commented on #237
@sajayantony Sorry, I did what you suggested and added a Reader role. That worked fine, just forgot to close the issue.

[2019-08-13 16:12] #237 closed

[2019-08-15 17:56] djyou commented on #257
Closing as the rollout has completed.

[2019-08-15 17:56] #257 closed

[2019-08-15 20:15] nathana1 commented on #254
A fix has been deployed to all regions.

[2019-08-15 20:15] #254 closed

[2019-08-16 16:55] jpreese commented on #247
@sajayantony I saw you added a milestone to this -- does that mean this feature request has been approved?

I saw on uservoice there were quite a few suggestions relating to the exact same thing, so was a little concerned the votes were going to get split 🤣

[2019-08-19 10:09] TBurda opened #263 "Acr build hangs"
**Describe the bug**
Build container accidentally hangs on one of the steps in dockerfile. I executed a commad `az acr build --registry logeto --image web:7.6.35.1340_1809 --platform windows --build-arg WINDOWS_VERSION=1809 --build-arg VERSION=7.6.35.1340 C:\ContainersBuild\Web --debug`

This happens randomly when I run the build ACR command above. Can you help me? A few months ago everything was

[2019-08-19 11:58] northtyphoon commented on #263
@TBurda can you run `az acr task logs -r logeto --run-id cbh8` to get the final build log? It looks one build step timed out. Is it possible to share the project with us to repro it? You can send it to acrsup@microsoft.com.

[2019-08-19 12:12] TBurda commented on #263
Yes, I can. I sent email with the files.

[2019-08-19 21:41] shahzzzam commented on #263
Hi @TBurda is it possible for you to send the project zip file?
We want to be able to reproduce this and collect some system level logs to see what's going on.

Also - I see that the base image you use here is logeto.azurecr.io/iis:1809.

Do you also happen to have the Dockerfile for that image?

Thanks

[2019-08-20 19:22] exitista opened #264 "delete all images in Azure Container Registry except the last two"
Hello, how are you?

I want to delete all images in Azure Container Registry except the last two. I was looking for an script for do so but I only find to delete images older than X days. This is not possible for my situation because some days there are a lot of images created and other days only one.

Somebody has any idea?

Thanks in advance

Regards

[2019-08-20 19:32] sajayantony commented on #264
@SteveLasker - should we enhance to count rather than ago ?
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge

[2019-08-20 19:33] sajayantony commented on #260
This is being fixed - https://github.com/Azure/acr-web-manager/pull/10

[2019-08-21 06:26] tomkerkhove commented on #260
@SteveLasker 	Any plans on providing this as part of ACR itself?

[2019-08-21 19:56] SteveLasker commented on #260
We'd likely take an iterative approach. We'll first make sure the code could be hosted in App Service Linux or a customers AKS cluster. It would have auth back to ACR for the user.
If we have that working, and good customer usage, we could consider hosting it directly. Honestly, we haven't had many requests, but are happy to see it up-voted on https://aka.ms/acr/uservoice

[2019-08-24 12:09] LianwMS opened #265 "no matching manifest for unknown in the manifest list entries"
**Describe the bug**

 az acr build -image sample/buildbyacr:v1 --registry lianwacr --file Dockerfile .

The dockerfile is very simple:

FROM mcr.microsoft.com/windows/servercore@sha256:7afc10568a79ffbaf11dfc70b13937ca8bec419fb2d408499f4568f40fae3e61
COPY SSIS C:/ssis/

Can build one local machine, but when using acr build. it fails since:

Sending build context to Docker daemon  237.3MB
Step 1/2

[2019-08-25 16:56] SteveLasker commented on #265
Hi LianeMS,
Not knowing what tag you’re pulling, it’s possible the specific version isn’t yet supported or is otherwise incompatible with the host of ACR Tasks
We frequently update Tasks with the latest and greatest supported images.
Can you use a tag reference, as opposed to manifest and let us know what windows version you’re using?
See here for more about digests and tags:
https://stevelasker.b

[2019-08-25 17:40] northtyphoon commented on #265
@lianwms, to build windows image, you need to pass ‘—platform windows’ to ‘az acr build’ command

[2019-08-25 17:44] SteveLasker commented on #265
@steve Think horses, not zebras

[2019-08-27 07:51] LianwMS commented on #265
@northtyphoon Thanks, I add "--platform windows" then it pass. @SteveLasker . Thanks too

[2019-08-27 07:51] #265 closed

[2019-08-29 06:58] tomkerkhove commented on #139
I certainly agree, this would be major!

[2019-08-29 15:30] SteveLasker commented on #139
Hi folks,
As noted, we do have 3rd party support. Our goal has always been to have a pluggable model, consistent with standard [OCI Distribution](https://github.com/opencontainers/distribution-spec/) and [proposed designs of consistency](https://stevelasker.blog/2019/08/25/oci-artifacts-and-a-view-of-the-future/) for 3rd and 1st party. Just as windows comes with Defender, by default, customers can

[2019-09-04 12:19] abilous-ti opened #270 "Build fails when using az acr build --target option with image nginx:stable"
**Describe the bug**
Building with a docker file using image nginx:stable fails the build.

Successfully built 4a72365b55cf
2019/09/04 11:45:56 Successfully executed container: build
2019/09/04 11:45:56 Step ID: build marked as successful (elapsed time in seconds: 30.798192)
2019/09/04 11:45:56 Populating digests for step ID: build...
failed to query digests, msg: Error: No such object: nginx:stab

[2019-09-06 15:15] jpreese commented on #247
ping @sajayantony !

[2019-09-06 16:31] SteveLasker commented on #247
This is something we'd really like to do. That said, I don't know if we can get it done this fall. https://aka.ms/acr/uservoice is the best way to influence feature requests, while we use https://aka.ms/acr/issues for bugs & issues we need to immediately fix.
FTWIW, if you're really passionate about registries, and want to help us get more done: https://aka.ms/acr/jobs :)

[2019-09-12 08:38] mkstephenson opened #271 "Preview Purge - unknown flag: --filter"
**Describe the bug**
When attempting to execute the purge command (on demand), it throws an error saying that the required --filter flag is unknown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Azure CLI
2. Run az acr run --cmd "mcr.microsoft.com/acr/acr-cli:0.1 --registry {{.Run.Registry}} --filter 'projectname/.*' --ago 7d --dry-run" --registry <myregistry> /dev/null

**Expected be

[2019-09-12 18:07] #271 closed, assigned to nobody

[2019-09-13 10:10] jakaruna-MSFT opened #287 "az acr import with port number fails in validation"
## Describe the bug
I am opening this issue as part this [MSDN thread ](https://social.msdn.microsoft.com/Forums/en-US/b0d50ace-e740-401b-a5da-c6a1b1219239/how-can-i-use-port-in-registryuri-when-i-import-container-images-from-a-nonazure-private-container?forum=AzureContainerServices) opened by panyoung.kim

**Command Name**
`az acr import`

**Errors:**
[code]

## To Reproduce:

have a port num as

[2019-09-19 11:18] ina-stoyanova commented on #214
Hey. We can see this happening again for some cases in the eu region.

[2019-09-19 21:19] msyihchen commented on #214
Apologize for the inconvenience. Our storage accounts in US East region had some issue early today. It's has been mitigated. Can you confirm the issue is gone? @ina-stoyanova  //cc @djyou @sajayantony

[2019-09-20 19:38] sajayantony commented on #252
@tjcrone - Did you get a chance to validate with https://azure.microsoft.com/en-us/updates/azure-ephemeral-os-disk-now-generally-available/
Feel free to reopen the issue with more details if are still seeing any degraded performance.

[2019-09-20 19:38] #252 closed

[2019-09-24 10:05] ina-stoyanova commented on #214
@msyihchen It's been resolved for now for the US east region. Thank you

[2019-09-24 19:09] hkuadithya opened #275 "Add documentation for fetching tags via CURL"
**What is the problem you're trying to solve**
Currently, documentation for fetching tags via curl is missing.

**Describe the solution you'd like**
A documentation along with some scripts can be added in the docs for fetching tags via CURL.

**Additional context**
[Workitem on Azure Board](https://msazure.visualstudio.com/One/_boards/board/t/Azure%20Container%20Registry/Backlog%20items/?workitem=

[2019-09-25 07:06] sajayantony commented on #214
Thanks for confirming @ina-stoyanova.
We are closing this issue for now. Please do open an new item if you experience any issues.

[2019-09-25 08:11] Tynamix commented on #214
In EUW its very very slow right now!

[2019-09-25 08:16] Tynamix opened #276 "Pushing to EUW Azure Container Registry is slow and aborts"
**Describe the bug**
Pushing an image to ACR in region EUW is very slow and aborts with retry.
Yesterday everything worked fine!

**To Reproduce**
Steps to reproduce the behavior:
1. Create a docker image
2. Push it to a container registry in EUW

**Expected behavior**
Pushing an image to ACR should be fast.

**Any relevant environment information**
 - OS: Windows
 - Azure CLI version: 2.0.70
 - D

[2019-09-25 08:22] #276 closed

[2019-09-25 08:23] Tynamix commented on #276
Problem is our network. Sorry

[2019-09-29 07:56] gmistick commented on #238
@dreschner  , How were you able to get the Bitbucket to work?

[2019-09-30 08:34] mallaranand commented on #238
@abigailbuckholdt, Hi I am unable to create ACR task with bitbucket context. Since you have already achieved this. Could you please help me with the command where you were already succeded.

CLI command im using:
az acr task create --registry <registry-name> --name task01 --image appimage:1.0 --arg <Registry-name.azurecr.io> --context "https://<username>@bitbucket.org/<workspaceid>/<Repository-nam

[2019-09-30 16:53] northtyphoon commented on #238
@mallaranand  the above error you saw is because Tasks doesn't support commit trigger for bitbucket. You can pass `--commit-trigger-enabled false` to `az acr task create` cmd.

[2019-09-30 16:58] northtyphoon commented on #238
@mallaranand you can also upvote @gmistick request in user voice, it will help us prioritize the feature.

https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/38705104-support-bitbucket-repositories

[2019-10-01 14:49] SUNIL23891YADAV commented on #214
Even I am facing the issue in West Europe as of now.

[2019-10-01 19:14] bdelsaz opened #278 "401 unauthorized when trying to push signed container to ACR"
I am trying to push signed images to an Azure Container Registry. I get the error:
```'failed to sign : you are not authorized to perform this operation: server returned 401```.
This even though I have created all the RBAC roles in Azure AD and I am logged in with the right credentials (AcrImagePush and - AcrImageSigner ).
I am following the instructions in this [Microsoft docs page](https://docs.

[2019-10-02 09:49] abilous-ti commented on #270
@northtyphoon Are there any updates on this bug, when the fix will be released?

[2019-10-03 10:19] mallaranand commented on #238
@northtyphoon I have tried your suggestion but the same error it was showing.

[2019-10-03 16:50] northtyphoon commented on #270
@abilous-ti can you try it again? We rollout a fix.

[2019-10-03 18:00] northtyphoon commented on #238
@mallaranand  I guess you used an old version of azure-cli. If so, there might be another trigger you need to turn off explicitly. Sorry for the confusion. Here are the detail steps.

1. Create an App Password in BitBucket with Repositories:Read permission.
2. Run the following command to create the task.
[code]

3. Run the following command to manually schedule a run for the task.
[code]

[2019-10-04 05:29] jageshmaharjan commented on #214
Pushing from SouthEast Asia region to West US, and it's been very terrible

[code]

[2019-10-04 11:32] abilous-ti commented on #270
@northtyphoon I confirm. Bug is fixed

[2019-10-04 14:04] #270 closed

[2019-10-04 17:54] SteveLasker commented on #214
Hi @jageshmaharjan,
Pushing across regions has many challenges, largely outside our control as you're literally on the public internet.
This is where [geo-replication](https://aka.ms/acr/geo-replication) can be really useful. You push locally, acr does the replication, once, behind the scenes. You get regional [webhooks](https://aka.ms/acr/webhooks) when the image arrives in the other regions.

[2019-10-04 23:29] martinpf commented on #278
This is what happens when the AcrPush role assignment is there for the credential the docker client has cached for that registry but  AcrImageSigner is not.  Is there any chance the current credential the docker client is using  for the registry is missing that role assignment?

[2019-10-04 23:33] martinpf commented on #278
You could verify there are no docker client issues by doing a docker login using a service principal that has both AcrPush and AcrImageSigner roles assigned to the registry.

[2019-10-05 10:41] bdelsaz commented on #278
@martinpf thanks so much for your response. I also suspect it has something to do with the docker client, something in the lines of AZ CLI is not passing the docker client the credentials.

When I do ```docker login``` with the admin account (after admin account is activated) of my ACR, I am able to login. But I cannot push containers, the access to the repository/resource is denied.

When I do ``

[2019-10-05 12:47] bdelsaz commented on #278
So, I think I can boil down my problem to this.
```az acr login``` (which is just a wrapper of  ```docker login```) can successfully log in if I use the 'admin account' username and password.

However, if I try to log in with my AD username (my email), both az acr and docker client will refuse to log me in.

[code]
So when I do docker push and try touse my acrImageSign credentials, these are not t

[2019-10-07 13:51] jageshmaharjan commented on #214
changed the region, seems to be fine.

[2019-10-08 21:59] SteveLasker opened #279 "az acr task run to minimize output"
**Describe the bug**
running `az acr task run` generates a lot of debugging information. Should move this to `--debug` execution, or otherwise minimize the noise

**To Reproduce**
Steps to reproduce the behavior:
[code]
generates:
[code]
**Expected behavior**
Minimized output
[code]

[2019-10-08 22:04] martinpf commented on #278
Instead of
  az acr login -n ACR_NAME -u MY_EMAIL@EMAIL.com
does a sequence of commands like the following work?  (log into your Azure AAD account using az login)
   az login
   az acr login  -n <registryName>
   docker push <registryName>.azurecr.io/yourRepo:yourTag

[2019-10-08 22:59] SteveLasker opened #280 "agressive on reserved names"
**Describe the bug**
We seem to be a bit too aggressive on reserved words/names
**To Reproduce**
[code]
generates an error:
`The resource name 'contosobaseimages/az-login' or a part of the name is a trademarked or reserved word.`

Not sure why we concatenate `contosobaseimages/az-login`, but really confused why we block on a name of `az-login`

**Expected behavior**
Names that aren't copyright, on

[2019-10-08 23:17] msyihchen commented on #264
@SteveLasker  /cc @sajayantony

[2019-10-08 23:21] msyihchen commented on #260
@tomkerkhove Is this issue closable?

[2019-10-08 23:23] #240 closed

[2019-10-08 23:24] msyihchen commented on #239
This is already fixed.

[2019-10-08 23:24] #239 closed

[2019-10-08 23:28] msyihchen commented on #178
We are working on it.

[2019-10-08 23:30] SteveLasker opened #281 "acr import fails with acrpush role"
**Describe the bug**
When running az acr import, under a task with acrpush rights, I receive a failure of unkonwn registry.

**To Reproduce**
Steps to reproduce the behavior:
1. create a sp with acrpush rights
1. az acr login, with the sp user/pwd
1. `az acr import --name contosobaseimages --source docker.io/library/node:9-alpine -t staging/node:9-alpine --force`

`ERROR: The resource with name 'c

[2019-10-08 23:38] northtyphoon commented on #280
I guess the error is from ARM not us. We do allow `-` for the task name.

@jaysterp @huanwu can you confirm it?

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2019-04-01/containerregistry_build.json#L2540

[2019-10-08 23:44] SteveLasker opened #282 "az acr import to generate output on success"
**Describe the bug**
When running az acr import, there's no output for the success or failure of execution.
For context, `acr import` may be run in a larger batch script (or acr tasks). Looking at the logs, there's no info the command ran, or was successful

**To Reproduce**
Steps to reproduce the behavior:
1. `az acr import --name contosobaseimages --source docker.io/library/node:9-alpine -t stag

[2019-10-09 00:07] SteveLasker opened #283 "az acr task create w/--use-identity to support role assignment"
**What is the problem you're trying to solve**
Creating a task, with an identity, with a role is a very tedious, multi-step process
To streamline this, we should support assigning a role at the time of creation.
- Create the task
[code]

- Get the principal ID, saving in vars, running a 4th command to configure
  Worse, is if you ever re-create or update the task, the below commands will need to b

[2019-10-09 00:21] huanwu commented on #280
Yeah, it is not related to us. I can repro it on prod but cannot repro on dogfood. It seems the prod arm has more restrictions.

[2019-10-09 02:42] SteveLasker opened #284 "ACR Tasks reference: YAML to include .Values example"
**Describe the bug**
When looking to understand how to correlate task create `--set name=value` with a tasks.yaml that parses `.Values.name` we don't have any doc examples.

**To Reproduce**
Steps to reproduce the behavior:
1. [Multi-step tasks references](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml
) `--set name=value`
1. [Tasks Reference: YAM

[2019-10-09 03:52] SteveLasker opened #285 "Add Run.RegistryName to Task.yaml Run Variables"
**What is the problem you're trying to solve**
Some commands require just the registryname (eg: `demo42`) instead of the fully qualified name `demo42.azurecr.io`. Without this `Run.` variable name, we have to resort to either parsing the `Run.Registry`, or passing it in as a `.Values.` value.

**Describe the solution you'd like**
Task Run Variables to support `.Run.RegistryName` which would take `

[2019-10-09 05:59] northtyphoon commented on #285
Tasks has supported {{.Run.RegistryName}}. Try

`az acr run --cmd "bash echo {{.Run.RegistryName}}" -r demo42 /dev/null`

[2019-10-09 06:41] tomkerkhove commented on #260
I'd keep this open for now

[2019-10-09 06:58] shizhMSFT commented on #278
Could you try to create a service principle and assgin `AcrPush` and `AcrImageSigner` roles to that service principle? Then login using the service principle?

[2019-10-09 09:41] bdelsaz commented on #278
@martinpf it works, for unsigned images only. If I do ```set DOCKER_CONTENT_TRUST=1``` before pushing it will not sign the image.

Will try creating a service principal as @shizhMSFT suggests and will post here the results

[2019-10-09 10:50] bdelsaz commented on #278
@shizhMSFT this works if I sign in as a user principal, thank you.

Setting credentials and loggin in as a user principal, both from CLI and Azure portal, _does not work_ then (unless I'm missing something).

[2019-10-09 16:23] SteveLasker commented on #285
Ok, so it's a doc issue, as there's no reference to it in [ACR Tasks reference: YAML](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml)
@dlepow, can we queue this up for an update?

[2019-10-09 16:25] SteveLasker commented on #280
Who do we follow-up with regarding name validation from ARM?

[2019-10-09 16:31] northtyphoon commented on #280
@SteveLasker  all Azure resource creations is pre-validated by ARM.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-reserved-resource-name

The following words cannot be used as either a whole word or a substring in the name:

LOGIN
MICROSOFT
WINDOWS
XBOX

[2019-10-09 16:37] SteveLasker commented on #280
Lets please queue up a link to this doc for name validation. It wasn't clear to me what word, or why.

[2019-10-09 16:51] northtyphoon commented on #280
@SteveLasker the request was directly rejected by ARM, it didn't even reach our service. I closed the issue because it's out of our control and we don't get a chance to handle it and unable to do anything for this case.

I suggest your feature request on https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-reserved-resource-name? Does it make sense?

[2019-10-09 16:56] dlepow commented on #285
Yep, this can be addressed as a side point in pending PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/89309 for YAML version update.

[2019-10-09 17:33] SteveLasker commented on #285
Closing as RegistryName added to the above pr.

[2019-10-09 17:33] #285 closed

[2019-10-09 18:07] martinpf commented on #278
to sign in as an AAD user you must use az login and then az acr login.  az acr login will apply the token that az login obtains to docker.  az acr login doesn't support the AAD login protocal (2 factor auth, etc...) for AAD user accounts

[2019-10-09 18:21] bdelsaz commented on #278
Yes, I do this (see my [second post](https://github.com/Azure/acr/issues/278#issuecomment-538646878)). I am unable to login with my AAD credentials even after I login with ```az login``` to be sure.

az login response:
[code]
Then az acr login (Password shows empty, but I type it)
[code]

[2019-10-09 18:43] bdelsaz commented on #278
I think this might be an azure cli problem.
I've seen [this issue](https://github.com/Azure/azure-cli/issues/5961), [this issue ](https://github.com/Azure/azure-cli/issues/4843)and [this issue](https://github.com/Azure/azure-cli/issues/4715), regarding login failing on non-standard consoles and passing password input to docker client. None of the workarounds worked stated in these issues worked fo

[2019-10-09 18:43] #278 closed

[2019-10-09 21:50] sajayantony commented on #281
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images#prerequisites

[2019-10-09 23:30] SteveLasker commented on #281
Clarifying for next steps:

- contributor is required today
- we should enhance it to work with limited `acrpush` rights

[2019-10-09 23:54] SteveLasker commented on #260
Hey @tomkerkhove,
As this is a feature request, not a bug, can you please move this to https://aka.ms/acr/uservoice?
We track issues, as they apply to supported scenarios here. Keeping this open indicates there's a bug in the product we're not actively fixing.

[2019-10-10 02:48] shizhMSFT commented on #278
The root cause is that the permission list is not recognizable by ACR if the current login user has a classic subscription administrator role, such as `Service Administrator` and `Co-Administrator`.

We are sorry that those classic admins roles are currently not supported by ACR, and we plan to resolve this issue.

[2019-10-10 06:23] tomkerkhove commented on #260
Looks like it's already there - https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/38315953-acr-user-interface

Ok to close for me, but I didn't open it 😁

[2019-10-10 08:03] slawekww commented on #260
Hi @tomkerkhove
yes, I've opened it at uservoice. Please close this github feature request.
Unfortunatelly I have no work forces to work on ACR improvements even if my organization uses intensively ACR, AZDO and AKS.

[2019-10-10 08:03] #260 closed

[2019-10-10 14:10] jpreese opened #286 "Add log event when image tag is removed"
**What is the problem you're trying to solve**
This morning a couple of our build pipelines stopped working because the image tags used for the containerized jobs could not be found. No one in the organization appears to have manually deleted it, and the logs don't show any information.

**Describe the solution you'd like**
More events around actions that occur in the Azure Container Registry, spe

[2019-10-10 14:24] jpreese commented on #286
For completeness, @SteveLasker has mentioned there is going to be a diagnostic and logs feature which may cover this. https://twitter.com/SteveLasker/status/1182298896355082245?s=20

[2019-10-14 18:00] adewaleo commented on #287
I transferred the issue here as it is not a CLI issue and it is being worked on on the service Resource Provider side.

[2019-10-18 05:36] pihai opened #288 "Custom Domain - nginx proxy container returns "504 Gateway Time-out" after the IP of the ACR has changed"
**nginx proxy container returns "504 Gateway Time-out" after the IP of the ACR has changed**

Hi

I followed [this article](https://github.com/Azure/acr/tree/master/docs/custom-domain) to deploy a registry with a custom domain. Usually this works for a few days and then occasionally stops working.

Trying to curl the registry via the custom domain results in a timeout:

[code]

By looking at the l

[2019-10-18 06:31] sajayantony commented on #288
@SteveLasker

[2019-10-18 21:27] SteveLasker commented on #288
Hi @pihai,
This is unfortunately an NGINX bug. Each time we do a rollout, our IPs can change. This is why we require a cider range for whitelisting firewall rules, and not a specific IP. Even geo-replication can return multiple valid IP addresses.

We are adding supported custom dns support with customer provided certs as well always require ssl. Timeframe is likely summer of 2020 before we comple

[2019-10-20 01:13] sieunhantanbao commented on #124
Thank you very much. I had the same issue. The problem was solved with your solution.

[2019-10-24 07:07] pihai commented on #288
Thanks for the answer. Glad to hear that custom dns is coming in nearish future.

However i would not consider this as an nginx bug but rather a bug in the config. I ended up with this solution: https://github.com/pihai/acr/commit/ce4aceca036a69141097e9a983d800daddd7c39c

Working so far.

[2019-10-24 08:44] mkstephenson opened #289 "Add tags to existing images"
**What is the problem you're trying to solve**
We would like to be able to add tags to images after they have been uploaded to the ACR. The reason for this is that we upload images, test them and then need to be able to tag them as stable.

**Describe the solution you'd like**
The addition of a command which would allow the user to specify the image manifest/existing tag and then add a tag to the

[2019-10-24 22:49] SteveLasker commented on #289
You could use acr import: https://aka.ms/acr/import to achieve this as we recognize the manifest is the same and simply add the tags. Best of all, it’s a server side api so no docker client is required

[2019-10-25 03:13] revanthalampally opened #290 "Need to understand how the AKS cluster is able to pull images"
Hi All,

I have created an AKS cluster with a service principle.
The same service principle has access to ACR.

Now when I do any deployment, I am able to spin up pods without providing any ImagePullSecret for the ACR, unable to figure out how this is possible.

I tried logging into a AKS cluster and did docker pull of an image in ACR. I am asked to do a docker login first which make sense but I a

[2019-10-25 05:00] shizhMSFT commented on #290
@revanthalampally I'd clone this for you, but it would lose your tracking abilities. Please just copy/paste this over to https://github.com/Azure/AKS since it is an AKS key management issue.

[2019-10-25 05:00] #290 closed

[2019-10-25 05:20] northtyphoon commented on #290
@revanthalampally AKS stores the service principal credential in /etc/kubernetes/azure.json. The following code uses the credential to login ACR and pull images.

https://github.com/kubernetes/kubernetes/blob/d6035f3e0d79dd05628ef42231beae97806a06ad/pkg/credentialprovider/azure/azure_credentials.go#L199

[2019-10-25 21:17] revanthalampally commented on #290
@northtyphoon Thanks a lot. That explains a lot of things.

[2019-10-26 06:06] SteveLasker commented on #289
You could use acr import: https://aka.ms/acr/import to achieve this as we recognize the manifest is the same and simply add the tags. Best of all, it’s a server side api so no docker client is required

[2019-10-28 16:15] northtyphoon commented on #263
@TBurda the issue is still under investigation with windows platform team. Unfortunately, I don't have ETA at current moment. If it's intermittent, You may need to retry to workaround it.

[2019-10-30 20:09] grep-ir opened #291 "Suggesting the use of online base64 tool to encode username and password"
**Describe the bug**
https://github.com/Azure/acr/blame/master/docs/Token-BasicAuth.md#L44 suggests that readers of this doc use an online tool to base64 encode `username:password`.  This is a great way to hand over your credentials to the operator of that website.  It would be much better to use a bash utility such as `base64` to encode your string.

To encode:
`echo "username:password" | base64`

[2019-10-30 22:34] hkuadithya commented on #291
Merged in this PR: https://github.com/Azure/acr/pull/292
Thanks @grep-ir

[2019-10-30 22:34] #291 closed

[2019-10-31 08:27] mkstephenson commented on #289
The problem with the import statement is that it isn't intuitive, especially when coming from the Docker tools where the tag command is available to re-tag images

[2019-10-31 21:32] adewaleo commented on #287
So although our validation now allows port numbers, it turns out that our import implementation does not handle ports properly....

[code]

This is because for a push to work to a specific port, the client / requester must be authenticated to that port.

case in point

[code]
works only after authenticating to "ovatestregistry.azurecr.io:**443**"

[2019-10-31 21:33] adewaleo commented on #287
More work will have to be done in the service to handle these scenarios properly, beyond just improving validation (which was previously done)

[2019-11-04 09:20] TBurda commented on #263
Hi @northtyphoon, thank you for answer. This problem occurs every day and blocks our CI / CD. To successfully build a container, I have to run build manually several times.

Could you advise me on, how temporarily workaround this problem?

[2019-11-04 18:10] northtyphoon commented on #263
Can you see what build step often failed? For example, if you have the following Dockerfile and the `command2` step often failed, if the steps above `command2` are "static", can you pre-create a base image that ends at 'command2' that other builds can be based on?

[code]

[2019-11-05 07:04] sajayantony opened #293 "Disable passing in Yaml override on task run"
**Describe the bug**
Task run does not support override of an encoded yaml content. This should

**To Reproduce**
Steps to reproduce the behavior:
1.  `echo "" | az acr task create -n transient --assign-identity -f - -c /dev/null`
2. `cat transient.yaml | az acr task run -n transient -f - -c /dev/null`
3.

**Expected behavior**
This should throw and error since yaml override is not supported.

**S

[2019-11-05 09:02] AdamSharif-MSFT opened #294 "Unable to deploy ARM template for ACR with replication in complete mode with Az CLI version greater than 2.0.72 | HomeReplicationCannotBeDeleted"
**Describe the bug**
When deploying an ARM template to create an ACR with replication in COMPLETE mode with the latest version of the Azure CLI, the deployment takes a very long time and eventually fails with error **HomeReplicationCannotBeDeleted**.
This only affects COMPLETE mode deployments, and the previous workaround described here is no longer working: https://github.com/Azure/azure-quicksta

[2019-11-05 18:20] northtyphoon commented on #263
/cc: @jstarks

[2019-11-06 07:02] jakaruna-MSFT commented on #287
@adewaleo Can you go through this [MSDN thread](https://social.msdn.microsoft.com/Forums/en-US/8eda3544-53ed-43fa-ac53-87e721fa09c3/accessing-private-docker-registry-on-nonstandard-port-with-aci?forum=AzureContainerServices) and provide your inputs?

In that thread, customer is trying to pull the image from the private registry with port number 5000 and the image pull fails.

command used is
`
az

[2019-11-06 07:03] jakaruna-MSFT commented on #287
@adewaleo If we run the private registry in 443, what will happen

[2019-11-06 15:25] BenjaminHerbert opened #295 "Base image update of ubuntu:18.04 on Docker Hub did not trigger my ACR task"
**Describe the bug**

I have setup an ACR task, which builds an image from a Dockerfile that relies on `ubuntu 18.04`.

I have followed the setup described in [Automate OS and framework patching](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#automate-os-and-framework-patching) and have build the task once to let "ACR Tasks discover(...) the base image

[2019-11-06 17:58] adewaleo commented on #287
I think az acr import should work fine with 443 if the port isn't explicitly mentioned, however this should be fixed as part of this issue (being able to import with explicit port)

@jakaruna-MSFT Unless I understand you, we don't own azure container instances (ACI) or the container create service / command. Please reach out to them.

However, I think as you mentioned or hinted, the user should be

[2019-11-06 18:39] jaysterp commented on #295
@BenjaminHerbert thanks for reaching out. Can you please provide the registry and task name so we can investigate?

[2019-11-07 12:04] BenjaminHerbert commented on #295
@jayterp I have just sent out an email to 'acrsup@microsoft.com' providing the information.

[2019-11-08 01:51] jaysterp commented on #295
@BenjaminHerbert we indeed see that no build was triggered for your task on the ubuntu base image update a week ago. We have found a potential issue that may have caused this and are making a fix to address it now. Thank you for reporting!

[2019-11-10 02:10] kawaja commented on #287
I'm the reporter in the [MSDN Thread](https://social.msdn.microsoft.com/Forums/en-US/8eda3544-53ed-43fa-ac53-87e721fa09c3/accessing-private-docker-registry-on-nonstandard-port-with-aci?forum=AzureContainerServices).

I'm relatively new to Azure and I was testing private registry on non-standard port as that's how some of our registries are configured (not always my choice). Using a proxy to re-map

[2019-11-11 18:58] adewaleo commented on #287
I am happy you got a workaround to work @kawaja. Sorry about the inconvenience.

@jakaruna-MSFT and @kawaja
**Please note** though that I don't work on **ACI** but **ACR**. We will work on supporting **acr import** with port numbers, however working on az container create with non standard ports is beyond our scope.

cc: @mmacy, @neilpeterson, @seanmck @dlepow as they are contributors to https://d

[2019-11-12 08:42] BenjaminHerbert opened #300 "Base image update of centos:7 on Docker Hub triggered my ACR task **twice**"
**Describe the bug**
I have setup an ACR task _centos_, which builds an image from a Dockerfile that relies on `centos:7`.

I have followed the setup described in [Automate OS and framework patching](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#automate-os-and-framework-patching) and have build the task once to let "ACR Tasks discover(...) the base im

[2019-11-12 15:39] northtyphoon commented on #300
@BenjaminHerbert we are aware of the two issues you reported recently and will release a fix soon.

[2019-11-14 08:43] Jyoti492 opened #305 "Pull and push on ACR fails with private agents"
Hi Team,

I am able to connect the ACR via Service Connection only on hosted agents and on our private agents it fails with the error as below although the ACR is open for all networks. Can you please let us know if we have to do any specific settings on the agent.
The push refers to repository [mcpsharedreg.azurecr.io/coesd/aab-base-deploy-helm]
Get ***v2/: read tcp 10.232.61.203:43262->52.236.18

[2019-11-14 14:34] Edblakejitsuin commented on #214
Getting "socket.timeout: timed out" with ACR in West Europe all of today

[2019-11-14 17:58] sajayantony commented on #305
@northtyphoon - can you please have this routed to someone on the DevOps team?

[2019-11-14 18:11] dlepow commented on #287
@dkkapur @macolso - Can you please comment on the `az container create` issue mentioned above when pulling an image from a private registry on a nonstandard port? Thanks you!

[2019-11-20 00:37] northtyphoon commented on #300
@BenjaminHerbert we have deployed the fix

[2019-11-20 00:38] northtyphoon commented on #295
@BenjaminHerbert  we have deployed the fix.

[2019-11-20 08:24] NagleIT opened #311 "All build tasks on arm with python pip fail"
**Describe the bug**
RE: 119112023000326
Error in QEMU version running in arm builds. Any arm build that uses pip to pull python libraries is failing. Investigating shows that pips openssl client is attempting a `getrandom ` syscall and qemu is not recognizing it. This issue appears around the web frequently in 2017 but was fixed in later versions of QEMU.

**To Reproduce**
Steps to reproduce the

[2019-11-21 17:41] northtyphoon commented on #311
OK. We now understand the issue and plan to update QEMU module to address the issue in December release.

[2019-11-22 02:55] NagleIT commented on #311
Thank you folks for looking at this, Is there any possibility of deploying this fix faster? The older version QEMU also contains a few security vulnerabilities https://www.cvedetails.com/vulnerability-list/vendor_id-7506/Qemu.html

[2019-11-22 03:50] northtyphoon commented on #311
@NagleIT Tasks is running on highly isolated sandbox environment backed by hyper-v which is not impacted by the vulnerabilities. We also need to follow strict Azure release policy as the coming holiday season.

[2019-11-22 10:00] BenjaminHerbert commented on #295
I am looking forward for improvements here.

My main question is still:

It's not helpful if I still have to track changes of Base-Images on Docker-Hub and see if the tasks were triggered correctly.

[2019-11-22 15:37] northtyphoon commented on #295
@BenjaminHerbert If you go to portal and open tasks blade, you currently can list runs and see the associated task and trigger type, eg, base image update. We are also planning some improvements to allow you open specific task and quickly get the information about triggers, runs, image dependency etc. If you have specific idea in mind, please also let us know /cc: @SteveLas @sajayantony @ElianaLib

[2019-11-25 13:30] dwrightpulse commented on #289
I have stumbled across this issue too; whilst I have been able to use the "az acr import" command to import an image and write back the image (with a "latest" tag) to the same registry, it does seem a bit of an oversight to not be able to do more simply with a tag command in the az cli - or even to be able to manage in the portal.

[2019-11-26 08:16] sajayantony commented on #178
This is now in preview - https://aka.ms/acr/audit-logs

[2019-11-26 08:16] #178 closed

[2019-11-26 08:18] sajayantony commented on #139
This is now in preview - [Security Scanning Integration with ACR](https://docs.microsoft.com/en-us/azure/security-center/azure-container-registry-integration?toc=/azure/container-registry/toc.json&bc=/azure/container-registry/breadcrumb/toc.json)

[2019-11-26 08:18] #139 closed

[2019-11-26 08:21] sajayantony commented on #82
Closing this item for now since we could potentially use things like tag locking and - https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge
Feel free to open new items to discuss details of these implementations if needed.

[2019-11-26 08:21] #82 closed

[2019-11-26 08:22] sajayantony commented on #280
Can revisit if we are doing something ACR specific.

[2019-11-26 08:22] #280 closed

[2019-11-26 18:19] SteveLasker commented on #305
I'm looking for a DevOps contact and repo to transfer these to.

[2019-11-27 07:54] ardhar opened #312 "ACR ARM Template when exported has unsupported scope map configs characters"
**Describe the bug**
When ACR ARM template is exported, it gets scope maps configuration with unsupported characters such as "_" and this prevents the ARM template from importing.

A clear and concise description of what the bug is.
Template export contains unsupported characters and this prevents importing the template.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Resource Group
2

[2019-11-27 09:36] BenjaminHerbert commented on #295
Hi @northtyphoon, I am not sure if I understand the meaning of the icons of the UI correctly. Does this mean the base-image-trigger is disabled? For me it looks like only the source trigger is set but the base-image-trigger is not.

![grafik](https://user-images.githubusercontent.com/2254565/69708907-b86a5200-10fc-11ea-9d7f-181cb8dec0f4.png)

When I lookup the information with ` az acr task show -

[2019-11-27 19:53] northtyphoon commented on #295
@BenjaminHerbert we will investigate the icon issue you reported.
To track if the base image is triggered, for now you can see triggered runs from `Runs` tab. For example, I have a task depending on `mcr.microsoft.com/dotnet/core/runtime:2.2-stretch-slim` which was updated three times between 11/19 - 11/22.

![image](https://user-images.githubusercontent.com/2686301/69753843-56641980-1109-11ea-83c

[2019-11-27 22:21] northtyphoon commented on #300
Verified the duplicated trigger issue has been fixed. If you hit it again, please reopen it.

[2019-11-27 22:21] #300 closed

[2019-11-29 10:34] BenjaminHerbert commented on #295
@northtyphoon I know that I _can_ check if a task is triggered by looking at the runs. By using ACR task, I want to **automate building** of images whenever a base-image update on Docker Hub happens. :

If I have to track *myself* whether base-image updates on Docker Hub are triggering my ACR tasks, then using this mechanism is kind of pointless :disappointed:

I need to know how to check if base-

[2019-12-04 03:08] yugangw-msft commented on #287
Since ACR repository is for tracking ACR particular issue, to route it effective, I suggest we close this issue and open a new one in Azure CLI and tag it for ACI team to take look.

[2019-12-04 03:50] #287 closed

[2019-12-04 16:56] SteveLasker commented on #305
Assigning to @azooinmyluggage for DevOps

[2019-12-05 00:45] northtyphoon opened #313 "Unable to update existing encodedtask using "az acr task update -f" command"
**To Reproduce**
Steps to reproduce the behavior:
1. az acr task create -r myregistry -n mytask -f acb.yaml -c /dev/null
2. az acr task update -r myregistgry -n mytask -f acb.yaml

`acr task update` failed as the following error message:

Cannot determine the build context for the step of the task 'createcontainer2'. Either the context should be a well formed absolute URI or there should be only o

[2019-12-06 11:07] alexz75 opened #315 "Different hash in same layer using az acr build"
We're using ACR to build our all docker images, I've tried to optimize some build in order to get faster docker pull in slow-connection environments.
My Dockerfile similar to

[code]

using build: az acr build ....

The problematic layer is `COPY ${DEPENDENCY}/BOOT-INF/lib /app/lib`, which contains dependencies extracted from the executable spring-boot jar file. I've two images, **contains similar

[2019-12-11 14:32] sam-cogan opened #317 "Support for helm using repository scoped credentials"
**What is the problem you're trying to solve**
At the minute it is not possible to use repository scoped permissions to push helm charts, as this requires the use of the az acr command, which as far as I know doesn't allow us to use the scoped token. This means having to grant a SP access to push the rep, which because there is not a helm only permissions, means we may as well not use the scoped p

[2019-12-11 16:29] sajayantony commented on #317
The `az acr helm` command isn’t something that is going to expand and possibly reduce in usage with helm 3. The guidance and direction is to move towards helm 3 using the registry commands that work with the same set of scopes as image and hence can use the repo scoped permission tokens.

[2019-12-11 16:32] tomkerkhove commented on #317
Will `az acr helm` be deprecated? If so, any indication when?

[2019-12-11 16:36] sam-cogan commented on #317
so should repository scoped commands work with Helm 3 today?

[2019-12-11 18:01] sajayantony commented on #317
There is currently no plan for deprecation. I guess the statement is more about future investments not going to helm2. /cc @SteveLasker

@sam-cogan - this is how repo tokens works already for helm3 where I have a token for `charts\bar` and fail when pulling `charts/hello-world`

[code]
/cc @dlepow since you are working on the official docs for helm3.

[2019-12-11 18:08] sam-cogan commented on #317
Yeah, just tested it and it seems to work ok. However the fact that it is currently experimental, and lack of support for dependency fetch makes it a no-go for the moment unfortunately, but makes sense that this is the way forward.

[2019-12-11 18:21] sajayantony commented on #317
This is valuable feedback. We are working with @jdolitsky and other folks from helm to make sure this matures going forward.

[2019-12-11 18:53] tomkerkhove commented on #317
That makes perfect sense, thanks for clarifying @sajayantony !

[2019-12-13 05:09] northtyphoon commented on #311
@NagleIT  can you try? The build of your Dockerfile will take very long time. You need to set 3 hours timeout (`--timeout 10800 ` ) in `az acr build` command

[2019-12-13 09:53] #317 closed

[2019-12-13 09:59] sam-cogan opened #318 "Unable to setup Docker Content Trust for ACR"
**Describe the bug**
I am trying to setup content trust in ACR, I'm looking to push images using Azure DevOps so I am following the process documented [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/containers/content-trust?view=azure-devops)  to do that. I am attempting to setup the signing keys as documented using the docker trust add key command, but when I attempt to

[2019-12-13 23:22] shizhMSFT commented on #318
@sam-cogan Could you try again with a service principle with proper roles (`Contributor` and `AcrImageSigner` roles)?

[2019-12-17 06:30] shahzzzam commented on #315
Hi @alexz75, sorry for the delay.

The SHA of each layer that you see on Docker build is calculated based on the layer contents (filesystem) as well as the configuration. The config has some timestamps due to which your SHA may not always be reproducible (I will provide a simple example below).

[Here](https://github.com/docker/docker-ce/blob/8a582e89b407639018e067123eb17f61dbfd10ee/components/eng

[2019-12-17 14:30] bramkl commented on #214
Hi all,
I've an ACR in region 'West Europe' and deploy my images from an Azure DevOps Pipeline. Today (all day) I get timeouts in my automated build, when the task 'Azure IOT Edge - Push Module Images' runs. (All timeouts in devops are configured to 90 mins, the timeout is generated after 15 mins) This worked fine last week. Any thoughts?

`1d1247eadd4f Pushing [===================================

[2019-12-17 14:32] Edblakejitsuin commented on #214
Also getting time out errors again today, ACR in West Europe

[2019-12-17 15:20] bramkl commented on #214
@sajayantony can you reopen this thread?

[2019-12-18 01:00] yubhat opened #321 "Unable to create ACR tasks with more than 2 CPUs"
az acr task create -n hello-world -r reshatest --cmd MyImage -c /dev/null --cpu 4
See the error : Some of the properties of 'taskCreateParameters' are invalid.. InnerErrors: AgentProperties:Invalid value for CPU).The supported values are (2)
From the error ACR tasks currently only supports 2 CPUs and by design limit for ACR and cannot be exceeded.

Creating Github feature request to create more th

[2019-12-18 07:52] bramkl commented on #214
@sajayantony thanks for reopening.

It worked at the first attempt today. Does this mean something has been fixed? It does seem related to Azure DevOps?  I'm a bit worried, because our production deployment depends on this.

Cheers

[2019-12-19 00:37] sajayantony opened #322 "[Reliability] Ensure registry reliability for high load regions"
The engineering team has been working on improving scale and reliability for high load regions over the past few months. These regions rapidly grew over the last year and even though infrastructure was being allocated proportionately, there were architectural limits we hit. This lead us to re-prioritize work and resulted in re-architecting our infrastructure and update our provisioning model to su

[2019-12-19 00:46] sajayantony commented on #214
This is now mitigated, we are monitoring this and we have a plan to address West Europe first which is one of our most highly loaded region. We identified the reason we missed detecting this performance degradation and that is being addressed. Besides the targeted mitigation, I'll continue sharing details on the work that will be rolling out in Jan - https://github.com/Azure/acr/issues/322

[2019-12-19 17:37] northtyphoon commented on #311
@NagleIT if you still encouter any issue, please reopen it.

[2019-12-19 17:37] #311 closed

[2019-12-23 20:40] sajayantony commented on #295
Is there some experience you had in mind. For e.g. could the portal lookup the current tag on dockerhub and show a warning that the image is behind the latest?
Ideally this should be a short duration if we didn't have the bug that caused the builds to not trigger.

I see that validating this is not quite straightforward.  But this is the check for the digest is as follows.
Here you can see that th

[2019-12-27 09:09] slawekww opened #323 "acr task to support registry regex for --filter and use only --untagged"
**What is the problem you're trying to solve**
Write acr task to purge all untagged images for all repositories.
As example:
acr purge --filter 'repository:.*' --ago 0d --untagged

For now it is not possible to define regex for repository and untagged option is optional:
task would untag all images which matches regex and it would clean by repository!

**Describe the solution you'd like**
Allow to

[2019-12-27 23:44] cegraybl commented on #286
Changes have been deployed to all public regions.
The documentation on how to configure is in the following link (it mentions only Pull and Push events, but we currently also support deletion and untag events)
https://azure.microsoft.com/en-us/blog/azure-container-registry-preview-of-diagnostics-and-audit-logs/

[2019-12-27 23:44] #286 closed

[2019-12-31 18:15] mkosieradzki opened #324 "Azure blob storage and blocking egress traffic"
Currently Azure Container Registry stores container images in blobs. Unfortunately those blobs are only reachable over *.blob.core.windows.net - for obvious reasons this is not acceptable for egress traffic restrictions.

I am pleased that Microsoft Container Registry is no longer using the azure blob storage domain but the CDN (`*.cdn.mscr.io`) - what makes our lives much easier.

When can we exp

[2020-01-03 21:54] yugangw-msft commented on #324
@mkosieradzki, thanks for the feedback.
For egress traffic, our ongoing development will eliminate the blob uri usage in firewall rules.
On vnet, [using service endpoint](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-vnet#allow-access-from-a-virtual-network) has already avoided using blob uri. Are you asking about vnet private endpoint?

[2020-01-03 23:33] mkosieradzki commented on #324
@yugangw-msft Thanks! That's a great news.

Actually I was unable to distinguish out whether the blob calls were for ACR accessible via Service Endpoints or `aksrepos.azurecr.io`. So if you say that vnet integration already solves the problem, then it's probably so ;).

Is there any roadmap? Is this going to happen during current or the next sprint?

[2020-01-04 02:25] yugangw-msft commented on #324
Using VNET does resolve the problem; but VNET integration right now comes with the limitation that only VM/AKS will be able to access ACR, not other resources like ACI or ML, though the limitation will be lifted at some point in future.
Meanwhile, the unified data endpoint under development will make client firewall rule configuration as easy as a single uri like `aksrepos.westus.azurecr.io`.
Will

[2020-01-06 22:23] Pankaj-Thakur opened #328 "az acr check-health : Error image operating system "linux" cannot be used on this platform"
**Describe the bug**
The issue is with the az acr check-health command. It is this command that, as part of its diagnostics, pulls a hello world image. Problem seems that, az acr check-health is pulling a linux image whereas my docker host is configured for windows.
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-check-health

I do not have issue pulling images from my

[2020-01-07 15:07] BenjaminHerbert commented on #295
I am not sure I understand your question correctly. 😕

My ideal experience would be:
- if I configure a base image update, it works and triggers my build.

A warning that the task is "behind" despite a base image update was discovered would not be my desired experience. If Azure discovers this fact, it could just trigger the task so that the image _is up to date_. This would require no further use

[2020-01-07 20:50] hkuadithya commented on #328
I suppose the best way to handle this would be to generate a `multi-arch` hello-world docker image supporting Windows and Linux platform and then, push the updated image to Microsoft container registry.

We could explore [manifest tool](https://github.com/estesp/manifest-tool) for generating this. @shizhMSFT any thoughts?

@yugangw-msft please feel free to assign this issue to one of the engineers

[2020-01-08 10:48] shizhMSFT commented on #328
From the output below:
[code]
MCR only provides single platform images. MCR needs to onboard `hello-world` images for multiple platforms with a manifest list.

@hkuadithya Try `docker manifest` to `inspect` or `create` a manifest list.

[2020-01-08 17:54] nathana1 commented on #328
Can we import the main docker hello-world (docker manifest inspect docker.io/library/hello-world) into mcr?

[2020-01-08 18:15] northtyphoon commented on #328
windows has 5+ versions and the number is still increasing. AFAIK, there is no `official` multi-arch image covering all versions. If we want to support all of them, we will likely need to create our own. We also need to maintain it to catch up the monthly update.

Another thought, if the main purpose of the validation is to test the network connection, we can think about a different approach such

[2020-01-15 19:27] sajayantony commented on #328
Ideally the check-health tool doesn't have to fail in this case. The basic requirement is that it is able to communicate to the docker daemon and should be able to pull the manifest. Which in this case is done. So if check-health can just warn and move on it might be good enough.

[2020-01-16 05:09] yugangw-msft commented on #328
@Wwwsylvia, please pick up this issue after done with CLI ones. Let me know if you have any questions
/CC: @shizhMSFT

[2020-01-20 15:30] lpfeup commented on #214
I am also getting impacted by this and unable to deploy. `docker-compose push` timing out as https://github.com/Azure/acr/issues/214#issuecomment-516791610.

[2020-01-20 16:13] jikuma commented on #214
@lpfeup Can you try again. We faced a latency issue in west Europe and its mitigated. I will post an RCA after an investigation.

[2020-01-20 18:24] lpfeup commented on #214
@jikuma I confirm it worked now

[2020-01-21 13:16] burkhat opened #338 "RBAC on folders/subfolders"
**What is the problem you're trying to solve**
We try to implement RBAC on project level (folder / subfolder).
At the moment it is only possible to implement RBAC on a repository, see https://docs.microsoft.com/en-us/azure/container-registry/container-registry-repository-scoped-permissions

**Describe the solution you'd like**
It would be good that it is possible that you can set permissions on fo

[2020-01-21 13:43] warden commented on #214
This is still happening for me (ACR in WestEurope, pushing from PL,  200MB image takes around 5 minutes - local network is definitely not an issue here, as well geo-replication shouldn't be needed in this case AFAIU.

[2020-01-21 14:27] Edblakejitsuin commented on #214
and me today

[2020-01-22 01:22] susanshi commented on #312
this has been fixed and deployed last week.   Please verify.
I have verified the following scenarios:
Create a premium registry, export template,   delete registry and create a registry from the template,
Create a basic registry, export template,   delete registry and create a registry from the template.

Note: if exporting an existing registry with TBAC tokens, users will need remove the credenti

[2020-01-22 01:22] #312 closed

[2020-01-28 21:53] sajayantony commented on #338
/cc @mangalorereshmi

[2020-01-28 22:25] northtyphoon commented on #323
@SteveLasker  can you review the suggestion?

[2020-01-31 18:04] sajayantony commented on #214
The first phase of this has been rolled out and we are closely monitoring West Europe.

[2020-01-31 19:06] yugangw-msft commented on #338
We did talk about this before, but it was deemed too complex. Either way, we will reconsider it before GA repository based permission.

[2020-01-31 19:09] m-sterspace commented on #124
I encountered this rather non descript error myself today as well. For me it was caused because when I flipped through creating the app service, I had selected quick start which had defaulted it's settings to docker hub instead of ACR. Changing it to ACR while leaving continuous deployment off let my pipelines start working properly.

[2020-02-01 14:53] warden commented on #214
Thanks for update @sajayantony. Just ran a test, pushing a 241MB layer from PL takes 4m.

[2020-02-04 00:32] ankurkhemani commented on #294
@AdamSharif-MSFT The fix has been deployed and should work now.

[2020-02-05 19:08] yugangw-msft commented on #322
Rolled out

[2020-02-05 19:08] #322 closed

[2020-02-10 10:38] ball-hayden opened #342 "Retention Policy not having any effect"
**Describe the bug**

I have applied a retention policy to a container registry. I have registries with a large number of manifests that are no longer referred to by tags, but they are not removed after the retention period has expired.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a container registry
2. Push a number of images
3. Remove tags from some images
4. Enable retention po

[2020-02-10 21:51] ankurkhemani commented on #342
@ball-hayden As per [docs here](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-retention-policy#preview-limitations), the retention policy currently applies only to manifests that are untagged after the policy is enabled. Existing untagged manifests in the registry aren't subject to the policy. To delete existing untagged manifests, see examples in [Delete container i

[2020-02-11 06:42] laurilehmijoki commented on #214
Thank you @sajayantony for working on this issue. However, we are still experiencing it: yesterday it took around 10 minutes for our CircleCI build to push a 80 MB Docker image to Azure `westeurope` ACR.

[2020-02-11 08:59] ball-hayden commented on #342
Ah. I understand.
So if I keep waiting, at some stage (when this limitation is lifted) they should go away?

[2020-02-11 11:54] AdamSharif-MSFT commented on #294
Hi @ankurkhemani ,

Thank you for the update - I tried to create an ACR just now using latest version (2.0.81) of the Azure CLI, with the template mentioned in the original post, but I'm having the same issue:

![image](https://user-images.githubusercontent.com/40294242/74234183-2c5fd380-4cc4-11ea-9878-b3b2bfe94448.png)

Do the API versions in the template need to be changed, and if so which value

[2020-02-12 16:19] HXK-Git opened #343 "Azure Container Registry image pulls are very slow with image size ~150 MBs"
Hi,

When deploying an image to an AKS instance, the image pull from the ACR (Premium SKU) is very slow, even for "small" images around ~150 MBs in size.

Both the AKS resource and the ACR resource are in the Canada East region.

Here is an example:

[code]

Some details were modified/removed for privacy reasons.

However, the thing to note is the ~15m needed to go from a state of "Pulling" to "Pu

[2020-02-13 02:04] ankurkhemani commented on #342
@ball-hayden We are not yet sure on how the experience will look in future. So, I would recommend using [Delete container images in Azure Container Registry](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-delete) if you want to purge the manifests that were left untagged before enabling retention policy.

[2020-02-13 02:06] #342 closed

[2020-02-13 02:10] ankurkhemani commented on #294
As discussed, you need to order the replications in such a way that home replication gets created after one of the replication resource. This can be achieved by modifying `dependsOn` for westeurope (home) replica:

[code]

[2020-02-13 16:24] rerime commented on #214
We are facing same problem.
Constantly retrying while pushing image to ACR.
Region West Europe.

[2020-02-13 16:32] sajayantony commented on #214
The team is starting a second phase of this work and will be adding  more capacity this week to West Europe. We are actively monitoring and rebalancing loads.

[2020-02-13 18:24] nathana1 commented on #343
Hi,

We're not seeing any latency issues in Canada East over the last week for ACR.  Can you please open a support ticket for AKS with some additional information so we can investigate further?

You can open a ticket with either link or by visiting your AKS cluster in the portal:
https://portal.azure.com/?#blade/Microsoft_Azure_Support/HelpAndSupportBlade
https://azure.microsoft.com/en-us/support/

[2020-02-15 22:06] rainabba commented on #124
Apparently, sufficiently large images will cause this as well, even when logs indicate "Pull complete"

[code]

[2020-02-18 16:05] HXK-Git commented on #343
Hi,

Unfortunately, I do not have permissions to create support requests.

Is there anything else I can do to investigate the performance issues?  It happened again this morning (2020-02-18 ~10:30 a.m. EST).  One of our image pulls took almost ~38 minutes.  Same as before, the image size is not very large and the ACR and AKS instances are both in Canada East.

Thanks.

[2020-02-18 22:06] rosanch opened #344 "Acr build vague error when using symbolic links"
**Describe the bug**
When having a symbolic link in the working directory that file, build fails to untar the symbolic link file but outputs failed to download source instead.

**To Reproduce**
Steps to reproduce the behavior:
1. create a symbolic link pointing to a resource outside your workspace.
2. run build from that workspace.

**Expected behavior**
Should output invalid symlink \"/workspace/

[2020-02-18 23:36] yugangw-msft commented on #343
As long as you have access to portal, you can open a ticket in the "Support + Troubleshooting" tab; if you can't you can try out the [doc](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#docker-pull-is-slow). In short, make sure you request don't route to wrong region if you have replicates, and also client end network has normal speed

[2020-02-25 12:14] ThomasPe opened #345 "Using ACR across subscriptions with Web App for Containers fails"
**Describe the bug**
I'm unable to get image from ACR in app service that lives in a different subscription.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create ACR in one subscription, add container
2. Add Web App for Containers in another subscription
3. Since the ACR won't show up in the Web App dropdown menu, enter connection details in private registry tab and save
4. Exit and re-en

[2020-02-25 13:08] tomkerkhove commented on #345
This is more an issue with Azure Web Apps, not ACR.

In order to fix this you have to configure the following config values:
- `DOCKER_REGISTRY_SERVER_URL`
- `DOCKER_REGISTRY_SERVER_USERNAME`
- `DOCKER_REGISTRY_SERVER_PASSWORD`

[2020-02-25 13:27] ThomasPe commented on #345
When you add these values pointing to an ACR and hit save those values are being cleared from the private registry tab and it is not working.

[2020-02-25 13:30] tomkerkhove commented on #345
Works fine for all our customers but I'd suggest opening an issue with App Service folks instead, they own that feature.

[2020-02-25 14:07] ThomasPe commented on #345
I opened a ticket here as well, hope that's the correct place for web app feedback since there seems no place on GitHub for this:
https://docs.microsoft.com/answers/questions/10008/using-acr-across-subscriptions-with-web-app-for-co.html

[2020-02-25 20:10] iamjasonp commented on #345
Sorry, misclicked there just now 00Kai0

[2020-02-26 06:18] 00Kai0 commented on #345
never mind

[2020-02-27 20:33] m0m01hl commented on #124
Facing same issue today.
Admin permission enabled in ACR.
My Azure DevOps Build pipeline is using Linux Build Agent, builds and pushed the docker image successfully to ACR.
My Azure DevOps Release pipeline is reporting success too.
My App Service is configured for docker on Linux. Single container using ACR and Continuous Deployment is Off.
Looking at my app service's container settings, I can see

[2020-02-28 15:56] northtyphoon opened #346 ""az acr run --cmd" should keep the image workdir by default"
**What is the problem you're trying to solve**
az acr run -r myregistry --cmd mcr.microsoft.com/dotnet/core/samples:dotnetapp /dev/null

The `dotnetapp` image sets the workdir to `/app` folder. Its entrypoint and cmd settings assume the current working directory is `/app` folder. However ACR Tasks by default launches the container using  `/workspace` as the workdir so the above cli command will fa

[2020-02-28 19:10] sajayantony commented on #346
This makes sense. +1

[2020-03-01 20:07] LMSSonos opened #348 "Question: Inject Multiline Secrets into Container"
Hello

I created a task using the yaml file and define a (multiline) secret.

[code]

How can I access the secret within my container (testcontainer:latest)? I was hoping to get the secret as a file in the /run/secrets folder or something similar.

I can output the secret as follows
[code]

But I did not find out how to bass it into my docker container that is run.

Thanks for any help

[2020-03-01 21:57] northtyphoon commented on #348
@LMSSonos  for now, can you pass the secrets as env?

[code]

Your script in the container can read the env and dump to /run/secrets.

If the secret value has mulitple lines, you also need to pass the encoded value in env and your script can decode it. The following is an example

[code]

[2020-03-01 22:11] LMSSonos commented on #348
@northtyphoon thanks for the fast reply. When I add the code as suggested I get the following error

`unable to render task: failed to resolve secrets in the task with error: failed to render the template: failed to execute template: decoded. Err: template: decoded:10:39: executing "decoded" at <b64enc>: invalid value; expected string`

As note, my secret is a json file.

[2020-03-01 22:50] northtyphoon commented on #348
@LMSSonos the error message seems indiciating `.Secrets.mysecret1` is null. It's not clear to me what happened. Can you send your task yaml file and registry info to acrsup@microsoft.com? Our on-call engineer will follow up with you tomorrow.

[2020-03-02 11:09] chpspiir commented on #214
Seeing the same thing in North Europe this morning. Quick calculations show a consistent 500KB/s when pushing over the last hour. This is a fresh registry, so I am not sure if it is related to that. SKU is standard.

[2020-03-03 04:53] shahzzzam commented on #348
Hi, Working on this. And it looks like a bug on our end. I will investigate this further and post any workarounds here.

[2020-03-03 05:11] shahzzzam commented on #348
Hi @LMSSonos , Can you try the following:

[code]

Note that I added `default ""` in the template.

[2020-03-03 13:35] LMSSonos commented on #348
@shahzzzam thanks for the update. With the default "" it works as expected.

[2020-03-03 20:35] #294 closed

[2020-03-03 20:35] ankurkhemani commented on #294
Closing as this issue has been fixed.

[2020-03-04 01:46] ankurkhemani opened #349 "Retention policy is not triggered when untagging a manifest from replication region."
**Describe the bug**
For an ACR with geo-replication, untagging a manifest from a replicated region doesn't trigger retention policy and the manifest is not deleted as per [retention docs](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-retention-policy).

**To Reproduce**
Steps to reproduce the behavior:
1. Create an ACR in `eastus`.
2. Create a geo-replication in `we

[2020-03-04 01:48] ankurkhemani commented on #349
We are working on a fix which should get rolled out in next deployment. We don't have an ETA at this point, but hopefully by later half of March.
 
Current _mitigation_ is to untag from home region ( `eastus` in above example).

[2020-03-06 21:55] blackbaud-alanacable commented on #321
I am having a similar issue when I try to create a task with only one cpu.  The error message I get is `InvalidInputValue - Some of the properties of 'taskCreateParameters' are invalid.. InnerErrors: AgentProperties:Invalid value for CPU core count. The supported values are (2)`. Why is creating a ACR task limited to only 2 CPU's?

[2020-03-09 23:19] michailbrynard opened #351 "Buildx cache export feature is currently not supported for docker driver"
**Describe the bug**
The acr/docs/tasks/buildx/build_with_cache.yaml task fails with

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps in https://github.com/Azure/acr/tree/master/docs/tasks/buildx#build-with-cache

**Expected behavior**
Docker image should be built and the result cached to to the image specified.

[2020-03-09 23:49] northtyphoon commented on #351
@shahidkhuram can you provide an example using `--cache: "enabled"` in `build` step?

/cc: @SteveLasker

[2020-03-10 18:32] susanshi opened #352 "ACR login/docker login fails with internal server error for small percentage of customers."
**Describe the bug**
When AAD Jwt token contains `objectId` with `null` values, endpoints `/oauth2/exchange` and  `/oauth2/token`  throws 500 internal server error

**To Reproduce**
Steps to reproduce the behavior:
1.  az acr login -n repo name
2.  command fails with internal server error

**Expected behavior**
Login should succeed.

**Any relevant environment information**
 User can run into this

[2020-03-12 17:54] shahzzzam commented on #351
Hi @michailbrynard, Can you try using build_with_cache_2.yaml instead of build_with_cache.yaml and see if it works?

Thank you

[2020-03-13 14:59] michailbrynard commented on #351
That works, thank you. We'll use the `--cache: "enabled"` option, wasn't aware of it before.

[2020-03-13 17:21] sajayantony commented on #351
/cc @dlepow

[2020-03-13 21:08] wsmckenz commented on #345
Exact same problem. Cannot figure this out at all.

[2020-03-14 01:35] ankurkhemani commented on #349
The fix has been deployed to all public prod regions.

[2020-03-16 18:11] jomeier commented on #338
This feature is a "must have" in my opinion. Without it each team must create three ACR instances (for dev/qual/prod stages) because you need the seperation and don't want team members working in the dev environment to accidently overwrite images on prod.

VmWare Harbor does this very well. And in my opinion it's absolutely crucial for the success of the ACR to implement that. This would be a grea

[2020-03-16 18:12] jomeier commented on #338
@burkhat:
Congrats for your first github issue :-)

[2020-03-16 21:51] #349 closed

[2020-03-17 13:06] mrvarmazyar commented on #214
Hey there,

We're facing the slowness issues in push section to ACR on Us West region.
Any update about any sort of solution?

Thanks

[2020-03-17 17:07] doggy8088 opened #359 ""unauthorized: authentication required" which is actually authorized"
**Describe the bug**
I found this issue when I'm using AKS with ACR. When I pulling image from AKS, it shows `unauthorized: authentication required` which is so misleading.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker login name.azurecr.io`
2. `docker pull name.azurecr.io:443/repo:notexist`

**Expected behavior**
Show proper error message.

**Screenshots**
![image](https://user-im

[2020-03-18 00:15] ankurkhemani commented on #352
The fix has been deployed to all public prod regions.

[2020-03-18 00:15] #352 closed

[2020-03-18 09:13] doubletr commented on #359
I have the same issue. Why it throw Authentication required If we use a wrong repository name or tag?

[2020-03-18 20:08] sajayantony commented on #359
@shizhMSFT can we check if we follow the conformance test outputs when repo doesn’t exist.

[2020-03-18 22:41] adewaleo commented on #359
This is strange, someone raised this issue internally and at first I couldn't reproduce this issue with basic or token auth locally. But I notice we are using 443 port. So I could reproduce the issue.

[code]
[code]

Seems like the solution is to make sure to login to the registry with the port number 443 (CLI does not currently support this).

This seems like a docker client issue / design decisi

[2020-03-18 22:47] sajayantony commented on #359
Ok I just went back and read this. You cannot use different host:port combination for login and pull. The name is fully case sensitive as well. This is as per docker client behavior.

[2020-03-19 16:03] SteveLasker commented on #238
As a feature request, please use this UserVoice item to help rank its priority: https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/38705104-support-bitbucket-repositories

Closing this issue as it's a feature request, not an issue.

[2020-03-19 16:03] #238 closed

[2020-03-24 10:33] marco27384 commented on #237
That is fine, but despite the Reader/Contributor Role set it doesn't work with user assigned identity (managed identity) on ACR, unless one specifies an additional service principal for this purpose.
The target is accessible, not the source though. Any off-the-shelves solution to this?

[2020-03-24 12:40] jabbera commented on #338
Yeah. I agree this is a must have. We have namespaces dedicated to teams. I don't care what they put in there. With this current configuration if they want to create a new image they have to get and admin to push it first, reconfigure their scope, then they can push it.... It's crazy town.

https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/40006789-allow-token-scope-to-

[2020-03-24 14:06] SteveLasker commented on #338
Thanks for the feedback.
Namespace permissions adds quite a set of complexity and perf implications.
What if: a group of users could be granted repo create rights? They would then own the repo and could create scope maps for others to have access.

[2020-03-24 17:03] jabbera commented on #338
If that right can be scoped to a namespace that would be fine:-) The issue is I'm managing 30 development teams each of whom are responsible for their own containers. I want to use a single registry, not 30 to simplify image scanning etc. If every time a user needs to create a new repo someone from my team or centralized IT needs to get involved we are going to have a bad time.

[2020-03-24 17:44] SteveLasker commented on #338
Thanks @jabbera, this is helpful. The problem we're trying to avoid is managing a large graph of namespace hierarchies. We're already facing this a bit with registry rights. If I'm owner of a registry, what happens when my same AAD id is limited to a single repo within a scopeMap? (Note: AAD objects will be soon supported within ScopeMaps as well.)
A single root repo is *an option*.
What do you th

[2020-03-24 19:14] jabbera commented on #338
@SteveLasker It's so similar to the workflow I'm suggesting that I don't really see how it makes things better. I'm probably just going to end up automating this whole thing as everyone has AcrPull. The only thing we are trying to prevent is pushes from deployment accounts for containers they don't own.

[2020-03-24 20:44] justinpitcher commented on #345
In case this helps anybody, I ran into the same issue but was able to overcome it by a combination of the login credential configuration values mentioned above + an Azure Pipelines release task that sets the registry/image and restarts the app service.

[2020-03-25 12:35] jomeier commented on #338
@jabbera:
That's exactly what we also want to avoid: that devs can overwrite images they don't own.

Currently we are thinking about providing three ACRs to our devs: for dev/qual/prod. Thats overkill.

[2020-03-25 16:46] sajayantony commented on #338
@jomeier - We actually split it similarly. This is primarily for things like network isolation. Prod doesn't share VNETs. So depends on the scenario and degree of isolation you require.

[2020-03-25 17:09] SteveLasker commented on #338
To Sajay's point, you may need multiple ACRs for network isolation or geo-replication reasons, but your point of multiple teams being able to share a common registry in any one of these is still valid.
We're meeting about this later today, so here's some questions:
Considering the different options:
1. An "admin" can create a set of root repos, allocated to a set of people (team-a, team-b, ...). T

[2020-03-25 20:40] jabbera commented on #338
Let me walk through my actual workflow and maybe you can tell me what you think:

1. Everyone has AcrPull across the entire registry via RBAC. No end users have mutation rights at all.
2. We issue tokens to our deployment accounts that are mapped to a given scope map with push.
3. When someone commits a new dockerfile the deployment account will build it and push it on their behalf.

In this case,

[2020-03-27 04:59] krispenner commented on #345
To get the image to deploy enter the full URL of the image but without the https:// in front, not just a relative path from the server URL. So I had to enter it twice. The below settings worked for a deployment of the container. At first I was using a relative path from the server URL but then it tries to get the image from docker hub instead. After the deployment it cleared all the fields as well

[2020-03-27 12:23] Mr-iX opened #360 "Private Link"
Hi all,

thank you very much for implementing private endpoints in the container registry. It's such a nice feature!

I have noticed the following issue. When I try to login using the private DNS name, I get an invalid certificate error message:
[code]

Also you stated in the documentation, that you can use private endpoints through a VPN tunnel from your on premises site. But the DNS Name `acr.az

[2020-03-27 12:26] jomeier commented on #360
Is it not possible to add a self signed certificate to the ACR or a private custom hostname?

[2020-03-27 16:59] northtyphoon commented on #360
@Mr-iX  You should continue to login in as `docker login acr.azurecr.io` on promise. On your VNet, if you run `nslookup azr.azurecr.io`, you are supposed to be see it is resolved to a local ip from the subnet.

For preview release, you can still resolve `acr.azurecr.io` domain from public internet. However you can block the access from public internet by running the following command.

`az acr upd

[2020-03-27 17:46] Mr-iX commented on #360
@northtyphoon Yes, when I resolve the DNS name from my VNET, it shows the private up, but only when I checked the box to create the private DNS zone.
I already blocked all internet traffic, but now I cannot access the ACR from on premises, because it doesn’t use the private endpoint over the VPN tunnel.
It would be great when I can set a custom C-name for the ACR and upload a self-signed certifica

[2020-03-27 17:56] northtyphoon commented on #360
@yugangw-msft @sajayantony @avtakkar can you help clarify the custom domain support?

[2020-03-30 18:31] sajayantony commented on #281
Testing @Azure/azure-container-registry

[2020-03-30 18:42] sajayantony commented on #360
@Mr-iX - As @northtyphoon pointed out, custom domain with customer provided certificates  is something we are evaluating. For private link the expectation is that the same CNAME as the public DNS should be used even in the internal network as you will be using Azure Private DNS in this environment. Please vote on the user-voice item here.
https://feedback.azure.com/forums/903958-azure-container-re

[2020-03-30 20:00] ngcdev commented on #80
I'm having this issue right now in Ubuntu (same error message) and I did the health-check and everything is fine.
Not sure what/how to do a "factory reset of the Docker settings".

Running Docker 18.03.1-ce

[2020-03-30 21:27] ngcdev commented on #80
Although I did a `dig` with my default DNS and with 8.8.8.8 and both returned exactly the same, changing my /etc/resolve.conf and put 8.8.8.8 first (as suggested in other posts), solved the issue (at least for now). I'm starting to think that this is an issue in the docker client, perhaps some cache of prior login

[2020-03-31 05:24] Mr-iX commented on #360
@sajayantony So means that I have to modify the /etc/hosts file on all my onpremises systems? This would be very difficult, because a lot of developers in our company use the ACR.
Also could you clarify why I need to create a private DNS zone, so that the public hostname resolves to the private ip? Normally for accessing a service privately I just have to add a service endpoint to my vnet

[2020-03-31 16:45] yugangw-msft commented on #360
@Mr-iX, on VNET isolation through private endpoint, you will need to set up VPN gateway or  ExpressRoute private peering. Let me know whether or not you have set that up or need more information.

Creating a DNS zone's purpose is to have the dns resolution to resolve "myreg.azurecr.io" to a a particular private ip allocated to the registry endpoint, and  based on the internal mapping (invisible to

[2020-04-01 06:38] Mr-iX commented on #360
@yugangw-msft Thanks for your reply!
Actually we have setup a VPN gateway with BGP enabled. So when a on premises devices wants to access a private Azure IP, the traffic is routed through this VPN tunnel.

I tried to integrate the private IP in our DNS infrastructure, but there are two problems:
- with a custom DNS name, the certificate of the ACR is not valid anymore. But a client from on premise

[2020-04-01 17:42] yugangw-msft commented on #360
@SteveLas, we should route this support to network team, because private link fails at the basic step below, which has to work.  I will start a mail thread. @Mr-iX you can feel free to reach to me at yugangw at microsoft dot com
[code]

[2020-04-02 01:54] yugangw-msft commented on #360
@Mr-iX:
Some document here hope they help. The one hosted at github has a pretty good section for on-premise integration, do give it read.

Official public documentation:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances#name-resolution-that-uses-your-own-dns-server
https://docs.microsoft.com/en-us/azure/private-link/private-endpoint

[2020-04-02 19:18] mangalorereshmi opened #361 "Test"
**What is the problem you're trying to solve**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-04-10 17:52] xenon425 commented on #263
I am encountering the same issue

[2020-04-10 18:49] jmaitrehenry opened #366 "ACR login failed with error unauthorized: Application not registered with AAD"
**Describe the bug**
When we try to connect to ACR using a SP failed with error: `unauthorized: Application not registered with AAD`

**To Reproduce**
Steps to reproduce the behavior:
1. Create new ACR using Azure cli `az acr create -n myacr -g myrg --sku basic` or with the web UI
2. Add new assignment using AKS `az aks update -n myaks -g myrg --attach-acr myacr`
3. Deploy a new app in AKS using a

[2020-04-10 20:02] jmaitrehenry commented on #366
I will close my issue, AKS was configured with the SP name and not the client id.

[2020-04-10 20:02] #366 closed

[2020-04-11 01:44] northtyphoon commented on #346
update cli
https://github.com/Azure/azure-cli/commit/4ac58c0a49fa27c91eb380c7f4ccc5f76d886fb9

[2020-04-11 01:44] #346 closed

[2020-04-11 14:26] RickC37 opened #367 "Unable to get AAD authorization tokens with .devcontainer"
**Describe the bug**
Since some weeks I use now .devcontainer, which is a pretty cool new technology from Microsoft.

However, it seems that the Azure ACR CLI is not working as expected.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create/build a  .devcontainer with Debian 9, Azure CLI and Docker CE CLI
2. Mount the containers Docker CLI to the hosts Docker Deamon (in my case Mac

[2020-04-12 01:21] StingyJack commented on #169
@sajayantony - can this get reopened? Any work for this on the portal hasn't happened in almost a year and typing in super long and specific console commands just to view image sizes is asking a bit much of users. Especially since the portal teases us with the total size of the repo.

[2020-04-15 00:57] kuwe1990 opened #373 "ACRTask do not trigger properly when I delete the digest of images and publish again"
I try to test my ACR Task in our dev env. There are some issue which I can not trigger the acrTask properly.
Below are the command I run.
docker pull onepubacrprod.azurecr.io/public/windows/nanoserver:1903
# Create a ACR task hook to base image onepubtestacrdev.azurecr.io/public/windows/servercore:1903
# Trigger acr task once.
docker push origin onepubtestacrdev.azurecr.io/public/windows/servercor

[2020-04-15 01:00] kuwe1990 opened #374 "Trigger ACR Task by tag update"
I read the base image update trigger acr task in web page:
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-base-images

Stable tag for base image - To trigger a task on base image update, the base image must have a stable tag, such as node:9-alpine. This tagging is typical for a base image that is updated with OS and framework patches to a latest stable release.

[2020-04-15 01:47] northtyphoon commented on #373
@kuwe1990 in your second push, was `onepubtestacrdev.azurecr.io/public/windows/servercore:1903`  changed from first push? if not, it wouldn't trigger a new run. Base image trigger monitor the manifest change of the tag and trigger the run if it detects a change. /cc: @jaysterp @djyou

[2020-04-15 05:16] kuwe1990 commented on #373
Hi Bin, The image do not change actually. I know ACR task will trigger when the manifest digest get update. But before I push the same images, I already remove the original images from ACR by az acr repository delete --name OnePubTestAcrDev --repository public/windows/servercore:1903 And after that, I actually check manifest exist under repo public/windows/servercore by az acr repository show-mani

[2020-04-15 06:06] northtyphoon commented on #373
@kuwe1990 If you re-push the same image, it won't trigger the task. What is your ultimate purpose? Is it to test something? If you just want to rerun the task, you can do `az acr task run -r myregistry -n mytask`.
Tasks tracks the manifest change of the tag used in your Dockerfile.

[2020-04-15 06:16] yugangw-msft commented on #367
@RickC37, can you follow the error and run the "az login", or do you expect .devcontainer pre-authenticate you?

[2020-04-15 06:24] yugangw-msft commented on #361
@mangalorereshmi, please re-open if you want to test again

[2020-04-15 06:24] #361 closed

[2020-04-15 06:27] yugangw-msft commented on #360
@Mr-iX, per our offline communication, it is clear you need custom private DNS name for the private endpints, which are not available right now.
Since this is a network ask, I am closing this issue.
Feel free to reactivate if you have any other questions we can help

[2020-04-15 06:27] #360 closed

[2020-04-15 06:44] northtyphoon commented on #374
@kuwe1990, can you elaborate a little bit "re-tag a layers to the same registry" and "trigger acrTask when the new tag get update"?

Assume you have a base image `myimage:tag1` and you run a task to build the image using the Dockerfile like the following.
[code]

Do you mean you want to trigger the task by pushing a new image `myimage:tag2`?

/cc: @SteveLas

[2020-04-15 06:44] northtyphoon commented on #374
@kuwe1990, can you elaborate a little bit "re-tag a layers to the same registry" and "trigger acrTask when the new tag get update"?

Assume you have a base image `myimage:tag1` and you run a task to build the image using the Dockerfile like the following.
[code]

Do you mean you want to trigger the task by pushing a new image `myimage:tag2`?

/cc: @SteveLas

[2020-04-15 06:53] JonasMie commented on #345
Thanks @krispenner, that solved it for me.

I lost so much time on this wondering why my container isn't getting pulled. Please Azure Team fix this (why do I have to enter the full URL again if it's already given above and the label only tells me to enter the image name) or document it somewhere.

[2020-04-15 07:17] florian-fischer-swarm commented on #345
+1 this
Basically the UI for this use-case is completely broken at the moment.

[2020-04-15 12:26] RickC37 commented on #367
Hi @yugangw-msft,
thx for the quick reply.

I forgot to mention, that I did the `az login` beforehand.
If I use other `az` cli command it works straight away.
But `az acr` do not work somehow.

Any idea?

[2020-04-15 18:43] jomeier commented on #360
What do you recommend to us whom we can contact? Closing this issue without further contact details does not really help 😉

[2020-04-15 18:48] sajayantony commented on #360
@jomeier and @Mr-iX  Please create an support ticket through the Azure portal. We help route it through to the right team. You want a general advisory since Custom Domains using private link as a DNS override is an unsupported scenario at this point.

[2020-04-15 19:21] yugangw-msft commented on #367
@RickC37, do you also run `az login` with `sudo`?

[2020-04-15 23:06] mangalorereshmi opened #375 "Support for Customer Managed Keys."
Customer Managed Keys is currently in Public Preview. Checkout the Documentation here: https://aka.ms/acr/cmk.

[2020-04-15 23:07] #375 closed

[2020-04-15 23:19] mangalorereshmi opened #376 "Private link for Azure Container Registry"
Configure Azure Private Link for an Azure container registry. See documentation here: https://aka.ms/acr/privatelink

[2020-04-15 23:19] #376 closed

[2020-04-15 23:27] mangalorereshmi opened #377 "Azure Policy"
Azure policies can now be enabled for Azure Container Registry. See documentation here: https://aka.ms/acr/azurepolicy.

[2020-04-15 23:27] #377 closed

[2020-04-15 23:36] mangalorereshmi opened #378 "GA of Private Link for Container Registry"
GA of Private Link for Azure Container Registry. See documentation here: https://aka.ms/acr/privatelink

[2020-04-15 23:39] mangalorereshmi opened #379 "GA of Customer Managed Keys"
GA of Customer Managed Keys . Checkout the documentation here: https://aka.ms/acr/cmk.

[2020-04-15 23:43] mangalorereshmi opened #380 "Namespace permissions: AAD Support"
https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/31655977-configure-permissions-at-a-repository-level

[2020-04-15 23:56] mangalorereshmi opened #381 "Roadmap: Anonymous Pull"
Anonymous Pull is supported today, by opening a support ticket.
This is currently gated as we currently support anonymous for the entire registry. We recognize customers really want anonymous at the repository level. We are investigating group management for repository scoped permissions, and are grouping self-service, repo scoped anonymous support with these capabilities.

For more info:
https://

[2020-04-16 00:04] northtyphoon commented on #245
In the latest CLI 2.3.1, we have deprecated branch parameters, instead, users need to follow the context pattern (https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#context-locations) to pass the branch information, eg,

az acr task create -c https://github.com/Azure-Samples/acr-build-helloworld-node.git#master ....

/cc: @rosanch

[2020-04-16 00:04] #245 closed

[2020-04-16 00:21] kuwe1990 commented on #374
Hi Bin, For example, I push myimage to A:tag1. And there is a ACRTask1 listen to this tag(A:tag1). And it trigger properly. Then I push myimages to B:tag1. There is also a ACRTask2 listen to this tag(B:tag1), But the acrTask2 did not trigger properly. BestKui Sent from Mail for Windows 10 From: Bin DuSent: Tuesday, April 14, 2020 11:44 PMTo: Azure/acrCc: Kui Wen; MentionSubject: Re: [Azure/acr] Tr

[2020-04-16 00:23] mangalorereshmi opened #382 "ACR Support in Switzerland North"

[2020-04-16 00:23] #382 closed

[2020-04-16 00:23] kuwe1990 commented on #373
Yeah, it just test purpose. I know it can trigger by az acr task run. The main purpose is I want to understand how the hook added and why after I remove the manifest. It still not trigger properly. BestKui Sent from Mail for Windows 10 From: Bin DuSent: Tuesday, April 14, 2020 11:06 PMTo: Azure/acrCc: Kui Wen; MentionSubject: Re: [Azure/acr] ACRTask do not trigger properly when I delete the digest

[2020-04-16 00:26] mangalorereshmi opened #383 "ACR support in UAE North"
Azure Container Registry is now GA in UAE North.

[2020-04-16 00:26] #383 closed

[2020-04-16 00:26] northtyphoon commented on #374
@kuwe1990 can you share your registryname and taskname? You can send them to acrsup@microsoft.com

BTW: It's very difficult to read your reply as the format is messed up. Are you able to use the github website to reply?

[2020-04-16 00:28] mangalorereshmi opened #384 "ACR in Norway East"
ACR is now available in Norway East. https://azure.microsoft.com/en-us/updates/azure-container-registry-now-available-in-norway-east-region/

[2020-04-16 00:28] kuwe1990 commented on #373
Yeah, it just test purpose. I know it can trigger by az acr task run. The main purpose is I want to understand how the hook added and why after I remove the manifest. It still not trigger properly

[2020-04-16 00:28] mangalorereshmi opened #385 "ACR in Germany West Central"

[2020-04-16 00:30] kuwe1990 commented on #374
Sure,Registry:OnePubTestAcrDev. There is not task trigger properly. I can provide tag public/windows/servercore:1903

[2020-04-16 09:38] saad-hassanDS commented on #80
Hi, Output of "az acr check-health --name myregistry --ignore-errors" says all good:

""""
Docker daemon status: available
Docker version: Docker version 18.09.7, build 2d0083d
This will pull the image mcr.microsoft.com/mcr/hello-world:latest. Proceed? (y/n): y
Docker pull of 'mcr.microsoft.com/mcr/hello-world:latest' : OK
Azure CLI version: 2.3.1
DNS lookup to testregistoryml.azurecr.io at IP 40.

[2020-04-17 11:03] katatohuk commented on #124
have the same issue today

[2020-04-21 17:59] yugangw-msft commented on #367
Please feel free to activate it with the details to reproduce

[2020-04-21 17:59] #367 closed

[2020-04-21 18:00] yugangw-msft commented on #359
Closing

[2020-04-21 18:00] #359 closed

[2020-04-21 18:12] yugangw-msft commented on #345
We have communicated the feedback to the AppService team which owns the portal UI and service backend.
Since this is not an ACR specific issue, we are closing it

[2020-04-21 18:12] #345 closed

[2020-04-21 21:05] geoffreygeslin opened #390 "Error running ACR task: failed to unmarshal task before running: failed to deserialize task and validate: yaml: line 4: could not find expected ':'"
**Describe the bug**
I want to create an acr task to trigger new builds of my "app" image after base image updates inside same Azure registry.
As stated in [the tutorial](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-base-image-update#build-the-application-container), I need to run my task once so it can track the base image dependency...

When I run my task

[2020-04-21 21:26] sajayantony commented on #328
@Wwwsylvia - were you able to make progress on this?

[2020-04-21 23:43] northtyphoon commented on #390
@geoffreygeslin, it looks you used a Dockerfile as a multi-step task file. They're different. For you case, you first need to push the source code including Dockerfile to GitHub or Azure DevOps repository and then run the the command like the following to create the task.

[code]

Multi-step task provides the features which allow you do more stuff beyond docker build. If you are interested, you ca

[2020-04-21 23:45] northtyphoon commented on #373
Discussed with @kuwu1990, Tasks base image update trigger doesn't support "delete and re-push the same image".

[2020-04-21 23:45] #373 closed

[2020-04-22 02:44] doggy8088 commented on #359
@sajayantony What do you mean `You cannot use different host:port combination for login and pull.`?  Does the solution from @adewaleo is the recommended way to solve this issue?

@yugangw-msft Are you going to update docs about this issue? Will this issue keep tracking until docs been updated?

[2020-04-22 08:50] Wwwsylvia opened #392 "Remove the unnecessary `export` in the example shell scripts"
**What is the problem you're trying to solve**
There are some unnecessary `export` in the example shell scripts in [AAD-OAuth.md](https://github.com/Azure/acr/blob/master/docs/AAD-OAuth.md)

**Describe the solution you'd like**
Remove the unnecessary `export`

**Additional context**
The script is like below:
[code]

[2020-04-22 09:26] geoffreygeslin commented on #390
@northtyphoon Thank you for your quick reply.

As my acr contains :

- the base image to monitor,
- the build context of my "app" image (i used 'acr build')

... I thought my scenario would work.
Can this case be condidered to be covered by acr tasks someday ?

For now, I do prefer to use a multi-step task file than changing our repository.

Looking at the [acb.yaml file in the sample](https://git

[2020-04-22 10:01] Wwwsylvia commented on #328
Oh sorry I can't believe I missed this one out...
Will check this now

[2020-04-22 14:31] MaxMommersteeg commented on #345
We ran into the same problem that @krispenner had.

We tried using the preview version of the Azure Portal and that fixed the issue for us.

[2020-04-22 18:31] cyril-berber commented on #263
Idem for me. When building an image from mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019 and trying to install VS Build Tools and other tools, the acr build task always hangs, each time at a different step.
Could it be linked to the agent memory?

[2020-04-22 18:39] adewaleo commented on #359
@doggy8088 you are currently doing the following:

docker login appfork8s.azurecr.io

docker pull appfork8s.azurecr.io:**443**/appfork8s:123

This is not allowed.

You must either do (the docker client supports):

[code]

or

[code]

[2020-04-22 20:48] toddysm commented on #263
@xenon425 and @cyril-berber We are trying to collect more details to be able to troubleshoot the issue. The randomness of it makes it hard to reproduce but we are trying our best. Would you mind sharing your build scripts, the details about your ACR Tasks configuration, and the output you see?

[2020-04-23 03:26] #275 closed

[2020-04-23 23:21] djyou commented on #392
@Wwwsylvia Can this issue be closed?

[2020-04-24 02:31] shizhMSFT commented on #392
@djyou This is a new issue. #389 does not fix this issue but introduced this issue.

[2020-04-24 07:49] northtyphoon commented on #390
You only need "build" and "push". You don't need "import" if you already have the base image in your registry.

[2020-04-26 03:58] kabilanvk commented on #264
Any luck with this request? When this will be implemented?

[2020-04-26 09:07] #392 closed

[2020-04-27 19:56] LMSSonos opened #395 "Option to pass environment Variables in acr run"
I try to use `az acr run --registry myregistry --platform "windows" --set myvar=123 --cmd "myregistry.azurerc.io/test:latest" /dev/null` - in the test container I output all environment variables, but I can't see the myvar.

If I use a yaml to run the task and set the env it works as expected. Is there any way to pass the variables via command line?

[2020-04-27 20:05] northtyphoon commented on #395
@LMSSonos we recommend to use yaml file to achieve this. With the yaml file, you can still run the similar command like

[code]

@SteveLasker

[2020-04-27 20:11] SteveLasker commented on #395
Hi @LMSSonos,
There's a balance of what can be achieved with the command line, vs. what is supported in .yaml files. We do not have a goal of consistency here, so it's just a matter of where we drew the line. Env variables was an example of this.
Can you help us understand the bigger picture for how you're using tasks to help us understand the context of the environment variable? Is this coming fr

[2020-04-27 20:37] mangalorereshmi opened #396 "Dedicated Data-endpoints"
Azure Container Registry announces dedicated data-endpoints, enabling tightly scoped client firewall rules to specific registries, minimizing data exfiltration concerns. Checkout the docs here: http://aka.ms/acr/dedicated-data-endpoints.

[2020-04-27 20:37] #396 closed

[2020-04-28 15:41] LMSSonos commented on #395
@northtyphoon  thanks for the hint. I wanted to use without yaml file

@SteveLasker the thing is that we wanted to use the service to run scheduled jobs or onetimers through the API. we are packing tools like a data import or a email sender tool into a docker container and want to schedule them this way (or execute single times), so we get rid of server infrastructure.

[2020-04-29 01:33] yugangw-msft commented on #282
This is really by-design, as CLI picks up: http://www.linfo.org/rule_of_silence.html

[2020-04-29 01:42] Wwwsylvia commented on #328
PR merged

[2020-04-29 01:42] #328 closed

[2020-04-29 01:47] SteveLasker commented on #282
While I appreciate the "silence game", I also like hearing a confirmation to know a request was confirmed. All our other CLIs provide some positive output. Even update APIs that implement idempotent behaviors for updating something that didn't change return a value confirming it's state.

[2020-04-29 22:54] yugangw-msft commented on #282
Actually lots of command don't output anything, e.g. all those `delete` commands. The guideline is that commands output the data returned from the API, so it can be scripted. For success or failure, it is the exit code to be used. I hope ACR commands can be consistent with the rest of world. If we really want to output something, maybe do an image get at the end and output that?

[2020-04-30 11:23] geoffreygeslin commented on #390
I successfully run an multi step build with "az acr run" and a yaml file.

I'm wondering how to pass custom build args on "az acr run" command ?
In [the documentation](https://docs.microsoft.com/fr-fr/cli/azure/acr?view=azure-cli-latest#az-acr-build), I can't fin any "build-arg" argumen for acr run, whereas it is supported on "[az acr build](https://docs.microsoft.com/fr-fr/cli/azure/acr?view=azur

[2020-05-01 22:29] kuwe1990 commented on #374
Any update for this issue?

[2020-05-01 22:42] kuwe1990 opened #398 "LibGit2Sharp update dockerfile and acrTask trigger twice"
Hi
There is another issue I found recently. I am not sure it is a bug in my side or it because there is some issue in acrTask side.

I recently use libgit2Sharp library to trigger dockerfile update in github automatically. The acrTask trigger successfully. But it trigger twice even the automation update just submit one commit. If I update dockerfile manually. The acrTask will just trigger once whi

[2020-05-01 23:38] mnltejaswini commented on #398
@kuwe1990  We received two separate push events from GitHub corresponding to the update
ccf, cce, ccd are the runs that are scheduled for the 3 tasks Test1, 2, 3 with empty commit Id on the repository https://github.com/upscontent/TestRepository
ccc ccb cca are the runs that are scheduled for the 3 tasks Test1, 2, 3 for the commit Id 3759366600ee08c9afe654786aa4be648174c510
Can you please provide

[2020-05-04 22:00] mnltejaswini commented on #398
Upon looking at the webhook payloads for the two commits, one seems to be redundant as it has distinct flag as false and the commits array is empty. Still looking to cases as to why this can happen, but from Task side, we can ignore the webhooks that that has empty commit array and distinct flag as false.

[2020-05-05 13:31] GersonDias opened #400 "az acr task run: Unable to find image 'acr:latest' locally error"
**Describe the bug**
I'm trying to follow the guide https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge but when running the task, I'm receiving `Unable to find image 'acr:latest' locally` message.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Should purge the repo's content.

**Any relevant environment information**
 - OS: Win

[2020-05-05 14:43] Quim78 commented on #400
Hi,

I got same error. I'm following the same guide (https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge#run-in-a-scheduled-task).

[2020-05-05 14:59] northtyphoon commented on #400
CLI 2.0.69 is an old version. Can you upgrade CLI to the latest and then update or recreate the task?

[2020-05-06 20:45] northtyphoon commented on #400
@GersonDias @Quim78 did you get a chance to try the latest CLI?

[2020-05-06 23:00] sajayantony commented on #390
Yes here is an example of a Docker file
[code]
Here it the `acb.yaml` that you can create the task with using the `$Registry` alias for build args.

[code]
 sample here - https://github.com/sajayantony/dockerfiles/tree/master/docker-build-args

[2020-05-06 23:16] lolon88 opened #401 "ACR Tasks in Azure DevOps/Pipelines"
**What is the problem you're trying to solve**
Right now our team is using Azure DevOps Release Pipeline to build and push container images into ACR and we are using their [docker task](https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/containers/acr-template?view=azure-devops). I notice that ACR offers ACR tasks that can also automate the images' builds and maintenance, which com

[2020-05-07 00:14] sajayantony commented on #348
@shahzzzam - do we need this as a tip in the FAQ or have a note about string handling in general?

[2020-05-07 00:17] sajayantony commented on #374
I guess it is a bit hard for us to understand the scenario being requested here.
Could you explain with an example of what you want triggered with sample tags?

[2020-05-07 00:20] sajayantony commented on #305
Closing this issue since it hasn't had any traction for more than 2 months. @Jyoti492   Please feel free to open a support ticket against Azure DevOps if this is still an issue through Azure Support.

[2020-05-07 00:20] #305 closed

[2020-05-07 00:24] sajayantony commented on #295
@BenjaminHerbert - During the last few months there have been a set of improvements that have been made on the tracking side. If this is still an issue please feel free to reopen the issue and the team will try to help as needed.

[2020-05-07 00:32] sajayantony commented on #288
Closing this item since this is not an issue that will be fixed and has not had traction. ACR is moving towards a first class custom domain support - https://github.com/Azure/acr/pull/363

[2020-05-07 00:32] #288 closed

[2020-05-07 00:41] sajayantony commented on #214
Azure Container Registry now has increased capacity and also repartitioned compute to handle growing load in multiple regions. We are also monitoring latency actively. As a majority of this work has been deployed I would like to close this thread. For immediate help - please do open a support ticket from the Azure Portal. /cc @mnltejaswini

[2020-05-07 00:41] #214 closed

[2020-05-07 00:42] sajayantony commented on #234
Closing this issue since we are tracking feature requests through uservoice.

[2020-05-07 00:42] #234 closed

[2020-05-07 00:45] sajayantony commented on #283
@SteveLasker - There has been no action on this to closing for now. We can revisit this if we see more feedback or support issues with respect to this.

[2020-05-07 00:45] #283 closed

[2020-05-08 07:07] shahzzzam commented on #348
@sajayantony Should we consider adding a feature to mount secrets as volumes? @northtyphoon

[2020-05-10 22:54] kuwe1990 commented on #374
for example, in registry OnePubAcrProd, I have task internal1903Server, this task monitor internal/private/windows/servercore:1903-amd64. I have another task public1903Server, monitor public/windows/servercore:1903-amd64.We first publish to internal/private/windows/servercore:1903-amd64. it will trigger internal1903Server. But when we update public/windows/servercore:1903-amd64 with the images alr

[2020-05-11 14:20] nidiculageorge opened #402 "Container Registry Port"
Hi Team,

Is there any port in which the Azure Container Registry needs to be accessed ,as when we have to specify in Nsg.Which Port do we have to mention

[2020-05-11 14:27] SteveLas commented on #402
Please see https://aka.ms/acr/dedicated-data-endpoints

From: nidiculageorge <notifications@github.com>
Sent: Monday, May 11, 2020 7:20 AM
To: Azure/acr <acr@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Azure/acr] Container Registry Port (#402)

Hi Team,

Is there any port in which the Azure Container Registry needs to be accessed ,as when we have to specify in Nsg.

[2020-05-11 15:28] nidiculageorge commented on #402
I have gone through the link, is there any particular port

[2020-05-11 17:28] SteveLasker commented on #402
Good point. I overlooked this detail. Port 443 is the only port required to deliver REST manifest delivery over the registry endpoint, as well as content delivery over the data endpoints.
@dlepow to add this clarification to our docs.

[2020-05-13 15:49] seiffs commented on #124
I have the same issue

[2020-05-13 16:14] seiffs commented on #124
Ok, I finally found my issue. I had a typo in the repository name! Easy test is to run:
`docker pull "the-url-from-your-error-message"`

[2020-05-13 16:40] SteveLasker commented on #124
Hey folks,
Apologies for the challenges with authenticating with ACR for App services.
We've been enabling self service diagnostics to help troubleshoot typos, changed passwords and other challenges.
- If you're having auth problems, please take a look a the ACR Diagnostics & Logs features: https://aka.ms/acr/audit-logs. If you don't see an entry, check the registry name, or general connectivity.

[2020-05-15 21:07] yahya99223 commented on #214
Funny thing that this thread has been closed 9 days ago, and I got this issue just now.

[2020-05-15 23:48] msyihchen commented on #214
@yahya99223  Can you share your registry name + image name so we can take a closer look? How long does it take? What is the size of the image?

[2020-05-17 05:29] #402 closed

[2020-05-19 07:01] marcosflobo commented on #366
@jmaitrehenry could you please elaborate more on your answer. I'm facing this issue and I did not experience it in the past.

I have the same issue. In my case, **there some images**, which are in the ACR for a long time but new tags, that **can be pulled**. There are others, which are recently new and added into the ACR, that I face the same error

[code]

I think in my case the problem are not t

[2020-05-19 13:34] jmaitrehenry commented on #366
In my case, it's when I created my AKS cluster, I didn't use the client_id of my Service Principal but it's name (https://mysp). By reconfiguring the SP of AKS the problem was solve.

In your case, if you can pull some image but not other image it's weird. Is it possible that your cluster doesn't pull older tag because they are already present in the nodes?

You can check the SP inside the Azure A

[2020-05-21 06:32] marcosflobo commented on #366
At the I solved out. In my deployment.yaml I was missing the `imagePullSecrets` parameter. Details [here](https://kubernetes.io/docs/concepts/containers/images/#using-a-private-registry).

So, yes at some point it was related to permissions.

[2020-05-22 15:42] gro1m opened #404 "Cannot login to Azure Container Registry using username and password from Azure portal"
**Describe the bug**
Cannot login to Azure Container Registry providing username and password given in Azure portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Defined proxy variables in PowerShell:
[code]
2.
[code]
Output seems to be o.k.:
[code]
3.
[code]
Snippet from output:
[code]

**Expected behavior**
Login Succeeded after last command.

**Screenshots**
Not applicable

**Any relev

[2020-05-23 14:53] eliassal opened #405 "image pull failed since Inspect image returned null"
**Describe the bug**
I am following the tuto at
https://github.com/microsoft/TailwindTraders/tree/master/Documents/DemoScripts/Integrating%20Azure%20DevOps%2C%20Microsoft%20Teams%20and%20GitHub
Chapter, "**Configuring the Azure Continuous Delivery Pipeline**"
After successful build, then successful release, I click on the "App Service Application URL" in the outcome, I land on an error page (info

[2020-05-25 05:44] yugangw-msft commented on #405
@eliassal , the error calls out an authentication error, I suggest cross check  whether the credential was configured correct. If service principal is used, you can use `docker login  sierac.azurecr.io -u <sp-id> -p <sp-secret>`

[2020-05-25 05:51] yugangw-msft commented on #404
@gro1m, assume you are using admin account, can you please cross check whether the docker command works or not?
`docker login myregistry.azurecr.io -u myregistry -p <password copied from Azure portal>`

[2020-05-25 07:24] eliassal commented on #405
HI, I did use the service principal but not sure if I am logged or not and what I can do!!! On the command line I get 2 (greater than signs) whatever I write I get nothing. When I created the SP, the outcome was
{
  "appId": "5ebfbf98-...........................................c95d",
  "displayName": "TTapp",
  "name": "http://TTapp",
  "password": "eNyNIQ..............................jV\"Ws:Vo|",

[2020-05-25 11:16] gro1m commented on #404
@yugangw-msft
Thank you very much for your informative reply. I could solve the problem with the command you posted: The docker login gave the error addressed here: https://github.com/docker/for-win/issues/1534.
Using the solution by @sumitdubey022229:
[code]
solved the issue.

[2020-05-25 11:18] #404 closed

[2020-05-25 11:19] gro1m commented on #404
Problem solved by adding username and password to the docker proxy settings

[2020-05-25 15:34] eliassal commented on #405
OK, I did not use the right credentials, I used the right ones and was able to log as follows
![Release_006](https://user-images.githubusercontent.com/8447864/82825677-f11c9580-9eab-11ea-9c2d-98e6a3894b35.jpg)
![release009](https://user-images.githubusercontent.com/8447864/82825825-350f9a80-9eac-11ea-80c0-50ee1225e6d6.png)

and was able to issue the command
![Release_007](https://user-images.githu

[2020-05-25 16:54] eliassal opened #406 "The provided location 'francecentral' is not available for resource type"
**Describe the bug**
I am following instructions at
https://docs.microsoft.com/en-gb/azure/container-registry/container-registry-tutorial-quick-task
 When I issue the following command on a resource group in France Central Region

`az container create ............`

I get

**Screenshots**
![Release_009](https://user-images.githubusercontent.com/8447864/82831393-9b9ab580-9eb8-11ea-8323-ac0f180b9193

[2020-05-26 17:18] adewaleo commented on #406
@eliassal thanks for reaching out. This is an issue with azure container instances, not azure container registry. Could you raise a support ticket / request with azure container instances?

I will also move your issue to the azure cli repo. All azure teams contribute to the CLI through that repo, so it can be a good way to give visibility to this issue.

[2020-05-26 17:21] adewaleo commented on #406
Hmm for some reason I can't transfer this issue. Could you please open an issue at https://github.com/Azure/azure-cli

[2020-06-02 11:00] vprudnikov commented on #214
The same issue for me. It usually takes 1-2 minutes to push hundreds of **KB**  (not even MB) of code.
And I see a lot of the following messages in my Job's logs:
[code]

[2020-06-10 03:43] #406 closed

[2020-06-10 03:44] yugangw-msft commented on #406
Not ACR issue

[2020-06-10 06:50] AdallomRoy opened #408 "Getting a refresh/access token from an AAD service principal"
Is it possible? Currently the documentation only states how to get an ACR refresh token from a AAD refresh/access token which do not exist when authenticating with a service principal. So how do you exchange service principal credentials to an ACR refresh token? Either it's undocumented, or it's a feature request. Thanks!

[2020-06-11 08:30] AdallomRoy commented on #408
Thanks - I was able to make this work using the "access_token" grant_type instead of the "access_token_refresh_token" one! Anyhow, I think it could have been simpler if it was documented better :-) Thanks

[2020-06-11 16:08] sajayantony commented on #408
+ @dlepow

[2020-06-14 14:16] jishnukoottala commented on #124
- I also got the same issue
Here is how I got it resolved
- Go to Azure Container Registry, enable Admin Access
- Goto IAM Control, add a contributor role to App Service( if app service is not reflecting, go to your app service and go to identity section on the left, and click on system assigned - change status to On)
- Restart your App Service, changes will take few minutes to propogate

[2020-06-14 14:18] prajith234 commented on #124
@jishnukoottala This solution worked for me , Perfect ..!

[2020-06-15 13:03] karrtikr opened #409 "Allow public pull for images in Azure container registry"
**What is the problem you're trying to solve**
Allow users to configure images inside ACR, so they can be pulled publicly with `docker pull` without any authentication. Basically allow read-only anonymous access to images in ACR.

**Additional context**
We would like to run test job in our CI pipelines inside containers from ACR, particular in Github actions. But it only supports to run jobs insid

[2020-06-16 12:25] harishpo commented on #124
Thank you , it worked for me.

[2020-06-17 10:34] Wwwsylvia commented on #282
@SteveLasker Are we good to close this?

[2020-06-18 06:29] Wwwsylvia commented on #409
@yugangw-msft Do we have any thoughts on this?

[2020-06-18 18:58] sajayantony commented on #409
I think we need a public doc on how to sign up for this.

[2020-06-18 19:56] karrtikr commented on #409
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#how-do-i-enable-anonymous-pull-access

I think this is the public doc you maybe referring to. I was successfully able to open up a support ticket and get this resolved.

[2020-06-19 01:56] #282 closed

[2020-06-19 05:18] tomkerkhove commented on #409
I have been using this for almost a year now as well

[2020-06-19 19:08] epomatti opened #410 "Increase the limit for Webhooks in ACR"
The limits for webhooks, for both Basic and Standard service tiers, seem to be very low and do not scale well with the increase in price.

Why would the _amount_ of webhooks, and not storage or the actual hook calls, influence the costs?

Current prices:

- Basic $5 = 2 Webhooks
- Standard $20 = 10 Webhooks
- Premium $50 = 500 Webhooks

[ACR Service Limits](https://docs.microsoft.com/en-us/azure/c

[2020-06-21 07:55] fertinaz opened #411 "cannot pull a singularity container"
**Describe the bug**
Trying to pull a singularity container that I pushed to ACR. It fails with the following error:
[code]

**I can successfully pull and run a sample command using a Docker container image.**

**To Reproduce**
This is how I pushed my container image:
[code]

I'm using azure batch (c# sdk) to pull the container. Code below is the part where I define ACR related stuff:
[code]

**An

[2020-06-21 13:58] SteveLasker commented on #411
@sajayantony ?

[2020-06-22 05:49] Wwwsylvia commented on #410
@yugangw-msft

[2020-06-22 09:58] shizhMSFT commented on #411
It seems that [Azure Batch libraries for .NET](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/batch?view=azure-dotnet) only supports Docker images. Therefore, it treats the singularity image with the protocol `oras://` as a docker image. As a result, it fails with `unexpected end of JSON input`, which is expected since singularity images cannot be pulled using `docker pull`.
[code]
Non

[2020-06-22 10:22] shizhMSFT commented on #411
In addition, singularity images are incompatible with native container support enabled pools. In other words, singularity images are incompathible with the offer `ubuntu-server-container` by the publisher `microsoft-azure-batch`.

[2020-06-22 13:57] androuser123 commented on #400
issue still exists

[2020-06-22 18:46] vermagit commented on #411
@alfpark Would it be fair to say that support for Singularity does not yet extend beyond Batch Shipyard to native Batch and SDK?

[2020-06-23 01:36] fertinaz commented on #411
Hello, thanks for the info. I appreciate that.

I know about `batch-shipyard`, used it in the past and even contacted @alfpark about some details because I was a part of the UberCloud team. You guys might know about them.

I'm a bit surprised to hear that "Azure Batch libraries for .NET only supports Docker images". Somehow, I was assuming that `batch-shipyard` uses Python SDK for Batch. Should I

[2020-06-23 01:43] vermagit commented on #411
@fertinaz Yes of course, UberCloud is a key partner.
IIRC, they use docker containers to package the apps and they have it working well with RDMA etc.
@alfpark is the SME here, though I would also suggest opening an issue in the Batch repo so that team is aware of this request.

[2020-06-23 04:12] yugangw-msft commented on #410
@SteveLas, please comment

[2020-06-23 04:13] yugangw-msft commented on #409
closing as we have doc on this already

[2020-06-23 04:13] #409 closed

[2020-06-23 16:05] SteveLasker commented on #410
Hi @epomatti, thanks for the feedback, and uservoice is actually the best place for new or expanded capabilities for existing features. We try to use this issues list for bugs/issues in current features. But, I do see your point "_the current limit is an issue_". Thank you for the uservoice entry so we can comment there.
@mangalorereshmi is working on a new consumption tier that this would align w

[2020-06-23 16:11] #410 closed

[2020-06-23 16:12] SteveLasker commented on #376
Closed as we've moved to GA. I've retitled to reflect GA state on the board.

[2020-06-23 16:13] SteveLasker commented on #396
Retitled to GA as this is now released.

[2020-06-23 16:46] SteveLasker commented on #380
[Repository scoped permissions](https://aka.ms/acr/repo-permissions) are now in public preview. However, they are limited to Tokens.

Our plan has been to add repository scoped permissions for IoT scenarios (devices in the wild) _and_ AAD based objects (services and people).

Our first priority was to enable IoT as enabling millions of devices, connecting from remote, or isolated networks was a bl

[2020-06-23 16:47] SteveLasker opened #412 "Repo Scoped Permissions: Token support"
[Repository scoped permissions](https://aka.ms/acr/repo-permissions) are now in public preview. However, they are limited to Tokens.

Our plan has been to add repository scoped permissions for IoT scenarios (devices in the wild) _and_ AAD based objects (services and people).

Our first priority was to enable IoT as enabling millions of devices, connecting from remote, or isolated networks was a bl

[2020-06-23 16:54] #378 closed

[2020-06-23 16:54] #379 closed

[2020-06-23 17:07] SteveLasker opened #413 "Emitting throttling metrics"
Customers have asked when a registry may be throttling their access, and if they should move up to a higher tier, or can scale down.
To aide in transparency to registry usage, we will be adding additional metrics, including how much throughput is being consumed of a tier, and if operations are being throttled.

[2020-06-23 17:12] SteveLasker opened #414 "Artifact Delete Latency Improvements"
As registries grow, delete operations have slowed.
ACR has focused on minimum infrastructure to provide the fastest possible runtime performance, while minimizing the complexity of moving parts, that can fail.
As registries have grown in size, due to automation, support of multiple teams within a single registry and large machine learning type images, we've seen the garbage collection routines bec

[2020-06-23 17:16] SteveLasker opened #415 "Auto-purge improvements"
New work to complete: https://github.com/AzureCR/specs/tree/master/auto-purge

[2020-06-23 17:20] SteveLasker opened #416 "CMK migration of existing registries"
Customer Managed Keys (CMK) enables double encryption of content using customer provided keys, managed in Azure Keyvault.
CMK is currently GA for newly configured registries.
CMK conversion of existing registries are underway as we recognize that customers want/need CMK of registries they've already configured and secured.

Converting a registry to double-encrypted involves re-encrypting all conte

[2020-06-23 17:22] SteveLasker opened #417 "Notary Project spec and tooling for artifact signing"
Notary v2 is the replacement for Docker Content Trust.
Notary v2 will enable signing of artifacts, which can be copied within or across different registries.
The ability to copy an artifact from one registry (public such as docker hub or mcr) to a private registry is a [best practice](https://stevelasker.blog/2018/11/14/choosing-a-docker-container-registry/).

However, users must know the content

[2020-06-23 17:24] SteveLasker opened #418 "Container Teleportation"
The ability to run any container on any service within azure, as if the image was pre-cached will unlock many additional possibilities.

https://aka.ms/acr/teleport

[2020-06-23 17:26] SteveLasker opened #419 "On-premise registry support, as a geo-replicated node."
To support on-premise workloads that support bi-directional replication to/from azure.
This will support connected nodes, occassionally connected nodes and air-gapped nodes for IoT [Purdue Network isolated environments](https://en.wikipedia.org/wiki/Purdue_Enterprise_Reference_Architecture).

[2020-06-23 17:31] SteveLasker opened #420 "Microsoft Defender Support for Registries in a VNet (Private Link)"
Customers that focus on security would likely want their resources in a VNet through [Private Link](https://aka.ms/acr/privatelink) _and_ have their content scanned with Azure Security Center.

As Azure Security Center is a multi-tenant 1st part service, there are no dedicated resources to place in the customers VNet, along with the registry.

We are working to fill this gap with a secure way for

[2020-06-24 06:18] #411 closed

[2020-06-24 06:22] shizhMSFT commented on #411
This ACR-side issue is closed as it is tracked from the Azure Batch side.

[2020-06-30 02:38] epomatti commented on #410
Thanks @SteveLasker and @mangalorereshmi for the response.

I closed this issue and will be waiting for the response back on User Voice [40569829](https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/40569829-increase-the-limit-for-webhooks-in-acr).

[2020-07-01 20:23] mxrss2 commented on #376
Does ACR private link support acr build? I can not seem to get it to work when i set the acr registry to private.

[2020-07-02 16:59] ReneVajkay commented on #124
Your solution worked for me too, thanks.

[2020-07-02 17:08] SteveLasker commented on #124
Once you're configured, you should be able to disable the admin account. This configuration limitation is something the App Service Team is working to resolve as the admin account has full push/pull permissions and only one identity.
If you need a more holistic token solution, we now have repo-scoped token support, with RBAC. https://aka.ms/acr/repo-permissions
However, for Azure Services, managed

[2020-07-03 09:49] avtakkar commented on #376
/cc @northtyphoon

[2020-07-03 17:03] SteveLasker commented on #376
http://aka.ms/acr/tasks/agentpool supports private link. Is an early preview, so your feedback is appreciated

[2020-07-04 04:18] rajivml opened #421 "ACR Docker Images Delete API"
HI,

I couldn't find any API to programatically delete an Image from ACR , I do see an API for deleting the entire container registry but it doesn't accept any parameters like imageName and imageTag

https://docs.microsoft.com/en-us/rest/api/containerregistry/registries/delete

Can you please throw some light on this, we are porting an SaaS based application from GCP to Azure and we have dependenc

[2020-07-04 06:12] SteveLasker commented on #421
Hi @rajivml
Welcome to Azure. Here’s some apis that should help

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-delete
and
http://aka.ms/acr/auto-purge
Steve

[2020-07-04 06:38] rajivml commented on #421
Thanks @SteveLas , I have just now realized that the image is called as an repository earlier I was looking at a wrong place, found the rest API as well https://docs.microsoft.com/en-us/rest/api/containerregistry/repository/delete

I will try it out

[2020-07-04 07:45] rajivml commented on #421
@SteveLas I tried to delete the repository via curl, but am getting "Unsupported Request" error,

<HTML><HEAD>
<TITLE>Unsupported Request</TITLE>
</HEAD><BODY>
<H1>Unsupported Request</H1>
DELETE to http&#58;&#47;&#47;docs&#46;microsoft&#46;com&#47;en&#45;us&#47;rest&#47;api&#47;containerregistry&#47;repository&#47;xxxxxxx&#46;azurecr&#46;io&#47;acr&#47;v1&#47;host&#37;2Fe0a24b06&#95;1bd4&#95;4ae9

[2020-07-04 17:16] rajivml commented on #421
![image](https://user-images.githubusercontent.com/46923567/86517644-1fe14080-be48-11ea-9101-c1642b17fc98.png)

The doc say's it's preview, is this the reason it's not working and also the example that was given was using an test ecr point, so I doubt it works in prod, can you please check and confirm

[2020-07-04 17:29] SteveLas commented on #421
Sorry, but most folks that would normally reply here are taking a much needed break. We do have live-site support folks on call. If you'd like a response over the US holiday weekend, please open a ticket here: https://aka.ms/acr/support/create-ticket
As for preview, we support all preview APIs, although, I didn't think this one was in preview, but I'm just looking quickly as I head out for a hike.

[2020-07-04 18:33] rajivml commented on #421
no issues, you can reply over a weekday, I still have sometime to implement it, happy hiking !!

[2020-07-07 18:40] rajivml commented on #421
HI, can you guys give me an sample rest/curl call on how to delete an image based on it's tag

[2020-07-07 21:31] SteveLasker commented on #421
@yugangw-msft can you help here?

[2020-07-08 12:08] wagnst opened #422 "Unable to find manifest digest when importing from Nexus Docker"
**Describe the bug**
I am trying to import docker image via `az acr import` from Nexus Docker Repo, but I get `Unable to find manifest digest`:

[code]
The manifests are there according to nexus interface:
![image](https://user-images.githubusercontent.com/7312523/86917125-e6992100-c124-11ea-85ab-3efbe67d4a27.png)

Pulling the image via docker directly works fiine:

[code]

**To Reproduce**
Steps

[2020-07-09 00:34] SteveLas commented on #421
@rajivml, the team is really busy, so trying to contact individuals can be a challenge. Do you mind opening a support ticket, so we can make sure you get the timely help you need from one of the on-call folks: https://aka.ms/acr/support/create-ticket

[2020-07-09 03:24] rajivml commented on #421
hm, I would have done that but I don't have access to our azure support portal, I need to catch hold of some IT guy to create one on behalf of me. But it's pretty surprising that even contributors are not able to point me to the right documentation for an public API

[2020-07-11 14:07] rajivml commented on #421
@sajayantony @shizhMSFT Hey guys , my use case is to delete an image from ACR based on tags, but I couldn't find any examples on how to delete the same programatically i.e via Rest API  and I have been blocked from a couple of weeks on this and I don't have permission to create support tickets via portal.azure so that's why am relying on this medium/channel

Can you please share an sample curl/pos

[2020-07-11 14:41] rajivml commented on #421
[code]

I have tried this and the API responds that request has been accepted and it's an hour and the image still exists and I can pull the image as well , any idea on why it didn't get deleted, if the permissions are missing then that would have been verified at the time of token validation itself so I think that's not the reason

[2020-07-11 15:49] rajivml commented on #421
looks like I have to pass this digest which is highlighted in yellow as input for the delete call instead of the digest that is returned by the get manifests call i.e the one under config

{
  "schemaVersion": 2,
  "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
  "config": {
    "mediaType": "application/vnd.docker.container.image.v1+json",
    "size": 11850,
    "digest": "*

[2020-07-11 15:54] SteveLasker commented on #421
apologies for the delay. We’re tracking down someone to assist.

[2020-07-11 16:48] rajivml opened #423 "Understand Difference Between Repository & Image"
HI,

I was going through this doc and I want to understand the difference between Repositority and an Image in the context of ACR, because I don't see any such thing called as Image on ACR UI, afaik repositories are nothing but images in ACR.

https://github.com/Azure/acr/blob/master/docs/AAD-OAuth.md#calling-post-oauth2token-to-get-an-acr-access-token

By substituting repository name to image var

[2020-07-11 17:11] rajivml commented on #423
[code]

This is what I tried,

[2020-07-11 18:39] rajivml commented on #421
okay got it, we have to make a head request to fetch the docker digest which I have highlighted in yellow earlier , please get all these documented

rajivchodisetti@DESKTOP-LOUPTI1:/mnt/c/Users/rajiv.chodisetti/Desktop$ curl -I HEAD -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -H "Authorization: Bearer $acr_access_token" "https://$registry/v2/$image/manifests/1"
curl: (6) Coul

[2020-07-11 18:41] rajivml commented on #423
you can close this, I have figured out that image is nothing but a repository in acr , it's just that you guys were interchanging these words in the documentation leading to confusion

And regarding scope, to list the tags, I tried with this `export scope="repository:$image:*"` and am able to list it now, but anyhow if you can let me know the exact scope needed for listing that would be great, you

[2020-07-11 18:53] rajivml commented on #421
you can close this issue, I have got my issues resolved, the documentation can be improved a lot, the term image and repository are being interchanged at multiple places and the examples are also not well documented

after going through all these 3 pages & after some trial & error, I was able to figure out it's working,

https://docs.docker.com/registry/spec/api/#listing-image-tags
https://github.

[2020-07-11 20:26] northtyphoon commented on #421
@rajivml First I want to apologize for the delayed response. The team was very busy in the last few weeks.

Before I explain how the delete API works, I want to clarify a little bit about the concepts of registry, repository, tag, manifest and image. For detail explanation, I recommend you read @SteveLasker 's blog post [registry-namespace-repo-names](https://stevelasker.blog/2020/02/17/registry-n

[2020-07-11 20:33] northtyphoon commented on #421
If you want to fiddler with the API in the future, I would suggest use Azure CLI `az acr` commands. We provide full support and better samples for `az acr` commands. With `--debug` command, you can inspect the detail http requests, for example,

[code]

[2020-07-12 03:20] rajivml commented on #421
Thanks @northtyphoon , no worries and I appreciate your detailed response on this topic, I am sorted for now

[2020-07-13 14:57] rtaylor72 commented on #87
I ran into this and found another issue.  The service provider (SP) I was using only had the "Acr Push" role.  I had to add the "Contributor" role to resolve the issue.  So it appears "Acr Push" does not have enough permissions to see the ACR resource.  Hope this helps someone else that sees this error and is confused knowing that the ACR is in the specified subscription.

[2020-07-14 03:30] aidapsibr commented on #204
Any update on this? My multi-stage .net framework (SDK->Runtime) builds take 50m.

[code]

[2020-07-16 20:23] rtaylor72 commented on #237
@dlepow , see the opening comment. Acr Pull/Push do not have enough rights. They seem to have fixed the Acr pull, but not the Acr Push using "az acr import" CLI command.

[2020-07-21 12:55] orecht commented on #317
For this information of anyone reding this issue, `az acr helm` has been depricated. See az acr release notes https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest&tabs=azure-cli#july-14-2020

This breaks my build with the following error:
[code]

[2020-07-21 14:55] r3-jerrysteele opened #425 "TLS error when pulling image from ACR through Private Link"
**Describe the bug**
TLS error when pulling image from ACR through Private Link

**To Reproduce**
Steps to reproduce the behavior:
1. Create ACR (Premium SKU, Georeplication enabled)
2. Set up Private Link, Private Endpoint and Private DNS as per the [official article](https://docs.microsoft.com/en-gb/azure/container-registry/container-registry-private-link)
3. Write a simple pod manifest to pull

[2020-07-26 07:16] yugangw-msft commented on #425
@r3-jerrysteele, please still use `myregistry.azurecr.io`. `<registry_name>.privatelink.azurecr.io` is only used in cname records so to route push/pull request to the regional infrastructure, and it is not supposed to be used on customer facing commands/dev-op configs

[2020-07-26 07:17] yugangw-msft commented on #423
closing. thanks

[2020-07-26 07:17] #423 closed

[2020-07-26 07:26] yugangw-msft commented on #422
@wagnst, sorry for the delay. The error at back-end showed tag of "1.0.0-202001131056" not found, could you double check?

[2020-07-27 17:32] nidiculageorge opened #426 "How to copy images from one azure container registry to another container registry in different tenant"
Hi Team,

I have a container registry in one subscription and and another container registry in another subscription. Both are under different tenant ID.

Is it possible to copy images between container registry using az commands. Please let me know the commands

[2020-07-27 18:40] hkuadithya commented on #426
@nidiculageorge
Thanks for reaching out. This feature is already available using [az acr import](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images) command.

As long as you have the access keys credentials of the source container registry, it doesn't matter what tenant it belongs to.

**Example:**
[code]

Please note that with this command, you can:-
* Impo

[2020-07-28 04:05] nidiculageorge commented on #426
@hkuadithya Great thanks for the response,should we specify the password in single quotes '',as we are running from powershell integrated vs code

[2020-07-28 04:50] nidiculageorge commented on #426
@hkuadithya

Getting the below eerror

az: error: unrecognized arguments: –-password xxxxxxxxxxxxxxxxxxxxxxx

[2020-07-28 06:39] hkuadithya commented on #426
@nidiculageorge It should be `--password` not `–-password`. Looks like you entered a wrong unicode character (notice how it's bigger than the regular dash).

As for powershell, you can store these parameters in a variable and run.
Use backticks ` for multiline commands on Powershell. Use backslash \ for Bash.

**Example (Powershell):**
[code]

[2020-07-28 16:01] r3-jerrysteele commented on #425
Thanks, I've confirmed that using
[code]
...and running nslookup:
[code]

[2020-07-28 16:01] #425 closed

[2020-07-28 17:16] shreelola opened #427 "How to use ACR in AKS from different tenant"
Hi,
I have ACR running on tenant A, I would like to attach ACR from  tenant A to Tenant B and Tenant C AKS clusters. I would like to do passwordless image pull on  Tenant B and Tenant C AKS clusters and manage account settings on AAD level.

[2020-07-28 18:13] hkuadithya commented on #427
@shreelola I'm not entirely sure if that's possible since this comes under AAD.
Are you the owner of the subscription which contains ACR from TenantA?

Can you try this and report the errors (if any)?
[code]

[2020-07-28 18:53] nathana1 opened #428 "intermittent failures pushing build caches"
First reported here:  https://github.com/moby/buildkit/issues/1550#issuecomment-659073476.  We have identified the issue and are investigating potential fixes.

I've noticed the same problem when pushing caches to Azure Container Registry--it throws a 400 Bad Request error (tested on Buildkit 0.6.2 and 0.7.1 with the option --export-cache type=registry,ref=$(params.image_repo)/$(params.image_name)

[2020-07-28 19:18] northtyphoon commented on #427
@shreelola you set up the AKS using a service principal. It can be used as default credential to pull images from ACR. Does it match "your passwordless image pull" expectation? If yes, there is a way to enable the app backing the service principal to multi-tenant so that it can pull images from ACR in different tenants.

[2020-07-28 23:35] mangalorereshmi opened #432 "ACR in Switzerland West"

[2020-07-28 23:42] mangalorereshmi opened #433 "ACR in UAE Central"

[2020-07-28 23:43] mangalorereshmi opened #434 "ACR in Brazil Southeast"

[2020-07-29 04:55] shreelola commented on #427
@hkuadithya command fails to create a role assignment.
`Waiting for AAD role to propagate[################################    ]  90.0000%Could not create a role assignment for ACR. Are you an Owner on this subscription?`

@northtyphoon Yes, I can set up a AKS using a service principal on Tenant B and C. How can I update AKS to use ACR from Tenant A?

[2020-07-29 05:15] nidiculageorge commented on #426
@hkuadithya will try and let know the .Thanks

[2020-07-29 06:27] #421 closed

[2020-07-29 09:12] nidiculageorge opened #435 "Image copy between private endpoint enabled container registry"
Hi Team,

I have two container registry, is it possible to copy images between the two container registries .

When i try to copy i am getting the below error

Deployment failed. Correlation ID: 416553cf-893f-4628-94da-0b830d79f2c3. Operation registries-dc25de8c-d167-11ea-8b32-000d3ab23722 failed. Resource /subscriptions/093a6515-332c-45a3-a7e4-d88645b2395c/resourceGroups/asr-registry-poc/provider

[2020-07-29 10:10] avtakkar commented on #435
Hi @nidiculageorge ,
This is because public network access to the source registry is disabled.

@djyou , @yugangw-msft what is the recommendation in this scenario?

[2020-07-29 11:41] nidiculageorge commented on #435
@avtakkar is there any another way to copy the image between these

[2020-07-29 16:24] sajayantony commented on #435
@nidiculageorge - can you share the sample command you are using to import. The one reason this might be blocked might be due to the fact that you are fully qualifying the image instead of using the resource ID.

[2020-07-30 00:48] northtyphoon commented on #427
@shreelola, the workflow is opposite.

1. First go to the AAD App (Azure Portal) for the service principal you used to create AKS, enable multi-tenant on the App,

![image](https://user-images.githubusercontent.com/2686301/88866822-a62b4100-d1c0-11ea-91ff-5ee35debc9dd.png)

2. Create the service principal in Tenant B and C using the above multi-tenant app. Internally, we have to follow a process t

[2020-07-30 02:41] deepakkhetwal opened #436 "RBAC access to namespaces"
**What is the problem you're trying to solve**
We are setting up multi tenant AKS cluster, each namespace owned by different team/tenant and require different privileges at namespcae level, it would be better if we have same namespace level RBAC control with in acr, which will align acr pull images permissions to aks namespace level permissions. Right now, we are looking to create separate acr for

[2020-07-30 03:41] avtakkar commented on #436
Do repository scoped permissions help? https://docs.microsoft.com/en-us/azure/container-registry/container-registry-repository-scoped-permissions

[2020-07-30 03:47] northtyphoon commented on #436
@deepakkhetwal, you may be able to leverage the "tokens and scope maps" feature to manage repository-scoped permissions.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-repository-scoped-permissions

Let's say `Team A` run their Pods in `Namespace A`. They need to access a few images in the registry like `registry.azurecr.io/repo1`, `registry.azurecr.io/repo2`. You ca

[2020-07-30 04:07] avtakkar commented on #435
@nidiculageorge , when the source registry's public network access is disabled, control plane operations such as image import will not work since access to the registry is limited only to your VNETs. In this case, if enabling public access is an option, you may try the import after that.

[2020-08-03 15:38] rtaylor72 commented on #281
Any updates on the status of this?  Thanks!

[2020-08-04 18:01] hkuadithya commented on #435
@nidiculageorge Could you please share the correct registry name? `seabnonliveregistry` doesn't exist but `asrregistrypoc` registry exists. Did `seabnonliveregistry` registry get deleted?
@avtakkar Public access for `asrregistrypoc` is enabled but, as you mentioned, for `seabnonliveregistry` it could be disabled.

@nidiculageorge Could you temporarily enable the public access, import the target im

[2020-08-05 02:51] moewill commented on #264
Thanks for any update on this - I am having to write something custom for this at the moment.

Any update here? Thanks!

[2020-08-05 11:53] mpmatti commented on #196
So what was the conclusion of this problem?

[2020-08-05 17:30] RabbitSharp opened #446 "Show used storage space per repository"
**What is the problem you're trying to solve**
I want to clean up my container registry and find out which repositories use the most storage space so that I can delete the manifests with the highest memory consumption.

**Describe the solution you'd like**
I would like to be able to see the size of the repository in the repository overview and/or in the respective detailed views and/or with the `a

[2020-08-05 22:30] yugangw-msft commented on #281
@rtaylor72, before we have a built-in role on this, it is relatively easy to create you a custom role with the minimum permission. Below there is a template. You can save it to a file like `acrImport.json` and then invoke `az role definition create --role-definition c:\temp\acrImport.json` to create a role. To demonstrate the whole e2e, I also list other commands for verification. One catch is you

[2020-08-05 22:31] yugangw-msft commented on #281
CC @toddysm

[2020-08-06 05:16] rtaylor72 commented on #281
Thanks for the response! So the "Acr Push" role is missing the last 2 actions for the "az acr import" command to to work. At least we all know the minimal rights needed to run this. Thanks Again!

[2020-08-06 16:26] yugangw-msft commented on #281
@rtaylor72, you are very welcome! And that is correct, the last 2 actions are the missing ones.

[2020-08-07 10:52] avtakkar commented on #435
@nidiculageorge , try using the ARM resource ID of the source registry in the import command as a workaround.

[2020-08-07 11:01] nidiculageorge commented on #435
@avtakkar i have tried enabling temporary public access for the container registry and tried copying the same.The customer has agreed to do the same.So it works

z login
az acr login -n <destinationregistry> --expose-token

az acr import `
  --name asrregistrypoc `
  --source seabnonlivecontainerregistry.azurecr.io/rmautomarkingservices/master/answertoolapi:6.1.75.0 `
  --username seabnonliveConta

[2020-08-07 11:02] #426 closed

[2020-08-07 11:07] avtakkar commented on #435
Okay, great!
As I mentioned, if you wish to keep public access disabled on the source registry, try specifying the resource ID in the import command and that should work as well.

[2020-08-07 11:08] #435 closed

[2020-08-07 11:19] avtakkar commented on #436
Hi @deepakkhetwal , just following up on this - let us know if the above feature works for you.

[2020-08-07 15:41] SteveLasker commented on #281
@dlepow, could we add an article that explains how to do custom roles for ACR, using the above Import role as an example?

[2020-08-08 01:11] jaysterp opened #447 "Helm3 charts not listed in Azure portal when uploaded by ACR Transfer"
**Describe the bug**
When using ACR Transfer to move a Helm 3 chart between two registries, the chart is not listed in the portal after being imported to the target registry. When the helm chart is initially pushed as an OCI artifact to the source registry using the Helm 3 client, it is visible in the portal.  However, after exporting the artifact to storage and and importing to the target registr

[2020-08-10 19:19] mangalorereshmi opened #448 "ACR usage metrics and alerts"
Expose the following metrics via the Metrics blade:

- Registry storage metrics - Amount of storage used by a registry/repository.

- API ops metrics - Amount of API calls made to the registry for all operations performed against the registry.

[2020-08-10 19:28] mangalorereshmi commented on #446
Hi @RabbitSharp - Thank you for your feedback. We are looking into displaying ACR's usage metrics (Storage and API ops) via the Azure Metrics blade. The latest on this feature can be found here: https://github.com/Azure/acr/issues/448.

Thanks,
Reshmi Mangalore

[2020-08-10 19:32] mangalorereshmi commented on #446
Closing this request as we are tracking it using ACR's Metrics and alerts enhancement feature https://github.com/Azure/acr/issues/448.

[2020-08-11 07:08] adamaiken89 commented on #214
It seems the issue happen again.
I have a 1GB image for CI and it consumed over 10 mins but still the it didn't download the whole image.

[2020-08-11 07:27] laurilehmijoki commented on #214
@sajayantony I'm experiencing slow download times from ACR to CircleCI.

Are there any known workarounds for the slow network connection between ACR and CirleCI?

[2020-08-11 08:43] jageshmaharjan commented on #214
Even at the same region, the process of image push is slow. Not always, but at intermittent interval of time. Not sure, if this is bug or issue with my network connectivity.

[2020-08-11 22:09] Foozinator commented on #395
@SteveLasker, I have a similar problem.  I have .Net core containers in a registry and working just fine in ACI.  Some of these I'd like to put on a simple schedule, and it looks like acr task might do that, but I need to be able to send environment variables.  The moment I add a .yaml file, it stops working altogether.  This isn't a build pipeline, I just want to start a container on a schedule.

[2020-08-12 06:05] avtakkar opened #449 "Import image fails when parameter 'scope' is missing in source registry's auth challenge"
**Describe the bug**
Import requires a `scope` for bearer authentication. When the source registry's auth challenge does not include a `scope` parameter, it fails. `scope` should be optional.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Successful image import.

**Actual behavior**
[code]

[2020-08-13 06:29] adamaiken89 opened #450 "Pulling images is very slow"
**Describe the bug** (Or issue?)
We are using an image from container registry for CI running. And recently puling an image from azure container registry is extremely slow. The speed is around 40KB/s at max. Before that we could usually download the whole image in 1~2 minutes

**Expected behavior**
I have a 1GB image for CI and after 10 mins our CI didn't download the whole image.

**Any relevant

[2020-08-13 06:34] sajayantony commented on #450
@adamaiken89 would you please open a support ticket so that we can security engage since might require the engineer to investigate a particular resource.

[2020-08-13 06:35] adamaiken89 commented on #450
Noted.

[2020-08-13 06:35] #450 closed

[2020-08-17 20:02] rajivml opened #451 "ACR Image Pull Errors"
HI,

We are doing a POC to migrate some of our workloads to azure from gcp and we are using AKS and we attached Azure container registry to AKS so that there is no need of specifying credentials at the time of image pull in any of our kubernetes yaml templates

AKS Kubernetes Version: 1.16.10

Our workflow:
Job 1  build an image -> it pushes the image to ACR -> job 2 picks this image and will depl

[2020-08-17 20:11] sajayantony commented on #451
/cc @yugangw-msft for pulling in folks from AKS.

[2020-08-17 21:46] sajayantony commented on #451
Adding @yangl900  @samkreter @weinong

[2020-08-18 07:47] yangl900 commented on #451
there are a few known issues at upstream k8s, regarding using managed identity to pull images. This might be related if we are pulling from both ACR and a public CR like dockerhub.

https://github.com/kubernetes/kubernetes/issues/92326
https://github.com/kubernetes/kubernetes/issues/92737

[2020-08-18 07:52] yangl900 commented on #451
meanwhile there is another project we are working on to make the image pull experience simpler and more dynamic. It's at very early stage but open for feedbacks: https://github.com/Azure/msi-acrpull

[2020-08-18 15:56] northtyphoon commented on #395
@Foozinator what is your yaml file look like? what error did you encounter?

[2020-08-18 15:57] northtyphoon commented on #400
@androuser123  thanks for the confirm.

[2020-08-18 15:57] #400 closed

[2020-08-18 15:58] northtyphoon commented on #427
@shreelola did you get a chance to try?

[2020-08-18 20:09] rajivml commented on #451
Isn't there any plan to fix these issues ? as we have already taken dependency on this feature and we are about to release our product and during integ testing our QA noticed this issue

[2020-08-18 23:18] dlepow opened #452 "Unable to update count in agent pool"
After creating an agent pool I am unable to change the count in the pool using the CLI or portal

**To Reproduce**
1. Create an agent pool in supported region westus2 on premium registry:
[code]
  Pool is created successfully.

2. Run `az acr agentpool update`, increasing or decreasing the count. Example:
[code]
3. CLI shows error message
[code]

**Expected behavior**
Pool count increases or decre

[2020-08-19 00:56] northtyphoon commented on #452
@dlepow can you try it again?

[2020-08-19 08:38] yangl900 commented on #451
Hi @rajivml, if you check the upstream issue, one of them (the major one) has been fixed and cherry picked to 1.16, 1.17 and 1.18. They will be available in the next patch version of these releases. The second fix is for case you have image pulls from multiple ACRs, that is still being worked on.

cc: @andyzhangx

[2020-08-19 08:48] andyzhangx commented on #451
The major fix(pull image fail randomly using managed identity: https://github.com/kubernetes/kubernetes/pull/92330) is already in k8s 1.16.14, 1.17.10, 1.18.6

[2020-08-19 16:53] dlepow commented on #452
@northtyphoon - Thanks very much, works fine in CLI and portal. I'll go ahead and close issue.

[2020-08-19 16:53] #452 closed

[2020-08-20 04:27] rajivml commented on #451
@andyzhangx any idea what's the release date for these versions ?

[2020-08-31 16:19] shreelola commented on #427
@northtyphoon Thanks for the step by step explanation,  I couldn't follow step-2 with azure cli command, nor from the Portal.
I was trying to figure out cli command to create sp: https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest
Can you please guide here? We want to do the complete steps programatically. It would be difficult to raise Azure support ticket each time when we add

[2020-09-04 07:08] shizhMSFT commented on #436
Closing this issue since it is over 1 month without any customer response.

[2020-09-04 07:08] #436 closed

[2020-09-04 16:51] Foozinator commented on #395
@northtyphoon, I ended up putting basic environment variables in a configuration file and using App Configuration resource for the rest.  I was able to get the acr task schedule working at that point.

[2020-09-07 14:36] brechtvhb commented on #214
Pushing to ACR is painfully slow today (EU West).

[2020-09-07 17:20] ohadschn commented on #196
@mpmatti the source was malformed, should be `docker.io/library/python:2.7-alpine3.8` (and NOT `docker.io/python:2.7-alpine3.8` without the `library` component).

[2020-09-08 07:17] MateuszGalasinski commented on #295
Hi, I encountered similar issue with not triggering build:
1) My task in ACR:
![image](https://user-images.githubusercontent.com/39420679/92441600-ce8a6000-f1ae-11ea-8609-4e14cdefdc95.png)
2) Manual successful runs (no automatic run ever happened)
![image](https://user-images.githubusercontent.com/39420679/92441657-e2ce5d00-f1ae-11ea-94ca-2bf9f685f237.png)
3) Builds logs from last run, showing run

[2020-09-08 09:29] TBurda commented on #395
Hi, I need to pass a WINDOWS_VERSION variable that is defined in the YAML file. Unfortunately, I can't do that. I did not find any example in the documentation. Can you help me how to solve this? Thank you.

**Command**
`az acr run --registry logeto -f build.yml --platform windows --set WINDOWS_VERSION=1809-rc1 . `

**YAML file build.yml**
[code]

[2020-09-08 14:26] BenjaminHerbert commented on #295
@sajayantony I had doubts that this is working reliably in the past weeks as well, but could not investigate further. Could you please check and reopen the issue?

[2020-09-09 06:38] northtyphoon commented on #398
The fix has been rolled out.

[2020-09-09 06:38] #398 closed

[2020-09-09 06:57] northtyphoon commented on #295
@MateuszGalasinski the screenshot you shared shows all your run were quick runs. Can you run the following command to populate the dependencies for the task? After that,

[code]

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-base-image-update#build-the-application-container

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-b

[2020-09-09 07:00] northtyphoon commented on #348
We released the feature to support mounting secret as volume in each step.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#access-secret-volumes

[2020-09-09 07:00] #348 closed

[2020-09-10 20:29] mangalorereshmi commented on #433
Azure Container Registry is now available in UAE Central: https://azure.microsoft.com/en-us/updates/azure-container-registry-now-available-in-uae-central-region/

[2020-09-10 20:29] #433 closed

[2020-09-11 05:45] hadr10 opened #457 "az acr import unauthorized"
**Describe the bug**
We are moving images from internet to ACR. We have got issue with 2 images which get unauthorized, for other images it works well. The same issue is for image

az acr import --name xxxacr --source docker.io/nats:2.1.8 -t nats:2.1.8
Deployment failed. Correlation ID: d9eac6a3-d837-4e82-9b85-38e819c9daf5. Operation registries-2b82a968-f3f0-11ea-b928-d43b040c15bf failed. Resource

[2020-09-11 17:00] nathana1 commented on #457
Docker hub images are in a repository called library so the following sources should work:
--source docker.io/library/nats:2.1.8
--source docker.io/library/influxdb:alpine

[2020-09-11 18:27] smt9020 opened #458 "An error occurred: CONNECTIVITY_CHALLENGE_ERROR"
PS C:\repos\JenkinsACIAgent> az acr check-health -n devopsacicontregistry --yes
Docker daemon status: available
Docker version: 'Docker version 19.03.12, build 48a66213fe, platform linux/amd64'
Docker pull of 'mcr.microsoft.com/mcr/hello-world:latest' : OK
Azure CLI version: 2.11.1
DNS lookup to devopsacicontregistry.azurecr.io at IP 52.168.114.0 : OK
An error occurred: CONNECTIVITY_CHALLENGE_ERRO

[2020-09-11 19:36] sajayantony commented on #458
Is there a proxy or a DNS issue on the client that is issuing the request.
Could you try `az acr repository list -n devopsacicontregistry` in https://shell.azure.com ?
I do see the challenge header

[code]

[code]

[2020-09-13 14:49] Stijnc opened #459 "trigger base image updates after using az acr import"
When importing images from mcr or docker hub I want to be able to trigger base image updates.
Maybe this is already possible, but I failed. Any pointers are appreciated.

Something in the lines of:
1. import an image from an external repository
[code]
2. create a task to track image updates
[code]

Thanks,
Stijn

[2020-09-13 17:08] sajayantony commented on #459
The base image is tracked using the `FROM` clause in your Dockerfile. If the source image is now in an ACR then you should update the Dockerfile to point to that.

[2020-09-13 18:55] Stijnc commented on #459
Understood.
But that would only trigger an application image update and leave the base image untouched.

[2020-09-14 03:50] SteveLasker commented on #459
I think what you’re asking is:
- If my vase image is in an ACR which triggers if you do a push to the referenced tag
- would an az acr import also trigger the base image update notifications.

Is that accurate?

[2020-09-14 07:18] MateuszGalasinski commented on #295
@northtyphoon, sorry I had to wait for another update on Dockerhub, but it worked this time ! Thanks a lot for your help 👍
Although it wasn't totally obvious since I couldn't find a way to see what's misconfigured, when it comes to me, we can close the issue.

[2020-09-15 05:13] hadr10 commented on #457
it works not, thank you

[2020-09-15 05:13] #457 closed

[2020-09-17 16:31] Purneau opened #460 "helm chart push fails if tag contains '+'"
**Describe the bug**
When trying to push a helm chart to ACR that contains a `+` sign in the tag, the push fails with an undescriptive error:

[code]

Executing the same command with a dash instead of a plus sign succeeds:

[code]
**To Reproduce**
Steps to reproduce the behavior: see above

**Expected behavior**
I expect plus signs to be allowed in the tag, as a plus sign is also a default part of

[2020-09-17 16:48] sajayantony commented on #460
/cc @yugangw-msft - @Wwwsylvia

[2020-09-22 02:07] lualvare commented on #427
Hello @northtyphoon,

I am having the same exact concern here **"I would like to attach ACR from tenant A to Tenant B and Tenant C AKS clusters."**,  Could you please elaborate more on the steps given on you udpate https://github.com/Azure/acr/issues/427#issuecomment-666007698 ?

Thank you so much, I appreciate it in advanced.

Luis Alvarez.

[2020-09-22 06:07] northtyphoon commented on #427
@shreelola @lualvare I don't know how to do step-2 programmatically. We internally also need to file a ticket to Azure Active Directory team to do it. May I suggest you file a ticket to Azure Active Directory for assistance?

Alternatively, you may consider to create a token for each of your customers. They can use the token as ImagePullSecrets in AKS to pull images from your ACR.
https://docs.mic

[2020-09-25 16:25] maxwolffe opened #466 "ACR authentication with token credentials is inconsistent (basic auth not accepted, but requested in 401 response)"
Hey all, first time ticket, love ACR in general, let me know if anything in here is unclear :)

**Describe the bug**
The tokens feature (in preview) seems to have inconsistent authentication semantics:
   a. Token credentials provided in basic authentication fails but basic authentication is accepted with access key credentials.
   b. Azure responds to failed authentication requests with an auth h

[2020-10-06 08:58] assafbari commented on #427
@shreelola, I've encountered the same issue.
I was able to solve it by creating a multi-tenant SPN in **tenant B** and grant it with the permission of ACRPull over **tenant A** ACR as @northtyphoon suggested.

There is one important missing step in the above solution in order to make it works:
You need to give **Tenant A** access to the multi-tenant SPN by requesting a sign-in using a browser as d

[2020-10-09 03:47] yugangw-msft commented on #466
The repository based token is supposed to be consumed through basic auth. Protocol wise it is same like admin user account.  @maxwolffe, want to confirm the registry name is `testingmicroservices`, and I will cross check the server log to see the root cause

[2020-10-09 03:51] maxwolffe commented on #466
@yugangw-msft - Thanks for the response.

GoogleContainerTools/jib#2784 has been resolved, they changed their auth flow to use bearer auth when the first response from Azure returned WWW-Authenticate: Bearer and authentication with tokens succeeded.

The registry name is mwolffetestingmicroservices.azurecr.io.

I could probably recreate this issue for you using Jib 2.5.0 or earlier if it'd be help

[2020-10-09 19:40] yugangw-msft commented on #466
@maxwolffe, thanks for the information

@shizhMSFT, on repo based token, does it work with basic auth? On this error, it appears we treated the repo-token as the service principal name which obviously won't work. I am looking registry activity between `(datetime(2020-09-24 14:34:41) .. datetime(2020-09-24T14:34:45))`

There is another issue happening earlier that through the bearer challenge toke

[2020-10-09 20:34] chanseokoh commented on #466
Looks like there's a bit of confusion, so allow me to clarify! Notice that Jib was interacting with *two* repositories: one for pulling and the other for pushing. Let's call them "base-repo" and "target-repo". Note that the "target-repo" is irrelevant of the failure in the auth flow we're talking about.

-  "target-repo" for pushing: Jib did request a bearer token with both push and pull access. T

[2020-10-10 02:49] shizhMSFT commented on #466
@yugangw-msft The [repository-scoped permissions (preview)](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-repository-scoped-permissions) feature is designed to be working only with bearer auth in the current stage.

By default, ACR challenges for bearer auth with `Www-Authenticate: Bearer` unless bearer auth is explicitly disabled via CSS support tickets. If the clie

[2020-10-10 03:17] yugangw-msft commented on #466
@shizhMSFT, thanks for the clarification!

[2020-10-13 15:54] yugangw-msft commented on #466
Closing as no follow up is required from ACR

[2020-10-13 15:54] #466 closed

[2020-10-13 15:57] maxwolffe commented on #466
@yugangw-msft  - is it not an issue that ACR is challenging with Basic auth (per @shizhMSFT's comment), but only accepts Bearer auth?

Or is it the case that tokens will support basic auth in the future?

[2020-10-14 14:07] wronda commented on #294
@ankurkhemani Adding the `dependsOn` as you've stated doesn't solve the issue in our case. Are you sure this was done with `complete` mode. Any other pointers you could give? This is still an issue for us.

[2020-10-14 15:38] Starkteetje opened #475 "ACR does not expose Notary health endpoint"
**Describe the bug**
The [ACR documentation](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-content-trust#behind-the-scenes) mentions that "Azure Container Registry [...] is compatible with the Notary Server API". The Notary server API in the version recommended by Azure (0.6.0) [exposes a health endpoint](https://github.com/theupdateframework/notary/blob/v0.6.0/serve

[2020-10-15 17:38] karatedog opened #476 "Unable to Import public Docker image"
**Describe the bug**
I'm unable to import certain images from Docker Hub to Azure Container Registry using 'az acr import'

`Deployment failed. Correlation ID: 039d8a3f-5938-467f-b97d-5b5f403d6439. Operation registries-feeccf4f-0f04-11eb-aecd-0b70a1ccdcda failed. Resource /subscriptions/5170570b-48b6-414d-86b4-xxxxxxxxxx/resourceGroups/prod-rg-devtools/providers/Microsoft.ContainerRegistry/registr

[2020-10-15 19:21] yugangw-msft commented on #476
This looks like a bug to me CC @nathana1

[2020-10-15 19:30] sajayantony commented on #476
@karatedog - Looks like this image requires authentication- I was not able to view this image.
[code]

[2020-10-15 23:47] ankurkhemani commented on #294
@wronda Can you please also remove the `"condition": false` from home replication. It was a workaround that was needed earlier. After this fix, we don't need it anymore.

[2020-10-16 08:06] karatedog commented on #476
This issue states the opposite: https://github.com/Azure/acr/issues/196 , that the 'library/' is a must.

To summarize:
1. **--source docker.io/library/python** creates a "library/python" repository at the ACR end.
2. **--source docker.io/python** fails with same error as "docker.io/library/axoniq/axonserver:latest" -> authentication required
3. **--source docker.io/library/hello-world:latest** cr

[2020-10-16 17:18] toddysm commented on #214
This issue is now locked.

If you're experiencing a performance problem with your Azure container registry, such as delays pushing images, see the following topics:

* [Troubleshoot registry performance](https://docs.microsoft.com/azure/container-registry/container-registry-troubleshoot-performance)
* [Check the health of an Azure container registry](https://docs.microsoft.com/azure/container-regi

[2020-10-19 16:21] nathana1 commented on #476
If the image is in the library repository (https://hub.docker.com/u/library) then library is needed.  axoniq is it's own repostiory (https://hub.docker.com/u/axoniq).  In general it doesn't appear that there are 'multi-level' repositories in docker hub.

[2020-10-19 23:01] shahzzzam commented on #451
@andyzhangx could this be a reason it might try multiple wrong keys (credentials) from the keyring first before getting the right auth? That might also explain why sometimes it takes longer for some pods?

https://github.com/kubernetes/kubernetes/blob/442a69c3bdf6fe8e525b05887e57d89db1e2f3a5/pkg/kubelet/kuberuntime/kuberuntime_image.go#L58

[2020-10-20 17:57] vishu42 opened #478 "unable to send local context to buildx"
**Describe the bug**
While trying to build an image with az acr run and buildx, it always says Dockerfile not found even if Dockerfile is present in path.
Error msg -  error opening dockerfile: Dockerfile, error: open Dockerfile: no such file or directory
**To Reproduce**
Steps to reproduce the behavior:
1. After following this - https://github.com/Azure/acr/tree/main/docs/tasks/buildx#run-buildx-

[2020-10-20 22:01] shahzzzam commented on #478
Hi @vishu42 , can you try to run the the Task using following command instead?

[code]

You might need to pass in local context `.`. instead of `/dev/null`. The example uses `/dev/null` because the context is remote.

[2020-10-21 07:17] vishu42 commented on #478
ah right - its working now @shahzzzam

[2020-10-23 13:05] ddokleja commented on #425
Hello,

this is actually a problem when using a combination of on-premise DNS servers and private link. We are unable to use myregistry.azurecr.io, as this always points to the public IP. What we did is create a DNS forwarder for *.privatelink.azurecr.io on on-premise DNS servers, and while this works, we're getting the same SSL problem:

Failed to pull image "myregistry.privatelink.azurecr.io..."

[2020-10-23 15:20] Starkteetje commented on #475
Hi @SteveLasker
thanks for the answer. We're building an [admission controller](https://github.com/sse-secure-systems/connaisseur) to verify trust data of containers being deployed in Kubernetes. Since Azure features DCT in ACR as the only one of the big clouds, we tried also integrating with it as a notary. We've now worked around it by exposing a special is_acr flag in our config and then not ch

[2020-10-23 19:01] SteveLasker opened #479 "Add support for - in registry names"
**What is the problem you're trying to solve**
When creating multiple registries, for a specific entity, such as acme-rockets, trying to create:
- `acme-rockets-dev` becomes `acmerocketsdev`
- `acme-rockets-staging` becomes `acmerocketsstaging`
- `acme-rockets-prod` becomes `acmerocketprod`

**Describe the solution you'd like**
Support for `-` in registry names.

[2020-10-27 15:29] SteveLasker commented on #476
Docker has a special casing for official images that live under library.
This is part of the special casing of a default registry. Which, we're hoping to change in the future: [Is It Time to Change How We Reference Container Images?](https://stevelasker.blog/2020/10/21/is-it-time-to-change-default-registry-references/)

So, unfortunately, while we could special-case this behavior in [ACR Import](h

[2020-10-27 16:02] nadworny commented on #271
Totally agree

[2020-10-27 17:51] SteveLasker opened #480 "ACR Tasks Credentials should list keyvault references"
**What is the problem you're trying to solve**
When adding credentials to ACR Tasks, we mask the configuration of the username/password in `az acr task show`, which is appropriate for static values.
[code]
**Describe the solution you'd like**
When configured to keyvault, we should help the customer understand which keyvault secret is configured:
[code]
**Additional context**
Add any other context

[2020-10-27 18:42] karatedog commented on #476
But as a newbie, I don't have a clue if an image is in the "library" as the Docker site of a certain image does not contain this information directly. The 'docker pull' format are the same for axonserver and hello-world as well which means the differences of library and non-library are handled behind the scenes (or irrelevant).
The 'Hello world' Docker site is: https://hub.docker.com/_/hello-world

[2020-10-27 19:05] SteveLasker commented on #476
All great points. There's some auth work (#281) and performance work we need to improve with import, so we'll queue this up for our next semester planning (2021-h1) as who doesn't want to get past 2020 ASAP.
Thanks for the post and reminder to keep the internal complexities from the users.

[2020-10-27 19:24] SteveLasker opened #481 "ACR Task Push Step to support retagging"
**What is the problem you're trying to solve**
Minimizing the number of steps required, while reducing the time to execute

**Describe the solution you'd like**
In some scenarios, an image is pulled with a specific registry and/or tag. The image should be pushed to the current registry.
To achieve this I must write separate steps for pull, tag, tag, tag, push [collection]
The ask is to incorporate

[2020-10-27 19:33] #478 closed

[2020-10-27 19:56] SteveLasker opened #482 "ACR Tasks `task.yaml` expansion evaluation for debugging"
**What is the problem you're trying to solve**
When debugging tasks, it's very tedious to debug the results of go templating.
When errors occur, the line numbers don't reflect the numbers of the `tasks.yaml` authored, rather the expanded line numbers which can send you to very different areas.
There are additional challenges with `-` in `.` notation, or other character escaping.

**Describe the so

[2020-10-28 00:31] sajayantony commented on #482
Ideally it would be good if we could just spit out the expanded yaml on the client. The issue here is that there are secrets. Overall you are hitting the parts that need improvements for faster iteration.

[2020-10-28 00:54] SteveLasker commented on #482
Yup, faster iteration (aka debugging) is definitely the core issue. Queued up for next semester

[2020-11-02 18:16] wkanth opened #486 "image push to acr takes forever, reports EOF sometimes"
ACR is in WestUS region. Any suggestions / tips to try ?

[2020-11-03 14:46] #486 closed

[2020-11-03 14:46] wkanth commented on #486
working now

[2020-11-03 15:13] SteveLasker commented on #486
Happy to hear things are working. To help self-diagnose problems, please give the health check a try: https://aka.ms/acr/health-check

[2020-11-03 16:28] rocketraman commented on #425
Agreed with this, I'm having the same issue.

[2020-11-03 16:49] rocketraman commented on #425
The solution for now appears to be to change your client's split horizon DNS to direct azurecr.io to your DNS infrastructure that returns the private IP. However, this directs all registries to that DNS, and does not allow an explicit split horizon DNS setup where only one registry should be directed to that DNS infrastructure, and other's should continue to use the public DNS value. However, I'm

[2020-11-03 16:59] rocketraman commented on #425
Where this is still a problem is two different VPN connections, one to network A in one subscription, network B in another.

I want to direct on-prem DNS queries to:

a.privatelink.azurecr.io

to one DNS server and

b.privatelink.azurecr.io

to another. Here I can setup my split DNS like this:

server=/a.privatelink.azurecr.io/10.1.0.0
server=/b.privatelink.azurecr.io/10.2.0.0

If I have to access

[2020-11-03 17:40] rocketraman opened #488 "Add *.privatelink.azurecr.io to ACR registry certificates"
**What is the problem you're trying to solve**
This is a follow-up to https://github.com/Azure/acr/issues/425.

According to @r3-jerrysteele:

However, this does not work properly in situations in which different DNS servers must be used for different privatelink registries. For example, two different on-prem connections to Azure, one to network A in one subscription, network B in another. Say I w

[2020-11-03 19:25] rocketraman commented on #488
On second thought, this is not required: I already have `a.azurecr.io` and `b.azurecr.io` which can be routed appropriately.

[2020-11-03 19:25] #488 closed

[2020-11-03 19:46] sajayantony commented on #458
Closing this since there has been no activity. Please follow feel free to open a ticket incase you are facing more connectivity issues.

[2020-11-03 19:46] #458 closed

[2020-11-05 22:37] rocketraman commented on #366
@jmaitrehenry Thank you for posting your solution, I made the same mistake of providing the service principal name instead of the application id at cluster creation time, and the link you posted provides the mechanism to update the credentials.

@marcosflobo FYI, you shouldn't need to specify imagePullSecrets in the deployemnt if you have properly attached the registry to the cluster.

[2020-11-05 22:41] rocketraman commented on #366
Its not surprising people are making this mistake: the documentation is totally useless:

![image](https://user-images.githubusercontent.com/53049/98304482-0c78ea00-1f8e-11eb-8a50-520d26ce89fe.png)

Gee, thanks.

[2020-11-06 04:00] SteveLasker opened #489 "az acr task credential add supports enabling permissions to keyvault"
**What is the problem you're trying to solve**
When using `acr task credentials` that would typically store values in keyvault for general security reasons, it's yet another tedious step to establish rights.

For example, the following two steps are required:
[code]
**Describe the solution you'd like**
Consolidate these two steps into:
[code]
If the user needs multiple keyvaults, they can still us

[2020-11-12 10:12] XBeg9 opened #490 "CONNECTIVITY_FORBIDDEN_ERROR, HELM_COMMAND_ERROR, NOTARY_VERSION_ERROR"
**Describe the bug**
Can't log in into a private azure container registry

**To Reproduce**
Steps to reproduce the behavior:

1. `az acr check-health -n asthub --yes --ignore-errors`

**Expected behavior**
it should path the checks

**Any relevant environment information**

- OS: Mac
- Azure CLI: {
  "azure-cli": "2.14.2",
  "azure-cli-core": "2.14.2",
  "azure-cli-telemetry": "1.0.6",
  "extensio

[2020-11-12 11:40] XBeg9 commented on #490
This was a vnet peering issue. Problem solved.

[2020-11-12 11:40] #490 closed

[2020-11-12 11:43] themegaphoenix commented on #264
Any update on this?
They added a `--keep` flag, but I get unknow flag, so has this been implemented?
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auto-purge#use-the-purge-command
Thanks

[2020-11-16 15:53] LaxmanPanguluri opened #491 "Helm Failing to search latest charts stored in container registry after migrating to helm v3 from az acr helm"
**Describe the bug**
Helm3 not able to read charts present in ACR on migration from az acr helm..This was noticed few days back. But when i am trying to pull the specific version of the chart i am able to pull it..But helm dep up and the remaining commands are not able to read the latest chart..Is it an issue with az acr helm migration or something to do with helm itsefl? I have used HELM_EXPERIME

[2020-11-16 17:39] SteveLasker commented on #491
Hi @LaxmanPanguluri,
When you say helm migration, can I assume you've pulled the charts locally from `az acr helm` and pushed them with `helm registry` ?
http://aka.ms/acr/helm
Unfortunately, we couldn't make the charts accessible across helm repos and helm registries, so you do need to pull/push them with the `helm registry` feature.
If you're still having trouble, please open a support ticket so

[2020-11-16 18:08] LaxmanPanguluri commented on #491
We haven't done pulling the charts locally from az acr helm for existing charts, but the current charts we are saving them locally and pushing them to registry. When i do helm dep up it is not pulling the latest charts(which are pushed using helm3) instead it is pulling the last charts that we pushed using helm2.

Any suggestions on why it is not pulling the latest charts when i do helm dep up

[2020-11-16 22:45] toddysm opened #492 "Repository soft-delete"
**What is the problem you're trying to solve**
Customers delete repositories by mistake or because of bugs in their automation. They should be able to restore the repository if deleted by mistake.

**Describe the solution you'd like**
Implement soft-delete functionality and enable customers' control.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-11-16 22:55] toddysm opened #493 "Support for selective synchronization of images from the cloud ACR to on-prem"
**What is the problem you're trying to solve**
To support edge scenarios for IoT Edge, Azure Arc and Azure Stack with limited network connectivity, ACR images must be present on-premises.

**Describe the solution you'd like**
On-premise instance of ACR will enable selective synchronization of images from the Cloud ACR.

**Additional context**
Add any other context or screenshots about the feature

[2020-11-17 22:06] sajayantony commented on #466
There are multiple fundamental issue with Basic Auth and for ACR it's more about cost vs benefit of supporting multiple authentication mechanism.  So from a direction standpoint we can assume that Bearer would most likely be the only supported model.

[2020-11-30 13:50] bczudek opened #494 "Cannot provision ACI/Azure WebApp from ACR with private endpoint and disabled public access"
**Describe the bug**
Following the guide: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link I have created Azure Container Registry with private endpoint (including private DNS zone) and disabled public access. I managed to login to it and pull/push images from the vm connected to the same virtual network however I couldn't create ACI or Azure WebApp on cont

[2020-11-30 14:28] MatthiasWinzeler commented on #351
Hi @shahzzzam - thanks for the hint with `cache: enabled`!

While implementing this in our pipelines we found out that the [bootstrap step](https://github.com/Azure/acr/tree/main/docs/tasks/buildx#run-buildx-in-acr-tasks) which publishes the `buildx` image to the registry seems to not be needed anymore when using `cache: enabled`. Maybe you want to mention all this in the docs :)

For anyone out t

[2020-11-30 17:55] yugangw-msft commented on #494
It is a known issue that ACR and WebAPP is not able to access ACR behind the firewall, and they are working on it.
CC @dlepow we need to call out in the doc if have not

[2020-11-30 19:14] Nordes opened #495 "show-manifests and show does not give the same data for changeableAttributes"
**Describe the bug**
When I do a `az acr repository show-manifests -n myacr --detail` it does not give the same data as with `az acr repository show -n myacr --image myimagename:1.0.0` within the changeableAttributes JSON Object.

**To Reproduce**
Steps to reproduce the behavior:
1. Use your subscription, and update an image to have deleteEnabled to false (`az acr repository update -n myacr --imag

[2020-11-30 19:19] Nordes commented on #495
I just saw that I should post this into https://github.com/Azure/azure-devops-cli-extension instead. Now re-creating.

[2020-12-01 22:51] AntonioVT commented on #495
Hi @Nordes

The `az acr repository update -n myacr --image myimagename:1.0.0 --delete-enabled false` is targeting the tags entity.
If you need to update the manifest entity, please use the digest in the --image parameter. For example:

`az acr repository update -n MyRegistry --image hello-world@sha256:abc123 --write-enabled false`

If you run the `az acr repository show-manifests` again, you shoul

[2020-12-02 11:17] akshay-mahakalkar opened #496 "Image signature is not visible when image is imported from one acr to other acr"
**Issue Description**
I have signed image in Azure Container Registry (ACR) with Docker Content Trust (DCT). Images are getting signed properly. But when images are imported from one ACR to another ACR image signature is not visible.
I am importing images with az acr import command
Is this an expected behavior?
Is there any workaround to preserve image signature when moved from one ACR to other?

[2020-12-02 12:05] aviral26 commented on #496
This is a known limitation of the current Docker Content Trust implementation and there is an ongoing effort to address this and other concerns around signatures with Notary V2. More information here: https://github.com/notaryproject/requirements
cc @shizhMSFT , @SteveLas , @sajayantony

[2020-12-02 12:37] akshay-mahakalkar commented on #496
Hi @aviral26 ,

Thanks for the update. It would be great if you could please suggest an alternative way of maintaining the trust of images between ACR's in production environments.

[2020-12-02 17:16] northtyphoon commented on #495
@AntonioVT I have a related question. If I disable the deletion on a tag, does it also effectively disable the deletion on the manifest associated with the tag? Can I assume I cannot delete a manifest without deleting the tag reference it first?

[2020-12-02 18:16] AntonioVT commented on #495
@northtyphoon Correct, you will not be able to delete a manifest without deleting the tag reference it first.
Tried that scenario and was unable to delete the manifest.

[2020-12-02 20:15] SteveLasker commented on #496
Hi @akshay-mahakalkar, the core problem is there is no really viable solution. There are some various efforts from [Palo Alto Networks Prisma Cloud](https://www.paloaltonetworks.com/prisma/cloud), [docker-lock](https://github.com/safe-waters/docker-lock) and I just heard of [connaisseur](https://github.com/sse-secure-systems/connaisseur). But, none of them really solve the problem as the e2e stack

[2020-12-03 13:17] Nordes commented on #495
Btw, thanks all for the answers ;).

[2020-12-03 13:17] #495 closed

[2020-12-05 03:32] andyzhangx commented on #451
random authentication failure when pulling image from multiple container registries using Azure managed identity

**Issue details**:

On an Azure managed identity enabled cluster, user may hit random authentication failure when pulling images from multiple container registries simultaneously, e.g. pulling images from multiple ACRs, or pulling one image from ACR and pulling another image from docke

[2020-12-08 00:22] sajayantony commented on #408
Closing this item since there is no action item at this point.

[2020-12-08 00:22] #408 closed

[2020-12-08 00:24] sajayantony commented on #318
Closing due to inactivity.

[2020-12-08 00:24] #318 closed

[2020-12-08 00:32] sajayantony commented on #295
Please re-open if this is still an issue.

[2020-12-08 00:32] #295 closed

[2020-12-08 22:15] dlepow commented on #494
@bczudek - This limitation is called out in a Note at the top of the article. Mentions ACI specifically (though not WebApp):

**Note**

Azure Security Center can't currently perform image vulnerability scanning in a registry that restricts access to private endpoints, selected subnets, or IP addresses. Instances of certain Azure services including Azure DevOps Services and Azure Container Instance

[2020-12-09 00:30] SteveLasker commented on #496
Closing this issue as this is "by design" as we move to a more complete solution with Notary v2.
To get a sense of where ACR is going with Notary v2, here's a mock of the experience we're shooting for. Below, you can see ACR supports multiple artifact types. You'll then be able to see what the artifact type is, if it's signed, if it has meta-data, and possibly an SBOM.
![image](https://user-images

[2020-12-09 00:30] #496 closed

[2020-12-10 07:56] cole-bishop opened #497 "Updating task values doesn't work"
**Issue**
I'm unable to update the values in a scheduled task.

**To Reproduce**
1.  Create a trivial task such as:
[code]
2.  Update that task:
[code]
**Expected behavior**
The output of the update should display the newly set value. That is, step.values[] should display it.
[code]

 - OS: Windows/WSL2
 - Azure CLI: 2.15.1
 - Docker version: 19.03.13, build 4484c46d9d

[2020-12-10 08:30] northtyphoon commented on #497
The above `acr task create` command created a context-less encoded task. There are some limits in CLI command to update encoded task. But I agree we should fix it.

For now, you can rerun "az acr task create" with the additional `--set` parameters to update the task.

/cc: @rosanch @jaysterp

[2020-12-11 21:06] cfogg6 opened #498 "acr import: --username and --password ignored"
**Describe the bug**
--username and --password entries don't seem to be working for az acr import. I'm trying to follow [this doc](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images#import-from-an-azure-container-registry-in-a-different-ad-tenant) as I plan to import between ACRs in different tenants, but I'm running into an error when using the same subscri

[2020-12-12 00:28] yugangw-msft commented on #498
Because "-r" is provided, so import accesses source registry through ARM under MI's identity which would fail for permissions; I believe if you can just remote `-r`, the command should work.
Also to simplify, since `contributor` is already provided, `acrpush` or `acrpull` is no longer needed. https://aka.ms/acr/authorization

[2020-12-12 00:30] yugangw-msft commented on #498
Meanwhile, CLI command should be updated to warn when both `--source` and `--registry` are provided

[2020-12-12 00:59] yugangw-msft commented on #498
Please re-activate if the advice doesn't work

[2020-12-12 00:59] #498 closed

[2020-12-15 17:36] alanmeadows opened #499 "Quarantine Preview and Qualys Interaction"
**Describe the bug**
The combination of the Quarantine preview feature and Qualys (Azure Defender CVE Scanning) do not work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1.  Enable quarantine on an ACR (see #210)
2.  Enable Azure Defender for Container Registries to On (enables Qualys CVE scanning)
3.  Push an image to the ACR

**Expected behavior**
When a container image is push

[2020-12-15 17:56] phatcher opened #500 "Multiple tags for acr import"
**What is the problem you're trying to solve**
I migrate my images from a devtest to production container registry when they pass a certain stage in the CI/CD pipeline using acr import,  however, this only associates the build id with the target image.

**Describe the solution you'd like**
A version of acr import that takes all associated tags of the source image, so as well as the DevOps buildId,

[2020-12-17 08:14] Wwwsylvia commented on #500
Hi @phatcher, thanks for the feature request!
In this scenario, would it help if you first `az acr repository show-tags -n myregistry --repository myrepo` to query tags of the source image, and then import them to the target?

[2020-12-17 08:21] Wwwsylvia commented on #499
Thanks @alanmeadows for reporting this! We will look into it and keep you updated.

[2020-12-17 11:32] phatcher commented on #500
@Wwwsylvia That retrieves all tags for that repo, what I'm interested in are the tags associated with a particular other tag i.e. the build id, sorry if I wasn't clear before.

The DevOps task looks something like this...

`az acr import --name myprodacr --source mydevacr/myapi:$(Release.Artifacts._Api.BuildId) -u $(registryUserName) -p $(registryPassword) --force`

I can't carry over the other as

[2020-12-18 09:16] Wwwsylvia commented on #500
@phatcher  Do you mean something like below?

Suppose you have some tags pointing to the same image in registry `mydevacr`
`mydevacr.azurecr.io/myapi@sha256:123` tagged by `myapi:${buildId}`, `myapi:${hashcode}`, `myapi:1.0`

And you run a single `az acr import` command, then the image will be imported and automatically tagged
`myprodacr.azurecr.io/myapi@sha256:123` tagged by `myapi:${buildId}`, `

[2020-12-18 10:54] phatcher commented on #500
Exactly

[2020-12-21 02:27] Wwwsylvia commented on #500
@yugangw-msft  Please see my last reply. Do we have plan to support that?

[2020-12-22 00:28] yugangw-msft commented on #500
We have a work item with similar ask: https://github.com/Azure/acr/issues/48. @phatcher, please let me know if the work is not sufficient.

[2020-12-22 10:04] phatcher commented on #500
@yugangw-msft Did you really mean #48 - that's about 3 years old and just is docs regarding CircleCI?

[2020-12-22 17:53] yugangw-msft commented on #500
Sorry for the typo @phatcher , I meant the #481

[2020-12-22 18:02] phatcher commented on #500
@yugangw-msft I think it's part of it, what I don't see from that is how I would determine what tags are associated with a particular manifest.

The general point is that I want to use this as part of a CI/CD pipeline and I don't know a priori what tags will exist on a specific image.

[2021-01-08 13:33] sjuratov commented on #381
Hi @mangalorereshmi , I am trying to create support request to enable anonymous pull on my ACR but because my subscription is "Visual Studio Enterprise", I don't have an option to create requests for Technical support. I don't see any other option that would allow me to submit request.

Is there a way for me to be somehow enabled?

[2021-01-16 01:05] SteveLasker commented on #412
For those tracking updates, I've made a few edits to identify that we've had to move this work out another 6 months.

[2021-01-16 01:05] SteveLasker commented on #380
For those tracking updates, I've made a few edits to identify that we've had to move this work out another 6 months.

[2021-01-25 19:39] GrumpyMeow opened #503 ""Squash" with az acr tasks ?"
Hi,

At the company I work for we have Windows as platform and as such we are also using Windows-containers for development.
We build our containers using ACR tasks and quick-tasks. During the build of the containers we download, install and remove the installation-files in one large RUN-command. This prevents the installation-files to become part of the image.

We also build a SqlServer-container

[2021-01-27 14:59] benc-uk commented on #460
Any update or workaround?

[2021-01-27 23:29] yugangw-msft commented on #460
@shizhMSFT, do we have any workaround before we fix at service end?  I assume `+` is a valid character for version. Please comment

[2021-01-28 02:21] toddysm commented on #419
Duplicate of #493

[2021-01-28 02:21] #419 closed

[2021-01-28 03:15] shizhMSFT commented on #460
@yugangw-msft It is by design that we don't support `+`, which is for build metadata.

[2021-01-28 06:38] #460 closed

[2021-01-29 02:56] sajayantony commented on #500
So there are potentially 2 asks here.
1. Enable an API that retrieves all tags for an image.  Today you can only query the first 10 tags of an image
[code]
2.  Request import to pull in all the tags..

[2021-01-29 11:38] corrupt-code opened #506 "Unauthorized error when push docker image even though acr login was successful"
**Describe the bug**
I am trying to push a docker image from my local system to ACR. I was able to login to ARC with following command

az acr login -n <repo name>

Now when I try to push an image to ACR, I get unauthorized error. I checked my permissions on Azure portal and I am an owner of the resource group.

I receive below error
unauthorized: authentication required, visit https://aka.ms/acr/

[2021-02-01 22:52] nathana1 opened #508 "az acr import fails when specifying a source with a port"
Repro:
az acr import -n MyRegistry --source myprivateregistry.com:5000/hello-world:latest -t hello-world:latest

Expected:
imports hello-world:latest into myregistry.azurecr.io

Actual:
fails with any of several non helpful error messages

[2021-02-03 15:34] scorpionlion commented on #499
I can confirm that the behaviour in case of Importing the image from other registry - using az acr import is as expected. The image gets scanned and the results are available. Also noticed that in case of import - manifest and tag are available in ACR, but user without ACRQurantineReader/Writer permission get access denied on trying to get details from the portal. But in case of push manifest and

[2021-02-03 16:26] domenichelfenstein commented on #457
Strangely I get the same error when I try to import an image:
`az acr import --name <myRegName> --source docker.io/library/jsreport/jsreport:2.3.0-full`

What am I doing wrong?
(did a `az login` before)

[2021-02-03 20:04] SteveLasker commented on #499
Unfortunately, Quarantine is not yet complete, and not yet available for consumption.
We have work to complete in the next few months as a predecessor and hope to release Quarantine at a future date.